.elementor-66 .elementor-element.elementor-element-0315e7d{margin-top:25px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-8820ac5{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-e5fc4b0 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:40px;}.elementor-66 .elementor-element.elementor-element-e5fc4b0 > .elementor-element-populated > .elementor-widget-wrap{padding:15px 25px 15px 25px;}.elementor-66 .elementor-element.elementor-element-e5fc4b0{animation-delay:200ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-6137e9d{animation-delay:400ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-f32f312{margin-top:80px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-0a5e40b > .elementor-element-populated > .elementor-widget-wrap{padding:15px 40px 15px 15px;}.elementor-66 .elementor-element.elementor-element-54f19db .elementor-heading-title{color:#000000;font-family:"Poppins", Montserrat;font-size:25px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-66 .elementor-element.elementor-element-54f19db > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-66 .elementor-element.elementor-element-8bd9063{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-08d8d3c > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 40px;}.elementor-66 .elementor-element.elementor-element-08d8d3c{animation-delay:200ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-d3fe5a2 .elementor-heading-title{color:#000000;font-family:"Poppins", Montserrat;font-size:25px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-66 .elementor-element.elementor-element-d3fe5a2 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-66 .elementor-element.elementor-element-6464675{animation-delay:400ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-2f7c469{animation-delay:400ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-354cb73{margin-top:75px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-8ae33de{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-66 .elementor-element.elementor-element-210fc5f:not(.elementor-motion-effects-element-type-background), .elementor-66 .elementor-element.elementor-element-210fc5f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#212121;}.elementor-66 .elementor-element.elementor-element-210fc5f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:75px;margin-bottom:0px;padding:90px 15px 90px 15px;}.elementor-66 .elementor-element.elementor-element-210fc5f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-66 .elementor-element.elementor-element-c0e9768 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-66 .elementor-element.elementor-element-c0e9768 .aux-modern-heading-primary{font-family:"Montserrat", Montserrat;font-size:16px;font-weight:500;line-height:19px;letter-spacing:-0.3px;color:#ffffff;margin:0px 0px 12px 0px;}.elementor-66 .elementor-element.elementor-element-c0e9768 .aux-modern-heading-divider{height:2px;width:145px;background-color:#ea384d;}.elementor-66 .elementor-element.elementor-element-c0e9768 .aux-modern-heading-description{color:#ffffff;font-family:"Poppins", Montserrat;font-size:35px;font-weight:bold;line-height:49px;letter-spacing:-0.3px;margin:7px 0px 0px 0px;}.elementor-66 .elementor-element.elementor-element-a9d6130 > .elementor-widget-container{margin:2% -8% 0% -8%;}.elementor-66 .elementor-element.elementor-element-a9d6130{animation-duration:2500ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-8759827{margin-top:80px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-2f2839f > .elementor-element-populated > .elementor-widget-wrap{padding:15px 40px 15px 15px;}.elementor-66 .elementor-element.elementor-element-4ced5f6 .elementor-heading-title{color:#000000;font-family:"Poppins", Montserrat;font-size:25px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-66 .elementor-element.elementor-element-4ced5f6 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-66 .elementor-element.elementor-element-ed8524d > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:35px;}.elementor-66 .elementor-element.elementor-element-6ce24f4{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-6367954{animation-delay:200ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-0a53089 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 40px;}.elementor-66 .elementor-element.elementor-element-05254a4{animation-delay:400ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-a0458b1 .elementor-heading-title{color:#000000;font-family:"Poppins", Montserrat;font-size:25px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-66 .elementor-element.elementor-element-a0458b1 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-66 .elementor-element.elementor-element-e30d242{--grid-template-columns:repeat(0, auto);--icon-size:32px;--grid-column-gap:17px;--grid-row-gap:0px;animation-delay:600ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-e30d242 .elementor-widget-container{text-align:left;}.elementor-66 .elementor-element.elementor-element-e30d242 .elementor-social-icon{--icon-padding:0.6em;}.elementor-66 .elementor-element.elementor-element-e30d242 .elementor-icon{border-radius:20px 20px 20px 20px;}.elementor-66 .elementor-element.elementor-element-e30d242 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-66 .elementor-element.elementor-element-cdfc8f6 .elementor-heading-title{color:#000000;font-family:"Poppins", Montserrat;font-size:25px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-66 .elementor-element.elementor-element-cdfc8f6 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-66 .elementor-element.elementor-element-d2a7a7e .mc4wp-form input[type="text"],.elementor-66 .elementor-element.elementor-element-d2a7a7e .mc4wp-form input[type="email"]{transition:all ease-out 0.3s;}.elementor-66 .elementor-element.elementor-element-d2a7a7e .mc4wp-form input[type="submit"]{transition:all ease-out 0.3s;}.elementor-66 .elementor-element.elementor-element-d2a7a7e{animation-delay:600ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-66 .elementor-element.elementor-element-577e5e0{color:#000000;font-family:"Montserrat", Montserrat;font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;}.elementor-66 .elementor-element.elementor-element-577e5e0 > .elementor-widget-container{margin:14px 0px 0px 0px;}.elementor-66 .elementor-element.elementor-element-8ce3038 > .elementor-widget-container{margin:75px 0px 0px 0px;}.elementor-66 .elementor-element.elementor-element-8ce3038{animation-delay:600ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-8d483e3{margin-top:75px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-832efe1{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-e5d76c7{margin-top:80px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-a9fba5e > .elementor-element-populated > .elementor-widget-wrap{padding:15px 40px 15px 15px;}.elementor-66 .elementor-element.elementor-element-efd5797 .elementor-heading-title{color:#000000;font-family:"Poppins", Montserrat;font-size:25px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-66 .elementor-element.elementor-element-efd5797 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-66 .elementor-element.elementor-element-3191673 .pagination li, .elementor-66 .elementor-element.elementor-element-3191673 .pagination li a{font-family:"Montserrat", Montserrat;font-weight:600;}.elementor-66 .elementor-element.elementor-element-3191673{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-ce50e45 .elementor-heading-title{color:#000000;font-family:"Poppins", Montserrat;font-size:25px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-66 .elementor-element.elementor-element-ce50e45 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-66 .elementor-element.elementor-element-8c2f2b5{animation-delay:200ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-66 .elementor-element.elementor-element-74a5c4b{animation-delay:400ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}@media(min-width:768px){.elementor-66 .elementor-element.elementor-element-8820ac5{width:25%;}.elementor-66 .elementor-element.elementor-element-e5fc4b0{width:49.332%;}.elementor-66 .elementor-element.elementor-element-6137e9d{width:25%;}.elementor-66 .elementor-element.elementor-element-0a5e40b{width:75%;}.elementor-66 .elementor-element.elementor-element-8bd9063{width:31.601%;}.elementor-66 .elementor-element.elementor-element-08d8d3c{width:68.378%;}.elementor-66 .elementor-element.elementor-element-56c0c41{width:25%;}.elementor-66 .elementor-element.elementor-element-2f2839f{width:75%;}.elementor-66 .elementor-element.elementor-element-ed8524d{width:65.479%;}.elementor-66 .elementor-element.elementor-element-0a53089{width:34.5%;}.elementor-66 .elementor-element.elementor-element-c73ac0e{width:25%;}.elementor-66 .elementor-element.elementor-element-a9fba5e{width:75%;}.elementor-66 .elementor-element.elementor-element-1b14d34{width:25%;}}@media(max-width:1024px) and (min-width:768px){.elementor-66 .elementor-element.elementor-element-8820ac5{width:100%;}.elementor-66 .elementor-element.elementor-element-e5fc4b0{width:100%;}.elementor-66 .elementor-element.elementor-element-6137e9d{width:100%;}.elementor-66 .elementor-element.elementor-element-0a5e40b{width:60%;}.elementor-66 .elementor-element.elementor-element-8bd9063{width:100%;}.elementor-66 .elementor-element.elementor-element-08d8d3c{width:100%;}.elementor-66 .elementor-element.elementor-element-56c0c41{width:40%;}.elementor-66 .elementor-element.elementor-element-2f2839f{width:60%;}.elementor-66 .elementor-element.elementor-element-ed8524d{width:100%;}.elementor-66 .elementor-element.elementor-element-0a53089{width:100%;}.elementor-66 .elementor-element.elementor-element-c73ac0e{width:40%;}.elementor-66 .elementor-element.elementor-element-a9fba5e{width:60%;}.elementor-66 .elementor-element.elementor-element-1b14d34{width:40%;}}@media(max-width:1024px){.elementor-66 .elementor-element.elementor-element-e5fc4b0 > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-66 .elementor-element.elementor-element-f32f312{margin-top:60px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-08d8d3c > .elementor-element-populated{margin:30px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-66 .elementor-element.elementor-element-08d8d3c > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-66 .elementor-element.elementor-element-354cb73{margin-top:50px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-210fc5f{margin-top:60px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-a9d6130 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-66 .elementor-element.elementor-element-0a53089 > .elementor-element-populated{margin:30px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-66 .elementor-element.elementor-element-0a53089 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-66 .elementor-element.elementor-element-e30d242{--icon-size:16px;--grid-column-gap:10px;}.elementor-66 .elementor-element.elementor-element-e30d242 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-66 .elementor-element.elementor-element-8ce3038 > .elementor-widget-container{margin:40px 0px 0px 0px;}.elementor-66 .elementor-element.elementor-element-8d483e3{margin-top:50px;margin-bottom:0px;}.elementor-66 .elementor-element.elementor-element-e5d76c7{margin-top:60px;margin-bottom:0px;}}@media(max-width:767px){.elementor-66 .elementor-element.elementor-element-0a5e40b > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-66 .elementor-element.elementor-element-210fc5f{padding:35px 15px 35px 15px;}.elementor-66 .elementor-element.elementor-element-2f2839f > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-66 .elementor-element.elementor-element-a9fba5e > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}}/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-0de314c */.elementor-66 .elementor-element.elementor-element-0de314c .aux-col:first-child .vb-small-button{
    width: 20%;
    order: 1;
    align-self: center;
    margin: 0;
    text-align: right !important;
}
.elementor-66 .elementor-element.elementor-element-0de314c .aux-col:first-child .vb-small-button .aux-button{
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: middle;
    
}
.elementor-66 .elementor-element.elementor-element-0de314c .aux-col:first-child .vb-small-button .aux-button .aux-overlay{
    display: none;
}
.elementor-66 .elementor-element.elementor-element-0de314c .aux-col:first-child .vb-small-button .aux-button .aux-text{
    display: none;
    
}

.elementor-66 .elementor-element.elementor-element-0de314c .aux-col:first-child .vb-small-info{
    width: 80%;
    align-self: center;
}

.elementor-66 .elementor-element.elementor-element-0de314c .aux-de-col1 > .aux-col:nth-child(n+2){
    margin-top: 40px;
}

@media (max-width:1023px){
    .elementor-66 .elementor-element.elementor-element-0de314c .aux-de-col1 > .aux-col:nth-child(n+2){
        margin-top: inherit;
    }    
}

@media (max-width:768px){
    .elementor-66 .elementor-element.elementor-element-0de314c .aux-de-col1 > .aux-col:nth-child(n+2){
        margin-top: 30px;
    }    
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-6bf9133 */.elementor-66 .elementor-element.elementor-element-6bf9133 .aux-col:first-child .elementor-column-wrap{
    background-image: none !important;
    background-color: #F5F5F5 !important;
}
.elementor-66 .elementor-element.elementor-element-6bf9133 .aux-col:first-child .vb-small-info .elementor-icon-list-text{
    color: #9E9E9E;
}
.elementor-66 .elementor-element.elementor-element-6bf9133 .aux-col:first-child .vb-small-info .elementor-icon-list-item::after{
    border-color: #9E9E9E;
}
.elementor-66 .elementor-element.elementor-element-6bf9133 .aux-col:first-child .entry-title a{
    color: #000000;
}

.elementor-66 .elementor-element.elementor-element-6bf9133 .aux-col:first-child .vb-small-button .aux-button{
    visibility: hidden;
}
.elementor-66 .elementor-element.elementor-element-6bf9133 .aux-col:first-child .vb-small-cat .elementor-icon-list-text {
    background: rgba(0, 0, 0, 0.1);
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-af4b1ed */.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-col:first-child .vb-small-desc{
    display: block !important;
}

.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-col:first-child .elementor-element{
    text-align: center !important;
}
.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-col:first-child .elementor-element .elementor-inline-items{
    justify-content: center;
}

.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-col:last-child .vb-small-button{
    width: 20%;
    order: 1;
    align-self: center;
    margin: 0;
    text-align: right !important;
}
.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-col:last-child .vb-small-button .aux-button{
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: middle;
    
}
.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-col:last-child .vb-small-button .aux-button .aux-overlay{
    display: none;
}
.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-col:last-child .vb-small-button .aux-button .aux-text{
    display: none;
    
}

.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-col:last-child .vb-small-info{
    width: 80%;
    align-self: center;
}

.elementor-66 .elementor-element.elementor-element-af4b1ed .aux-de-col1 > .aux-col:nth-child(n+2){
    margin-top: 40px;
}

@media (max-width:1023px){
    .elementor-66 .elementor-element.elementor-element-af4b1ed .aux-de-col1 > .aux-col:nth-child(n+2){
        margin-top: inherit;
    }    
}
@media (max-width:768px){
    .elementor-66 .elementor-element.elementor-element-af4b1ed .aux-de-col1 > .aux-col:nth-child(n+2){
        margin-top: 30px;
    }    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0315e7d */.elementor-66 .elementor-element.elementor-element-0315e7d .aux-col{
    height: auto !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-54f19db */.elementor-66 .elementor-element.elementor-element-54f19db .elementor-widget-container{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 13px;
}

.elementor-66 .elementor-element.elementor-element-54f19db .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-66 .elementor-element.elementor-element-54f19db .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-d3fe5a2 */.elementor-66 .elementor-element.elementor-element-d3fe5a2 .elementor-widget-container{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 13px;
}

.elementor-66 .elementor-element.elementor-element-d3fe5a2 .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-66 .elementor-element.elementor-element-d3fe5a2 .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-2f7c469 */.elementor-66 .elementor-element.elementor-element-2f7c469 .aux-col:nth-child(n+2) {
    margin-top: 20px !important;
}

.elementor-66 .elementor-element.elementor-element-2f7c469 .hentry{
    min-height: auto;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-c0e9768 */.elementor-66 .elementor-element.elementor-element-c0e9768 p{
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-a9d6130 */.elementor-66 .elementor-element.elementor-element-a9d6130 .aux-mc-controls{
    margin-top: 75px;
}
.elementor-66 .elementor-element.elementor-element-a9d6130 .aux-bullet::after, .elementor-66 .elementor-element.elementor-element-a9d6130 .aux-bullet::before{
    display: none;
}
.elementor-66 .elementor-element.elementor-element-a9d6130 .aux-bullet{
    background: rgba(84, 84, 84, 1);
    transition: none;
    width: 10px;
    height: 10px;
}
.elementor-66 .elementor-element.elementor-element-a9d6130 .aux-bullet.aux-selected{
    background-image: linear-gradient( 139deg, rgba(234, 56, 77, 1) 0, rgba(211, 16, 39, 1) 100%);   
}

@media (max-width:768px){
    .elementor-66 .elementor-element.elementor-element-a9d6130 .aux-mc-controls{
        margin-top: 35px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-4ced5f6 */.elementor-66 .elementor-element.elementor-element-4ced5f6 .elementor-widget-container{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 13px;
}

.elementor-66 .elementor-element.elementor-element-4ced5f6 .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-66 .elementor-element.elementor-element-4ced5f6 .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-a0458b1 */.elementor-66 .elementor-element.elementor-element-a0458b1 .elementor-widget-container{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 13px;
}

.elementor-66 .elementor-element.elementor-element-a0458b1 .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-66 .elementor-element.elementor-element-a0458b1 .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-cdfc8f6 */.elementor-66 .elementor-element.elementor-element-cdfc8f6 .elementor-widget-container{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 13px;
}

.elementor-66 .elementor-element.elementor-element-cdfc8f6 .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-66 .elementor-element.elementor-element-cdfc8f6 .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for aux_mailchimp, class: .elementor-element-d2a7a7e */.elementor-66 .elementor-element.elementor-element-d2a7a7e .vb-mailchimp{
    position: relative;
}

.elementor-66 .elementor-element.elementor-element-d2a7a7e .vb-mailchimp > button{
    position: absolute;
    right: 22px;
    top: 50%;
    padding: 8px;
    background: #fff;
    transform: translateY(-50%);
}
.elementor-66 .elementor-element.elementor-element-d2a7a7e .vb-mailchimp > button > i{
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

.elementor-66 .elementor-element.elementor-element-d2a7a7e .vb-mailchimp > input {
    padding: 22px;
    border-radius: 35px;
    border-color: rgba(224, 224, 224, 1);
    font-family: Montserrat;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.5px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-efd5797 */.elementor-66 .elementor-element.elementor-element-efd5797 .elementor-widget-container{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 13px;
}

.elementor-66 .elementor-element.elementor-element-efd5797 .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-66 .elementor-element.elementor-element-efd5797 .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-3191673 */.elementor-66 .elementor-element.elementor-element-3191673 .aux-col::after{
    content: '';
    display: block;
    margin-top: 30px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}
.elementor-66 .elementor-element.elementor-element-3191673 .aux-col:last-child::after{
    display: none;
}

.elementor-66 .elementor-element.elementor-element-3191673 .aux-next-prev-posts{
    margin-bottom: 0;
}

.elementor-66 .elementor-element.elementor-element-3191673 .aux-pagination li.page.active a,  .elementor-66 .elementor-element.elementor-element-3191673 .aux-pagination li.page.active span{
    background-image: linear-gradient(134deg, #ea384d 0%, #d31027 100%);
    color: #fff;
    border: 0;    
}

.elementor-66 .elementor-element.elementor-element-3191673 .aux-pagination li.page > span, .elementor-66 .elementor-element.elementor-element-3191673 .aux-pagination.aux-round li.page > a, .elementor-66 .elementor-element.elementor-element-3191673 .aux-pagination li.prev > span, .elementor-66 .elementor-element.elementor-element-3191673 .aux-pagination li.prev > a, .elementor-66 .elementor-element.elementor-element-3191673 .aux-pagination li.next > span, .elementor-66 .elementor-element.elementor-element-3191673 .aux-pagination li.next > a{
    border-radius: 10px;
}

.elementor-66 .elementor-element.elementor-element-3191673 .pagination{
    padding-left: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ce50e45 */.elementor-66 .elementor-element.elementor-element-ce50e45 .elementor-widget-container{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 13px;
}

.elementor-66 .elementor-element.elementor-element-ce50e45 .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-66 .elementor-element.elementor-element-ce50e45 .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-8c2f2b5 */.elementor-66 .elementor-element.elementor-element-8c2f2b5 .vb-small-desc{
    display: none;
}
.elementor-66 .elementor-element.elementor-element-8c2f2b5 .vb-small-title{
    order: 1;
    margin-top: 13px; 
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-74a5c4b */.elementor-66 .elementor-element.elementor-element-74a5c4b .hentry{
    min-height: auto;
}/* End custom CSS */