.elementor-68 .elementor-element.elementor-element-2d60dbf1:not(.elementor-motion-effects-element-type-background), .elementor-68 .elementor-element.elementor-element-2d60dbf1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#212121;}.elementor-68 .elementor-element.elementor-element-2d60dbf1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:140px;margin-bottom:0px;padding:90px 15px 90px 15px;}.elementor-68 .elementor-element.elementor-element-2d60dbf1 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-68 .elementor-element.elementor-element-ad32007 .elementor-heading-title{color:#ffffff;font-family:"Poppins", Montserrat;font-size:20px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-68 .elementor-element.elementor-element-ad32007 > .elementor-widget-container{margin:0px 0px 28px 0px;}.elementor-68 .elementor-element.elementor-element-f2945e5 .aux-widget-image{text-align:left;}.elementor-68 .elementor-element.elementor-element-2e157c02{color:#bdbdbd;font-family:"Montserrat", Montserrat;font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;}.elementor-68 .elementor-element.elementor-element-2e157c02 > .elementor-widget-container{margin:19px 0px 0px 0px;}.elementor-68 .elementor-element.elementor-element-747f2474{--grid-template-columns:repeat(0, auto);--icon-size:20px;--grid-column-gap:12px;--grid-row-gap:0px;}.elementor-68 .elementor-element.elementor-element-747f2474 .elementor-widget-container{text-align:left;}.elementor-68 .elementor-element.elementor-element-747f2474 .elementor-social-icon{background-color:rgba(46,46,46,0);--icon-padding:0.8em;border-style:solid;border-width:1px 1px 1px 1px;border-color:#333333;}.elementor-68 .elementor-element.elementor-element-747f2474 .elementor-social-icon i{color:#ffffff;}.elementor-68 .elementor-element.elementor-element-747f2474 .elementor-social-icon svg{fill:#ffffff;}.elementor-68 .elementor-element.elementor-element-747f2474 > .elementor-widget-container{margin:8px 0px 0px 0px;}.elementor-68 .elementor-element.elementor-element-26b21cc .elementor-heading-title{color:#ffffff;font-family:"Poppins", Montserrat;font-size:20px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-68 .elementor-element.elementor-element-26b21cc > .elementor-widget-container{margin:0px 0px 28px 0px;}.elementor-68 .elementor-element.elementor-element-35963bd .elementor-heading-title{color:#ffffff;font-family:"Poppins", Montserrat;font-size:20px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-68 .elementor-element.elementor-element-35963bd > .elementor-widget-container{margin:0px 0px 28px 0px;}.elementor-68 .elementor-element.elementor-element-843bd3b .elementor-heading-title{color:#ffffff;font-family:"Poppins", Montserrat;font-size:20px;font-weight:bold;line-height:26px;letter-spacing:-0.5px;}.elementor-68 .elementor-element.elementor-element-843bd3b > .elementor-widget-container{margin:0px 0px 28px 0px;}.elementor-68 .elementor-element.elementor-element-4c96674c .aux-icon-list-item:not(:last-child){padding-bottom:1px;}.elementor-68 .elementor-element.elementor-element-4c96674c .aux-icon-list-item:not(:first-child){margin-top:1px;}.elementor-68 .elementor-element.elementor-element-4c96674c .aux-icon-list-item .aux-list-connector{border-bottom-style:solid;border-bottom-color:rgba(46,46,46,0);}.elementor-68 .elementor-element.elementor-element-4c96674c .aux-direction-vertical .aux-icon-list-item:not(:last-child):after{border-bottom-style:solid;border-bottom-color:#333333;}.elementor-68 .elementor-element.elementor-element-4c96674c .aux-direction-horizontal .aux-icon-list-item:after{border-right-style:solid;border-right-color:#333333;}.elementor-68 .elementor-element.elementor-element-4c96674c .aux-icon-list-text{color:#bdbdbd;font-family:"Montserrat", Montserrat;font-size:15px;font-weight:600;line-height:35px;letter-spacing:-0.3px;}.elementor-68 .elementor-element.elementor-element-4c96674c .aux-icon-list-text2{color:#bdbdbd;font-family:"Montserrat", Montserrat;font-size:15px;font-weight:600;line-height:35px;}.elementor-68 .elementor-element.elementor-element-4c96674c .aux-icon-list-icon{color:#bdbdbd;font-size:10px;margin:4px 10px 0px 0px;}.elementor-68 .elementor-element.elementor-element-683785bc > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-68 .elementor-element.elementor-element-683785bc:not(.elementor-motion-effects-element-type-background), .elementor-68 .elementor-element.elementor-element-683785bc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#212121;}.elementor-68 .elementor-element.elementor-element-683785bc{border-style:solid;border-width:1px 0px 0px 0px;border-color:#424242;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:5px 15px 5px 15px;}.elementor-68 .elementor-element.elementor-element-683785bc > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-68 .elementor-element.elementor-element-1858a087{color:#9e9e9e;font-family:"Montserrat", Montserrat;font-size:15px;font-weight:400;line-height:19px;letter-spacing:-0.3px;}.elementor-68 .elementor-element.elementor-element-5b90bd64{display:block;text-align:right;}.elementor-68 .elementor-element.elementor-element-5b90bd64 .aux-vertical .aux-menu-depth-0 .aux-item-content{display:block;text-align:right;}.elementor-68 .elementor-element.elementor-element-5b90bd64 .aux-menu-depth-0 > .aux-item-content{color:#9e9e9e;font-family:"Montserrat", Montserrat;font-size:16px;font-weight:400;text-transform:capitalize;line-height:19px;letter-spacing:-0.3px;}.elementor-68 .elementor-element.elementor-element-5b90bd64 .aux-burger:before,  .elementor-68 .elementor-element.elementor-element-5b90bd64 .aux-burger:after, .elementor-68 .elementor-element.elementor-element-5b90bd64 .aux-burger .mid-line{border-color:#808080 !important;}.elementor-68 .elementor-element.elementor-element-5b90bd64 .aux-fs-menu .aux-master-menu{text-align:left;}@media(max-width:1024px){.elementor-68 .elementor-element.elementor-element-2d60dbf1{padding:30px 15px 30px 15px;}.elementor-68 .elementor-element.elementor-element-747f2474{--icon-size:15px;}.elementor-68 .elementor-element.elementor-element-683785bc{padding:15px 15px 15px 15px;}}@media(max-width:767px){.elementor-68 .elementor-element.elementor-element-2e157c02{text-align:left;}.elementor-68 .elementor-element.elementor-element-747f2474{--icon-size:13px;}.elementor-68 .elementor-element.elementor-element-1858a087{text-align:center;}}@media(max-width:1024px) and (min-width:768px){.elementor-68 .elementor-element.elementor-element-3d771679{width:50%;}.elementor-68 .elementor-element.elementor-element-733ebb48{width:50%;}.elementor-68 .elementor-element.elementor-element-53f641b9{width:50%;}.elementor-68 .elementor-element.elementor-element-3eeeb669{width:50%;}}/* Start custom CSS for heading, class: .elementor-element-ad32007 */.elementor-68 .elementor-element.elementor-element-ad32007 .elementor-widget-container{
    border-bottom: 1px solid #424242;
    padding-bottom: 13px;
}

.elementor-68 .elementor-element.elementor-element-ad32007 .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-68 .elementor-element.elementor-element-ad32007 .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-26b21cc */.elementor-68 .elementor-element.elementor-element-26b21cc .elementor-widget-container{
    border-bottom: 1px solid #424242;
    padding-bottom: 13px;
}

.elementor-68 .elementor-element.elementor-element-26b21cc .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-68 .elementor-element.elementor-element-26b21cc .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-053364f */.elementor-68 .elementor-element.elementor-element-053364f .hentry{
    min-height: auto;
}
.elementor-68 .elementor-element.elementor-element-053364f .entry-title > a{
    color: #BDBDBD !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-35963bd */.elementor-68 .elementor-element.elementor-element-35963bd .elementor-widget-container{
    border-bottom: 1px solid #424242;
    padding-bottom: 13px;
}

.elementor-68 .elementor-element.elementor-element-35963bd .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-68 .elementor-element.elementor-element-35963bd .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for aux_flexible_recent_posts, class: .elementor-element-bacd89c */.elementor-68 .elementor-element.elementor-element-bacd89c .hentry{
    min-height: auto;
}
.elementor-68 .elementor-element.elementor-element-bacd89c .aux-col::after{
    content: '';
    display: block;
    margin-top: 30px;
    border-bottom: 1px solid #333333;
}
.elementor-68 .elementor-element.elementor-element-bacd89c .aux-col:last-child::after{
    display: none;
}

.elementor-68 .elementor-element.elementor-element-bacd89c .aux-next-prev-posts{
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-843bd3b */.elementor-68 .elementor-element.elementor-element-843bd3b .elementor-widget-container{
    border-bottom: 1px solid #424242;
    padding-bottom: 13px;
}

.elementor-68 .elementor-element.elementor-element-843bd3b .elementor-widget-container .elementor-heading-title{
    display: inline-block;
    position: relative;
}

.elementor-68 .elementor-element.elementor-element-843bd3b .elementor-widget-container .elementor-heading-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width:110%;
    background: #EA384D;
    border-radius: 50em;
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-4c96674c */.elementor-68 .elementor-element.elementor-element-4c96674c .aux-icon-list-link{
    width: 100%;
}
.elementor-68 .elementor-element.elementor-element-4c96674c .aux-icon-list-item::after{
    border-color: #2E2E2E !important;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-1858a087 */.elementor-68 .elementor-element.elementor-element-1858a087 p{
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-5b90bd64 */@media (max-width: 768px){
    .elementor-68 .elementor-element.elementor-element-5b90bd64 .aux-burger{
        margin: 0 auto;
    }
}/* End custom CSS */