.elementor-57 .elementor-element.elementor-element-8819da9 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-692913f{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-b27b9d2 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-57 .elementor-element.elementor-element-b27b9d2{margin-top:185px;margin-bottom:175px;padding:0px 30px 0px 30px;}.elementor-57 .elementor-element.elementor-element-59112e2 .aux-modern-heading-primary{font-family:"Domine", Sans-serif;font-size:43px;font-weight:bold;line-height:49px;letter-spacing:-0.6px;color:#101010;margin:0px 0px 34px 0px;}.elementor-57 .elementor-element.elementor-element-59112e2 .aux-modern-heading-divider{height:3px;width:60px;box-shadow:0px 3px 8px 0px rgba(245,65,121,0.7);background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-4fc761fc ) 0%, var( --e-global-color-5fdaadd4 ) 100%);}.elementor-57 .elementor-element.elementor-element-59112e2{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-c06b8b1 input:not([type="submit"]){transition:all ease-out 0.3s;}.elementor-57 .elementor-element.elementor-element-c06b8b1 input[type="text"]{transition:all ease-out 0.3s;}.elementor-57 .elementor-element.elementor-element-c06b8b1 input[type="email"]{transition:all ease-out 0.3s;}.elementor-57 .elementor-element.elementor-element-c06b8b1 select{transition:all ease-out 0.3s;}.elementor-57 .elementor-element.elementor-element-c06b8b1 textarea{transition:all ease-out 0.3s;}.elementor-57 .elementor-element.elementor-element-c06b8b1 input[type="submit"]{transition:all ease-out 0.3s;}.elementor-57 .elementor-element.elementor-element-c06b8b1 > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-c06b8b1{animation-delay:150ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-67eb864 > .elementor-element-populated > .elementor-widget-wrap{padding:15px 130px 15px 130px;}.elementor-57 .elementor-element.elementor-element-c2e7628 .aux-modern-heading-primary{font-family:"Domine", Sans-serif;font-size:43px;font-weight:bold;line-height:49px;letter-spacing:-0.6px;color:#101010;margin:0px 0px 34px 0px;}.elementor-57 .elementor-element.elementor-element-c2e7628 .aux-modern-heading-divider{height:3px;width:60px;box-shadow:0px 3px 8px 0px rgba(245,65,121,0.7);background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-4fc761fc ) 0%, var( --e-global-color-5fdaadd4 ) 100%);}.elementor-57 .elementor-element.elementor-element-c2e7628{animation-delay:300ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-947703d .aux-icon-list-item, .elementor-57 .elementor-element.elementor-element-947703d .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-57 .elementor-element.elementor-element-947703d .aux-icon-list-text{color:#101010;font-family:"Roboto", Sans-serif;font-size:25px;font-weight:500;margin:0px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-947703d .aux-icon-list-icon{color:var( --e-global-color-46e545c5 );font-size:45px;margin:0px 15px 0px 0px;}.elementor-57 .elementor-element.elementor-element-947703d > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-947703d{animation-delay:350ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-a5a94cf{color:#4e4e4e;font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;animation-delay:400ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-a5a94cf > .elementor-widget-container{margin:15px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-5946f64 .aux-icon-list-item, .elementor-57 .elementor-element.elementor-element-5946f64 .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-57 .elementor-element.elementor-element-5946f64 .aux-icon-list-text{color:#101010;font-family:"Roboto", Sans-serif;font-size:25px;font-weight:500;margin:0px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-5946f64 .aux-icon-list-icon{color:var( --e-global-color-46e545c5 );font-size:45px;margin:0px 15px 0px 0px;}.elementor-57 .elementor-element.elementor-element-5946f64 > .elementor-widget-container{margin:37px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-5946f64{animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-96bb19b{color:#4e4e4e;font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;animation-delay:550ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-96bb19b > .elementor-widget-container{margin:15px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-a90962a .aux-icon-list-item, .elementor-57 .elementor-element.elementor-element-a90962a .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-57 .elementor-element.elementor-element-a90962a .aux-icon-list-text{color:#101010;font-family:"Roboto", Sans-serif;font-size:25px;font-weight:500;margin:0px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-a90962a .aux-icon-list-icon{color:var( --e-global-color-46e545c5 );font-size:45px;margin:0px 15px 0px 0px;}.elementor-57 .elementor-element.elementor-element-a90962a > .elementor-widget-container{margin:37px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-a90962a{animation-delay:600ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-71daed5{color:#4e4e4e;font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;animation-delay:650ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-57 .elementor-element.elementor-element-71daed5 > .elementor-widget-container{margin:15px 0px 0px 0px;}@media(min-width:768px){.elementor-57 .elementor-element.elementor-element-23226bb{width:65%;}.elementor-57 .elementor-element.elementor-element-67eb864{width:34.997%;}}@media(max-width:1024px) and (min-width:768px){.elementor-57 .elementor-element.elementor-element-23226bb{width:100%;}.elementor-57 .elementor-element.elementor-element-67eb864{width:100%;}}@media(max-width:1024px){.elementor-57 .elementor-element.elementor-element-23226bb > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-57 .elementor-element.elementor-element-59112e2 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-57 .elementor-element.elementor-element-67eb864 > .elementor-element-populated{margin:80px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-57 .elementor-element.elementor-element-67eb864 > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-57 .elementor-element.elementor-element-c2e7628 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-57 .elementor-element.elementor-element-947703d .aux-icon-list-item, .elementor-57 .elementor-element.elementor-element-947703d .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-57 .elementor-element.elementor-element-a5a94cf{text-align:center;}.elementor-57 .elementor-element.elementor-element-5946f64 > .elementor-widget-container{margin:70px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-96bb19b{text-align:center;}.elementor-57 .elementor-element.elementor-element-a90962a > .elementor-widget-container{margin:70px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-71daed5{text-align:center;}}@media(max-width:767px){.elementor-57 .elementor-element.elementor-element-23226bb > .elementor-element-populated{margin:80px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-57 .elementor-element.elementor-element-67eb864 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-59112e2 */@media only screen and (max-width:1024px) {
    .elementor-57 .elementor-element.elementor-element-59112e2 .aux-modern-heading-divider {
        margin-right: auto;
        margin-left: auto;
    }
}/* End custom CSS */
/* Start custom CSS for aux_contact_form, class: .elementor-element-c06b8b1 */.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs {
     display: flex;
 }
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs .wpcf7-form-control-wrap.your-email {
    padding: 0 27px;
 }
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs input {
    border: 1px solid rgba(112, 112, 112, 0.85) !important;
    border: none;
    color: #4E4E4E;
    font-family: "Muli", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    padding: 18px 20px;
    height: 55px;
  }
  
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4E4E4E;
  font-style: normal;
}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs input::-moz-placeholder { /* Firefox 19+ */
  color: #4E4E4E;
    font-style: normal;

}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs input:-ms-input-placeholder { /* IE 10+ */
  color: #4E4E4E;
    font-style: normal;

}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs input:-moz-placeholder { /* Firefox 18- */
  color: #4E4E4E;
    font-style: normal;

}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-textarea {
    margin-top: 5px;
}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-textarea  textarea{
    border: 1px solid rgba(112, 112, 112, 0.85) !important;
    border: none;
    color: #4E4E4E;
    font-family: "Muli", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    padding: 18px 20px;
    height: 136px;
    min-height: auto;
}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-textarea  textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4E4E4E;
  font-style: normal;
}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-textarea  textarea::-moz-placeholder { /* Firefox 19+ */
  color: #4E4E4E;
    font-style: normal;

}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-textarea  textarea:-ms-input-placeholder { /* IE 10+ */
  color: #4E4E4E;
    font-style: normal;

}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-textarea  textarea:-moz-placeholder { /* Firefox 18- */
  color: #4E4E4E;
    font-style: normal;

}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-submit {
    margin-top: 55px;
}
.elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-submit input {
    margin: 0;
    color: #FFF;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.45px;
    padding: 17px 40px;
    background-image: linear-gradient(105deg, var(--auxin-featured-color-3) 0%, var(--auxin-featured-color-4) 100%)
}

@media screen and (max-width: 768px) {
    .elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs{
        display: block;
    }
    .elementor-57 .elementor-element.elementor-element-c06b8b1 br{
        display: none;
    }
    
    
    .elementor-57 .elementor-element.elementor-element-c06b8b1 .wpcf7-form-control-wrap  {
        display: block;
    }
    
    .elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-contact-form .aux-shop-jewel-form-inputs .wpcf7-form-control-wrap.your-email {
        padding: 0;
    }
}

@media only screen and (max-width:1024px) {
    .elementor-57 .elementor-element.elementor-element-c06b8b1 .aux-shop-jewel-form-submit {
        text-align: center
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-c2e7628 */@media only screen and (max-width:1024px) {
    .elementor-57 .elementor-element.elementor-element-c2e7628 .aux-modern-heading-divider {
        margin-right: auto;
        margin-left: auto;
    }
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-947703d */@media only screen and (max-width:1024px) {
    .elementor-57 .elementor-element.elementor-element-947703d .aux-icon-list-item {
        margin-right: auto;
        margin-left: auto;
    }
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-5946f64 */@media only screen and (max-width:1024px) {
    .elementor-57 .elementor-element.elementor-element-5946f64 .aux-icon-list-item {
        margin-right: auto;
        margin-left: auto;
    }
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-a90962a */@media only screen and (max-width:1024px) {
    .elementor-57 .elementor-element.elementor-element-a90962a .aux-icon-list-item {
        margin-right: auto;
        margin-left: auto;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-67eb864 */@media only screen and (min-width:1250px) and (max-width:1550px) {
    .elementor-57 .elementor-element.elementor-element-67eb864 .elementor-column-wrap{
        padding: 15px 80px;
    }
}

@media only screen and (min-width:1025px) and (max-width:1249px) {
    .elementor-57 .elementor-element.elementor-element-67eb864 .elementor-column-wrap {
        padding: 15px 30px;
    }
}/* End custom CSS */