.elementor-101 .elementor-element.elementor-element-d057c57 > .elementor-container{max-width:1200px;}.elementor-101 .elementor-element.elementor-element-d057c57{padding:49px 35px 49px 35px;}.elementor-bc-flex-widget .elementor-101 .elementor-element.elementor-element-a28f84a.elementor-column .elementor-column-wrap{align-items:center;}.elementor-101 .elementor-element.elementor-element-a28f84a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-101 .elementor-element.elementor-element-a28f84a.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-101 .elementor-element.elementor-element-52d2704{width:auto;max-width:auto;animation-duration:1800ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-101 .elementor-element.elementor-element-f7aa200{text-align:left;width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-vertical .aux-menu-depth-0 .aux-item-content{text-align:left;}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-menu-depth-0 > .aux-item-content{color:#8B8B8B;font-size:20px;font-weight:600;text-transform:capitalize;line-height:1.2em;padding:0px 8px 0px 2px;}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-menu-depth-0{margin:0px 15px 0px 15px;}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-menu-depth-0.current-menu-item > a{color:var( --e-global-color-primary );font-weight:800;}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-burger:before,  .elementor-101 .elementor-element.elementor-element-f7aa200 .aux-burger:after, .elementor-101 .elementor-element.elementor-element-f7aa200 .aux-burger .mid-line{border-color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-fs-menu .aux-menu-item > .aux-item-content{color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-fs-menu .aux-menu-item.aux-hover > .aux-item-content{color:var( --e-global-color-accent );}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-fs-popup{background-color:var( --e-global-color-secondary );}.elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button-wrapper{text-align:left;}.elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button.aux-modern-button-outline .aux-overlay:before, .elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button .aux-overlay:before{background-color:var( --e-global-color-secondary );}.elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button{padding:28px 60px 25px 31px;}.elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button.aux-modern-button-outline .aux-overlay:after, .elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button .aux-overlay:after{background-color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-0531d14 .aux-text{font-size:20px;font-weight:bold;line-height:1em;color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button:hover .aux-text{color:#FFFFFF;}.elementor-101 .elementor-element.elementor-element-0531d14 .aux-icon{font-size:24px;color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button:hover .aux-icon{font-size:12px;color:#FFFFFF;}.elementor-101 .elementor-element.elementor-element-0531d14{width:auto;max-width:auto;animation-duration:1800ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}@media(max-width:1024px){.elementor-101 .elementor-element.elementor-element-52d2704 > .elementor-widget-container{margin:3px 0px 0px 0px;}.elementor-101 .elementor-element.elementor-element-52d2704{flex-grow:1;}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-menu-depth-0 > .aux-item-content{padding:0px 5px 0px 5px;}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:30px;padding:0px 0px 0px 0px;}.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-fs-menu .aux-menu-item{margin:0px 0px 40px 0px;}.elementor-101 .elementor-element.elementor-element-f7aa200 > .elementor-widget-container{margin:0px 20px 0px 0px;}}@media(max-width:767px){.elementor-101 .elementor-element.elementor-element-f7aa200 > .elementor-widget-container{margin:0px 0px 0px 0px;}}/* Start custom CSS for aux_menu_box, class: .elementor-element-f7aa200 */.elementor-101 .elementor-element.elementor-element-f7aa200 .current-menu-item a .aux-menu-label:before{
    content: '';
    position: absolute;
    bottom:-2px;
    left:0;
    width: 100%;
    height: 2px;
   background-color:var( --e-global-color-secondary );

}
@media only screen and (min-width:1025px) {
.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-item-content  .aux-menu-label:before{
    content: '';
    position: absolute;
    bottom:-2px;
    left:0;
    width: 0%;
    height: 2px;
   background-color:var( --e-global-color-secondary );
   transition:all 300ms ease-out;

}
.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-item-content:hover .aux-menu-label:before{
    content: '';
    position: absolute;
    bottom:-2px;
    left:0;
    width: 100%;
    height: 2px;
   background-color:var( --e-global-color-secondary );

}}

@media only screen and (max-width:1130px) and (min-width:1025px) {
    .elementor-101 .elementor-element.elementor-element-f7aa200 .aux-menu-depth-0 {
        margin-left:5px;
        margin-right:5px;
    }
}
@media only screen and (max-width:1024px) {
    .elementor-101 .elementor-element.elementor-element-f7aa200 .current-menu-item a .aux-menu-label:before{
        width:20%;
        left:40%;
        bottom:0;
   background-color:var( --e-global-color-primary );}
   

}

@media only screen and (max-width:414px) {
    .elementor-101 .elementor-element.elementor-element-f7aa200 .current-menu-item a .aux-menu-label:before{
        width:40%;
        left:30%;
        }
        }
.elementor-101 .elementor-element.elementor-element-f7aa200 .aux-fs-menu{
    margin-top: 40px
}/* End custom CSS */
/* Start custom CSS for aux_modern_button, class: .elementor-element-0531d14 */.elementor-101 .elementor-element.elementor-element-0531d14 .aux-icon{
    position: absolute;
   right:27px;
   overflow: visible;
   transition: all 300ms ease-out
}
.elementor-101 .elementor-element.elementor-element-0531d14 .auxicon2-arrow-slim-right:before{
    font-weight: bold!important;
  
}
.elementor-101 .elementor-element.elementor-element-0531d14 .aux-modern-button .aux-overlay:after, .aux-modern-button .aux-overlay:before {
    transition: all 500ms ease-out;
}/* End custom CSS */