.elementor-48 .elementor-element.elementor-element-26844c35{margin-top:220px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-48 .elementor-element.elementor-element-4299f3ce .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-48 .elementor-element.elementor-element-4299f3ce .aux-modern-heading-primary{font-size:40px;font-weight:bold;line-height:1.3em;letter-spacing:-1.2px;color:var( --e-global-color-58ae69eb );margin:0px 0px 25px 0px;}.elementor-48 .elementor-element.elementor-element-4299f3ce .aux-modern-heading-description{color:var( --e-global-color-11bf6cf );line-height:1.4em;margin:0px 0px 0px 0px;max-width:506px;}.elementor-48 .elementor-element.elementor-element-4299f3ce > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-4299f3ce{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-title a{color:var( --e-global-color-58ae69eb );font-family:"Poppins", Sans-serif;font-size:25px;font-weight:bold;line-height:38px;letter-spacing:-0.4px;}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-title{margin-bottom:34px;}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-info a, .elementor-48 .elementor-element.elementor-element-3d800557 .entry-info{color:var( --e-global-color-8dab3c6 );}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-info, .elementor-48 .elementor-element.elementor-element-3d800557 .entry-info a{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;line-height:19px;}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-info{margin-bottom:40px;}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-48 .elementor-element.elementor-element-3d800557 .entry-info .entry-tax a:after{margin-right:0px;margin-left:0px;}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-content{color:var( --e-global-color-8dab3c6 );font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;line-height:25px;margin-bottom:50px;}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-meta{padding:0px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-3d800557 .column-entry{padding:20% 15% 20% 15%;}.elementor-48 .elementor-element.elementor-element-3d800557{text-align:left;}.elementor-48 .elementor-element.elementor-element-3d800557 .entry-meta .aux-read-more{color:var( --e-global-color-519ca239 );font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;line-height:19px;letter-spacing:-0.4px;padding:0px 0px 0px 10px;}.elementor-48 .elementor-element.elementor-element-3d800557 > .elementor-widget-container{margin:70px 0px 0px 0px;}@media(max-width:1024px){.elementor-48 .elementor-element.elementor-element-3d800557 .column-entry{padding:0% 0% 0% 8%;}}/* Start custom CSS for aux_recent_posts, class: .elementor-element-3d800557 */.elementor-48 .elementor-element.elementor-element-3d800557 .aux-col:hover .entry-media {
    opacity: 1;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .entry-media {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    width: 100%;
    height: 100%
}
.elementor-48 .elementor-element.elementor-element-3d800557  .aux-row {
    margin-left: -25px;
    margin-right: -25px;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .aux-media-frame {
    border-radius: 50px;
    box-shadow: 10px 20px 80px rgba(7,65,154,0.25);
    width: 100%;
    height: 100%;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .aux-media-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .aux-media-frame:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(313deg, var(--e-global-color-833c126) 0%, var(--e-global-color-0ac9733) 100%);
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .entry-content{
    max-width: 366px;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .entry-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 76px;
    max-width: 330px;
    overflow: hidden;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .entry-meta {
    position: static !important;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .entry-meta .readmore{
    float: none;
    transition: transform 250ms ease-out;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .aux-read-more {
    padding-left: 0px !important;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .entry-main {
    position: relative;
    z-index: 2;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .entry-title a,
.elementor-48 .elementor-element.elementor-element-3d800557 .entry-title a,
.elementor-48 .elementor-element.elementor-element-3d800557 .entry-content {
    transition: all 300ms ease-out;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .aux-col:hover .entry-title a,
.elementor-48 .elementor-element.elementor-element-3d800557 .aux-col:hover .entry-info a{
    color: #FFF !important;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .aux-col:hover .entry-content {
    opacity: 0;
}

.elementor-48 .elementor-element.elementor-element-3d800557 .aux-col:hover .entry-meta .readmore {
    transform: translateY(-80px);
}

.elementor-48 .elementor-element.elementor-element-3d800557 .aux-read-more::after, .elementor-48 .elementor-element.elementor-element-3d800557 .aux-post-nav::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.939' height='13.448' viewBox='0 0 18.939 13.448'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%2314e2a4;stroke-linecap:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(1 12.448) rotate(-90)'%3E%3Cline class='a' y2='16.323' transform='translate(5.808 0)'/%3E%3Cpath class='a' d='M0,0,5.724,5.724,11.448,0' transform='translate(0 10.801)'/%3E%3C/g%3E%3C/svg%3E");
    width: 19px;
    height: 13px;
    vertical-align: middle;
    margin-left: 10px
}

@media only screen and (min-width:1024px) and (max-width:1300px) {
    .elementor-48 .elementor-element.elementor-element-3d800557 .column-entry {
        padding: 45px 30px 45px 30px !important;
    }
    

}


@media only screen and (max-width: 3000px) {
    .elementor-48 .elementor-element.elementor-element-3d800557 .aux-media-frame {
        max-height: 490px;
    }
}

@media only screen and (max-width: 1440px) {
    .elementor-48 .elementor-element.elementor-element-3d800557 .aux-media-frame {
        max-height: 360px;
    }
    .elementor-48 .elementor-element.elementor-element-3d800557 .entry-content {
        margin-bottom: 0;
    }
    .elementor-48 .elementor-element.elementor-element-3d800557 .entry-title, .elementor-48 .elementor-element.elementor-element-3d800557 .entry-info {
        margin-bottom: 15px !important;
    }
}

@media only screen and (max-width: 1024px) {
   .elementor-48 .elementor-element.elementor-element-3d800557 {
        margin-left: auto !important;
        margin-right: auto !important;
   }
    .elementor-48 .elementor-element.elementor-element-3d800557 .aux-media-frame {
        max-height: 305px;
    }
}

.elementor-48 .elementor-element.elementor-element-3d800557 .entry-meta .aux-read-more {
    color: #14e2a4;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.4px;
    padding: 0px 0px 0px 0px;
}/* End custom CSS */