.elementor-130 .elementor-element.elementor-element-b3ab7b8{margin-top:220px;margin-bottom:0px;}.elementor-130 .elementor-element.elementor-element-6bb5373 .aux-modern-heading-primary{font-family:"Playfair Display", Sans-serif;font-size:60px;font-weight:bold;line-height:80px;}.elementor-130 .elementor-element.elementor-element-6bb5373 > .elementor-widget-container{padding:0px 0px 75px 34px;}.elementor-130 .elementor-element.elementor-element-6bb5373{width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-130 .elementor-element.elementor-element-0fad731{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-130 .elementor-element.elementor-element-7074100{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;position:absolute;top:164px;right:60px;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);max-width:40%;}.elementor-130 .elementor-element.elementor-element-7074100 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-130 .elementor-element.elementor-element-f60ebab > .elementor-element-populated > .elementor-widget-wrap{padding:52px 50px 50px 64px;}.elementor-130 .elementor-element.elementor-element-1c8ee2d .aux-modern-heading-primary{font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:600;line-height:27px;margin:0px 0px 15px 0px;}.elementor-130 .elementor-element.elementor-element-1c8ee2d .aux-modern-heading-description{color:rgba(255,255,255,0.7);font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:27px;max-width:237px;}.elementor-130 .elementor-element.elementor-element-a2ab3b0 .aux-modern-heading-primary{font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:600;line-height:27px;margin:0px 0px 15px 0px;}.elementor-130 .elementor-element.elementor-element-a2ab3b0 .aux-modern-heading-description{color:rgba(255,255,255,0.7);font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:27px;max-width:237px;}.elementor-130 .elementor-element.elementor-element-3c15c9a .aux-modern-heading-primary{font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:600;line-height:27px;margin:0px 0px 15px 0px;}.elementor-130 .elementor-element.elementor-element-3c15c9a .aux-modern-heading-description{color:rgba(255,255,255,0.7);font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:27px;}.elementor-130 .elementor-element.elementor-element-3c15c9a > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-130 .elementor-element.elementor-element-dcad236 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-130 .elementor-element.elementor-element-dcad236{padding:75px 0px 219px 0px;}.elementor-130 .elementor-element.elementor-element-c203bb2 > .elementor-element-populated{margin:0% 0% 0% 10%;--e-column-margin-right:0%;--e-column-margin-left:10%;}.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-primary{font-family:"Playfair Display", Sans-serif;font-size:60px;font-weight:bold;line-height:80px;}.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-description{font-family:"Open Sans", Sans-serif;font-size:17px;font-weight:400;text-transform:capitalize;line-height:35px;margin:50px 0px 0px 50px;max-width:484px;}.elementor-130 .elementor-element.elementor-element-d245ee2 > .elementor-widget-container{padding:0px 0px 0px 25px;}.elementor-130 .elementor-element.elementor-element-d245ee2{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-130 .elementor-element.elementor-element-a1ca8ff .aux-widget-image{text-align:left;}.elementor-130 .elementor-element.elementor-element-a1ca8ff > .elementor-widget-container{margin:0px 0px 0px 77px;}.elementor-130 .elementor-element.elementor-element-cf80631 .aux-the-shape{width:177px;height:4px;background-color:#bbab8a;}.elementor-130 .elementor-element.elementor-element-cf80631 .aux-widget-container{text-align:right;}.elementor-130 .elementor-element.elementor-element-cf80631{position:absolute;right:6px;bottom:55px;}.elementor-130 .elementor-element.elementor-element-af7139f > .elementor-element-populated > .elementor-widget-wrap{padding:0px 25px 0px 85px;}.elementor-130 .elementor-element.elementor-element-8630c77 input:not([type="submit"]){transition:all ease-out 0.3s;}.elementor-130 .elementor-element.elementor-element-8630c77 input[type="text"]{transition:all ease-out 0.3s;}.elementor-130 .elementor-element.elementor-element-8630c77 input[type="email"]{transition:all ease-out 0.3s;}.elementor-130 .elementor-element.elementor-element-8630c77 select{transition:all ease-out 0.3s;}.elementor-130 .elementor-element.elementor-element-8630c77 textarea{transition:all ease-out 0.3s;}.elementor-130 .elementor-element.elementor-element-8630c77 input[type="submit"]{transition:all ease-out 0.3s;}.elementor-130 .elementor-element.elementor-element-8630c77 > .elementor-widget-container{margin:47px 0px 0px 0px;}.elementor-130 .elementor-element.elementor-element-8630c77{animation-delay:150ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-130 .elementor-element.elementor-element-7074100{max-width:50%;}.elementor-130 .elementor-element.elementor-element-1c8ee2d .aux-modern-heading-description{font-size:14px;}.elementor-130 .elementor-element.elementor-element-a2ab3b0 .aux-modern-heading-description{font-size:14px;}.elementor-130 .elementor-element.elementor-element-3c15c9a .aux-modern-heading-description{font-size:14px;}.elementor-130 .elementor-element.elementor-element-dcad236{margin-top:0px;margin-bottom:0px;padding:75px 0px 158px 0px;}.elementor-130 .elementor-element.elementor-element-c203bb2 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-primary{font-size:32px;line-height:35px;margin:0px 0px 0px 0px;}.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-description{font-size:13px;line-height:25px;margin:27px 5px 0px 25px;}.elementor-130 .elementor-element.elementor-element-cf80631{bottom:80px;left:73px;}.elementor-130 .elementor-element.elementor-element-8630c77 > .elementor-widget-container{margin:100px 20px 0px 20px;}}@media(max-width:767px){.elementor-130 .elementor-element.elementor-element-6bb5373 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-130 .elementor-element.elementor-element-6bb5373 .aux-modern-heading-primary{font-size:40px;}.elementor-130 .elementor-element.elementor-element-6bb5373 > .elementor-widget-container{margin:0px 0px 220px 0px;padding:0px 0px 0px 0px;}.elementor-130 .elementor-element.elementor-element-7074100{right:0px;left:0px;max-width:88%;}.elementor-130 .elementor-element.elementor-element-f60ebab > .elementor-element-populated > .elementor-widget-wrap{padding:40px 55px 40px 55px;}.elementor-130 .elementor-element.elementor-element-3c15c9a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-130 .elementor-element.elementor-element-dcad236{padding:70px 0px 104px 0px;}.elementor-130 .elementor-element.elementor-element-c203bb2 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-description{margin:28px 0px 0px 0px;max-width:95%;}.elementor-130 .elementor-element.elementor-element-d245ee2 > .elementor-widget-container{padding:0% 5% 0% 5%;}.elementor-130 .elementor-element.elementor-element-a1ca8ff .aux-widget-image{text-align:center;}.elementor-130 .elementor-element.elementor-element-a1ca8ff > .elementor-widget-container{margin:25px 25px 0px 25px;}.elementor-130 .elementor-element.elementor-element-cf80631{left:-4%;}.elementor-130 .elementor-element.elementor-element-af7139f > .elementor-element-populated > .elementor-widget-wrap{padding:119px 48px 0px 48px;}.elementor-130 .elementor-element.elementor-element-8630c77 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-130 .elementor-element.elementor-element-c203bb2{width:50.442%;}.elementor-130 .elementor-element.elementor-element-af7139f{width:49.596%;}}@media(max-width:1024px) and (min-width:768px){.elementor-130 .elementor-element.elementor-element-c203bb2{width:50%;}.elementor-130 .elementor-element.elementor-element-af7139f{width:50%;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-6bb5373 */.elementor-130 .elementor-element.elementor-element-6bb5373 .aux-modern-heading-primary{
    position: relative;
}
.elementor-130 .elementor-element.elementor-element-6bb5373 .aux-modern-heading-primary:after{
    content: '';
    width: 82%;
    height: 10px;
    background-color: #f7f7f8;
    position: absolute;
    bottom: 12%;
    z-index: -1;
    left: 0px;
}
@media screen and (max-width: 767px) {
.elementor-130 .elementor-element.elementor-element-6bb5373 .aux-modern-heading-primary:after{
    bottom: 22%;
}
.elementor-130 .elementor-element.elementor-element-6bb5373 {
    margin: auto;
} 
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7074100 */@media screen and (max-width:767px){
    .elementor-130 .elementor-element.elementor-element-7074100 {
        margin:auto;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-d245ee2 */.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-primary{
    position: relative;
    display: inline-block;
}
.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-primary:after{
    content: '';
    width:50%;
    height: 10px;
  background-color: #f7f7f8;
    position: absolute;
    bottom: 12%;
    z-index: -1;
    right:38px;
}
@media screen and (max-width: 767px) {
.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-primary:after{
    bottom: -8%;
}
.elementor-130 .elementor-element.elementor-element-d245ee2 .aux-modern-heading-description{
text-align: left!important;
}
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-a1ca8ff */.elementor-130 .elementor-element.elementor-element-a1ca8ff .aux-media-image{
    position: relative;
     transition: all .5s cubic-bezier(.19,1,.22,1);
}
.elementor-130 .elementor-element.elementor-element-a1ca8ff .aux-media-image:after {
       content: '';
    width:75%;
    height: 80%;
    background-color: transparent;
    border: 7px solid var( --auxin-featured-color-1 );
    position: absolute;
   bottom: -15px;
    right: -30px;
    z-index: 1;
    transform: scale(1.25);
    transition: all .5s cubic-bezier(.19,1,.22,1);
}
@media screen and (max-width:767px){
    .elementor-130 .elementor-element.elementor-element-a1ca8ff .aux-media-image:after {
    width: 72%;
    height: 82%;
    bottom: 0;
    right: 4px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_contact_form, class: .elementor-element-8630c77 */.elementor-130 .elementor-element.elementor-element-8630c77 input[type="submit"] {
    padding:25px 94px !important;
    background-color:#2A2A2A;
    color:#F7F7F8;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    float: right;
    border-radius: 0;
    font-family: "Open Sans", Sans-serif!important;
    margin-top: 15px;
    font-weight: 400;
        margin-top: 23px;
}
.elementor-130 .elementor-element.elementor-element-8630c77 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-family: "Open Sans";
    font-weight:400;
    line-height: 19px;
    color:#2A2A2A;
    font-size:16px;
    font-style: normal;
}
.elementor-130 .elementor-element.elementor-element-8630c77  input::-moz-placeholder { /* Firefox 19+ */
   font-family: "Open Sans";
    font-weight:400;
    line-height: 16px;
    color:#2A2A2A;
    font-size:16px;
    font-style: normal;
}
.elementor-130 .elementor-element.elementor-element-8630c77  textarea::-moz-placeholder { /* Firefox 19+ */
  font-family: "Open Sans";
    font-weight:400;
    line-height: 16px;
    color:#2A2A2A;
    font-size:16px;
    font-style: normal;
    
}

.elementor-130 .elementor-element.elementor-element-8630c77 textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-family: "Open Sans";
    font-weight:400;
    line-height: 16px;
    color:#2A2A2A;
    font-size:16px;
    font-style: normal;
}
.elementor-130 .elementor-element.elementor-element-8630c77 input[type="text"], .elementor-130 .elementor-element.elementor-element-8630c77  input[type="email"], .elementor-130 .elementor-element.elementor-element-8630c77  textarea{
    border: none;
    border-bottom: 1px solid #2A2A2A ;
        padding-left: 0;
    padding-bottom: 51px;
    margin-top: -14px;
    
}
.elementor-130 .elementor-element.elementor-element-8630c77  textarea{
    min-height: 189px;
    height: 94px;
}
@media screen and (max-width: 767px){
.elementor-130 .elementor-element.elementor-element-8630c77 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size:14px;
}}/* End custom CSS */