.elementor-174 .elementor-element.elementor-element-2d880c02 > .elementor-container{max-width:1630px;}.elementor-174 .elementor-element.elementor-element-2d880c02 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-174 .elementor-element.elementor-element-2d880c02:not(.elementor-motion-effects-element-type-background), .elementor-174 .elementor-element.elementor-element-2d880c02 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#fafafa;}.elementor-174 .elementor-element.elementor-element-2d880c02{box-shadow:0px 3px 16px 0px rgba(0,0,0,0.16);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-174 .elementor-element.elementor-element-2d880c02 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-174 .elementor-element.elementor-element-5373dd7 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-3b670e2 .aux-widget-image{text-align:left;}.elementor-174 .elementor-element.elementor-element-3b670e2{animation-duration:3500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-b78a63b > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-a8ba52a > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-a8ba52a{position:relative;left:-125px;}.elementor-174 .elementor-element.elementor-element-69221d9 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:22px;font-weight:300;letter-spacing:0.4px;color:#ffffff;margin:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-69221d9 .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:87px;font-weight:bold;line-height:109px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 0px 1px;}.elementor-174 .elementor-element.elementor-element-69221d9 .aux-widget-modern-heading .aux-widget-inner{width:100%;}.elementor-174 .elementor-element.elementor-element-69221d9{animation-duration:1500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-ade7cc9 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-174 .elementor-element.elementor-element-ade7cc9 > .elementor-element-populated > .elementor-widget-wrap{padding:30px 20px 20px 20px;}.elementor-174 .elementor-element.elementor-element-ade7cc9{position:relative;left:0px;}.elementor-174 .elementor-element.elementor-element-1a957b0 .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:31px;font-weight:400;line-height:44px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-1a957b0 .aux-modern-heading-secondary .aux-head-highlight{font-family:"Poppins", Sans-serif;font-size:25px;font-weight:400;font-style:normal;text-decoration:line-through;line-height:35px;color:#959595;margin:0px 0px 0px 24px;}.elementor-174 .elementor-element.elementor-element-1a957b0 .aux-modern-heading-divider{height:2px;width:90px;margin:0px 0px 0px 0px;background-color:#000000;}.elementor-174 .elementor-element.elementor-element-1a957b0{animation-delay:650ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-ac2d9ac{text-align:left;animation-delay:750ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-ac2d9ac .aux-button{padding:15px 49px 15px 49px;background-color:var( --e-global-color-74d5ea80 );text-shadow:0px 0px 0px rgba(0,0,0,0.3);}.elementor-174 .elementor-element.elementor-element-ac2d9ac .aux-button .aux-overlay::after{background-color:#ff2929;}.elementor-174 .elementor-element.elementor-element-ac2d9ac .aux-text{color:#ffffff;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;line-height:25px;}.elementor-174 .elementor-element.elementor-element-ac2d9ac > .elementor-widget-container{margin:45px 0px -20px 0px;}.elementor-174 .elementor-element.elementor-element-2d123193 > .elementor-container{max-width:1600px;}.elementor-174 .elementor-element.elementor-element-2d123193{margin-top:200px;margin-bottom:150px;padding:0px 50px 0px 50px;}.elementor-174 .elementor-element.elementor-element-5417d218 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 144px 0px 0px;}.elementor-174 .elementor-element.elementor-element-6d4c4a13 .aux-media-image{box-shadow:0px 3px 35px 0px rgba(0,0,0,0.16);}.elementor-174 .elementor-element.elementor-element-7b9482f1 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:22px;font-weight:400;line-height:31px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-7b9482f1 .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:48px;font-weight:bold;line-height:52px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 15px 0px;}.elementor-174 .elementor-element.elementor-element-7b9482f1 .aux-modern-heading-description{color:var( --e-global-color-4a7e5515 );font-family:"Poppins", Sans-serif;font-size:17px;font-weight:300;line-height:25px;margin:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-7b9482f1 > .elementor-widget-container{margin:35px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-7b9482f1{z-index:2;}.elementor-174 .elementor-element.elementor-element-55c33be5{text-align:left;}.elementor-174 .elementor-element.elementor-element-55c33be5 .aux-button{padding:5px 0px 5px 0px;box-shadow:0px 1px 0px 0px rgba(0,0,0,0.5);}.elementor-174 .elementor-element.elementor-element-55c33be5 .aux-button .aux-overlay::after{background-color:rgba(165,165,165,0);}.elementor-174 .elementor-element.elementor-element-55c33be5 .aux-text{color:var( --e-global-color-74d5ea80 );font-family:"Poppins", Sans-serif;font-size:16px;font-weight:500;line-height:23px;}.elementor-174 .elementor-element.elementor-element-55c33be5 > .elementor-widget-container{margin:28px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-aa9fccd > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-7757a0fc > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-174 .elementor-element.elementor-element-336cac0b .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:22px;font-weight:400;line-height:31px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-336cac0b .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:48px;font-weight:bold;line-height:52px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 15px 0px;}.elementor-174 .elementor-element.elementor-element-336cac0b .aux-modern-heading-description{color:var( --e-global-color-4a7e5515 );font-family:"Poppins", Sans-serif;font-size:17px;font-weight:300;line-height:25px;margin:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-336cac0b .aux-widget-modern-heading .aux-widget-inner{width:345px;}.elementor-174 .elementor-element.elementor-element-336cac0b{z-index:2;}.elementor-174 .elementor-element.elementor-element-387ac50d{text-align:left;}.elementor-174 .elementor-element.elementor-element-387ac50d .aux-button{padding:5px 0px 5px 0px;box-shadow:0px 1px 0px 0px rgba(0,0,0,0.5);}.elementor-174 .elementor-element.elementor-element-387ac50d .aux-button .aux-overlay::after{background-color:rgba(165,165,165,0);}.elementor-174 .elementor-element.elementor-element-387ac50d .aux-text{color:var( --e-global-color-74d5ea80 );font-family:"Poppins", Sans-serif;font-size:16px;font-weight:500;line-height:23px;}.elementor-174 .elementor-element.elementor-element-387ac50d > .elementor-widget-container{margin:28px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-68cc106d > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-7816d91f .aux-media-image{box-shadow:0px 3px 35px 0px rgba(0,0,0,0.16);}.elementor-174 .elementor-element.elementor-element-7dad1fec > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-174 .elementor-element.elementor-element-7dad1fec{margin-top:94px;margin-bottom:0px;}.elementor-174 .elementor-element.elementor-element-7e8542b2 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-52731298 .aux-media-image{box-shadow:0px 3px 35px 0px rgba(0,0,0,0.16);}.elementor-174 .elementor-element.elementor-element-778f51d8 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 150px 0px 0px;}.elementor-174 .elementor-element.elementor-element-10ba41a1 .aux-widget-inner > *{text-align:right;margin-left:auto !important;}.elementor-174 .elementor-element.elementor-element-10ba41a1 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:22px;font-weight:400;line-height:31px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-10ba41a1 .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:48px;font-weight:bold;line-height:52px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 15px 0px;}.elementor-174 .elementor-element.elementor-element-10ba41a1 .aux-modern-heading-description{color:var( --e-global-color-4a7e5515 );font-family:"Poppins", Sans-serif;font-size:17px;font-weight:300;line-height:25px;margin:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-10ba41a1 .aux-widget-modern-heading .aux-widget-inner{width:360px;}.elementor-174 .elementor-element.elementor-element-10ba41a1{z-index:2;position:relative;right:60px;}.elementor-174 .elementor-element.elementor-element-499fb69{text-align:right;}.elementor-174 .elementor-element.elementor-element-499fb69 .aux-button{padding:5px 0px 5px 0px;box-shadow:0px 1px 0px 0px rgba(0,0,0,0.5);}.elementor-174 .elementor-element.elementor-element-499fb69 .aux-button .aux-overlay::after{background-color:rgba(165,165,165,0);}.elementor-174 .elementor-element.elementor-element-499fb69 .aux-text{color:var( --e-global-color-74d5ea80 );font-family:"Poppins", Sans-serif;font-size:16px;font-weight:500;line-height:23px;}.elementor-174 .elementor-element.elementor-element-499fb69 > .elementor-widget-container{margin:28px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-2a39cf8e > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-3f0e6bd5{--divider-border-style:solid;--divider-color:rgba(16,16,16,0.5);--divider-border-width:58px;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-3f0e6bd5 .elementor-divider-separator{width:2px;margin:0 auto;margin-center:0;}.elementor-174 .elementor-element.elementor-element-3f0e6bd5 .elementor-divider{text-align:center;padding-top:0px;padding-bottom:0px;}.elementor-174 .elementor-element.elementor-element-2f071c19 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-174 .elementor-element.elementor-element-2f071c19 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:25px;font-weight:400;line-height:35px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 11px 0px;}.elementor-174 .elementor-element.elementor-element-2f071c19 .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:45px;font-weight:bold;line-height:63px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 24px 0px;}.elementor-174 .elementor-element.elementor-element-2f071c19 .aux-modern-heading-divider{height:2px;width:90px;background-color:#000000;}.elementor-174 .elementor-element.elementor-element-2f071c19 > .elementor-widget-container{margin:115px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-2f071c19{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-31653d30 > .elementor-container{max-width:1670px;}.elementor-174 .elementor-element.elementor-element-31653d30{margin-top:67px;margin-bottom:0px;}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-info-wrapper{padding:20px 0px 6px 0px;}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-meta-wrapper{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-btns-wrapper{padding:17px 45px 17px 45px;}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .auxshp-loop-title{color:var( --e-global-color-4a7e5515 );font-family:"Poppins", Sans-serif;font-size:24px;font-weight:500;line-height:33px;}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .woocommerce-Price-amount{color:var( --e-global-color-4a7e5515 );font-family:"Poppins", Sans-serif;font-size:28px;font-weight:400;line-height:39px;}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-meta-terms > a{color:var( --e-global-color-110b2877 );}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-meta-terms, .elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-meta-terms a{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:400;font-style:normal;line-height:27px;}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-rating-box.aux-star-rating::before{color:var( --e-global-color-74d5ea80 );}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-rating-box.aux-star-rating span::before{color:var( --e-global-color-74d5ea80 );}.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-star-rating{font-size:24px;}.elementor-174 .elementor-element.elementor-element-2a91b5b5{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-4c388d27{text-align:center;}.elementor-174 .elementor-element.elementor-element-4c388d27 .aux-button{padding:15px 45px 15px 45px;background-color:transparent;background-image:linear-gradient(90deg, #434343 0%, #000000 100%);text-shadow:0px 0px 0px rgba(0,0,0,0.3);}.elementor-174 .elementor-element.elementor-element-4c388d27 .aux-button .aux-overlay::after{background-color:transparent;background-image:linear-gradient(90deg, #434343 0%, #000000 100%);}.elementor-174 .elementor-element.elementor-element-4c388d27 .aux-text{color:#ffffff;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;}.elementor-174 .elementor-element.elementor-element-2e14b984{margin-top:180px;margin-bottom:0px;}.elementor-174 .elementor-element.elementor-element-5c93d029{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-60a9fde3{margin-top:220px;margin-bottom:0px;}.elementor-174 .elementor-element.elementor-element-60206de6 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-174 .elementor-element.elementor-element-60206de6 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:25px;font-weight:500;line-height:35px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 11px 0px;}.elementor-174 .elementor-element.elementor-element-60206de6 .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:45px;font-weight:bold;line-height:63px;color:var( --e-global-color-4a7e5515 );margin:0px 0px 25px 0px;}.elementor-174 .elementor-element.elementor-element-60206de6 .aux-modern-heading-divider{height:2px;width:90px;background-color:#000000;}.elementor-174 .elementor-element.elementor-element-60206de6{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-54878a1e .aux-vendor-name a, .elementor-174 .elementor-element.elementor-element-54878a1e .aux-vendor-name{color:var( --e-global-color-4a7e5515 );}.elementor-174 .elementor-element.elementor-element-54878a1e .aux-vendor-name, .elementor-174 .elementor-element.elementor-element-54878a1e .aux-vendor-name a{font-family:"Poppins", Sans-serif;font-size:31px;font-weight:600;}.elementor-174 .elementor-element.elementor-element-54878a1e .aux-vendor-featured{color:#ffffff;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;background-color:var( --e-global-color-74d5ea80 );}.elementor-174 .elementor-element.elementor-element-54878a1e > .elementor-widget-container{margin:65px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-54878a1e{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-868d87b{text-align:center;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-174 .elementor-element.elementor-element-868d87b .aux-button{padding:15px 49px 15px 49px;background-color:transparent;background-image:linear-gradient(90deg, #434343 0%, #000000 100%);text-shadow:0px 0px 0px rgba(0,0,0,0.3);}.elementor-174 .elementor-element.elementor-element-868d87b .aux-button .aux-overlay::after{background-color:transparent;background-image:linear-gradient(90deg, #434343 0%, #000000 100%);}.elementor-174 .elementor-element.elementor-element-868d87b .aux-text{color:#ffffff;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;line-height:25px;}.elementor-174 .elementor-element.elementor-element-868d87b > .elementor-widget-container{margin:85px 0px 0px 0px;}@media(min-width:768px){.elementor-174 .elementor-element.elementor-element-5373dd7{width:75.208%;}.elementor-174 .elementor-element.elementor-element-b78a63b{width:24.792%;}.elementor-174 .elementor-element.elementor-element-5417d218{width:40%;}.elementor-174 .elementor-element.elementor-element-aa9fccd{width:60%;}.elementor-174 .elementor-element.elementor-element-bcb8d2{width:27.917%;}.elementor-174 .elementor-element.elementor-element-68cc106d{width:72.083%;}.elementor-174 .elementor-element.elementor-element-7e8542b2{width:53.333%;}.elementor-174 .elementor-element.elementor-element-778f51d8{width:46.667%;}}@media(max-width:1024px) and (min-width:768px){.elementor-174 .elementor-element.elementor-element-5373dd7{width:100%;}.elementor-174 .elementor-element.elementor-element-b78a63b{width:100%;}.elementor-174 .elementor-element.elementor-element-5417d218{width:100%;}.elementor-174 .elementor-element.elementor-element-aa9fccd{width:100%;}.elementor-174 .elementor-element.elementor-element-bcb8d2{width:100%;}.elementor-174 .elementor-element.elementor-element-68cc106d{width:100%;}.elementor-174 .elementor-element.elementor-element-7e8542b2{width:100%;}.elementor-174 .elementor-element.elementor-element-778f51d8{width:100%;}}@media(max-width:1024px){.elementor-174 .elementor-element.elementor-element-2d880c02{padding:0px 0px 65px 0px;}.elementor-174 .elementor-element.elementor-element-b78a63b{position:static;}.elementor-174 .elementor-element.elementor-element-a8ba52a{position:static;}.elementor-174 .elementor-element.elementor-element-69221d9 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-174 .elementor-element.elementor-element-69221d9 > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-1a957b0 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-174 .elementor-element.elementor-element-ac2d9ac{text-align:center;}.elementor-174 .elementor-element.elementor-element-2d123193{padding:0px 80px 0px 80px;}.elementor-174 .elementor-element.elementor-element-5417d218 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-6d4c4a13 .aux-widget-image{text-align:center;}.elementor-174 .elementor-element.elementor-element-7b9482f1 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-174 .elementor-element.elementor-element-55c33be5{text-align:center;}.elementor-174 .elementor-element.elementor-element-336cac0b .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-174 .elementor-element.elementor-element-336cac0b .aux-widget-modern-heading .aux-widget-inner{width:100%;}.elementor-174 .elementor-element.elementor-element-336cac0b > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-387ac50d{text-align:center;}.elementor-174 .elementor-element.elementor-element-7816d91f > .elementor-widget-container{margin:70px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-52731298{position:static;}.elementor-174 .elementor-element.elementor-element-778f51d8 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-10ba41a1 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-174 .elementor-element.elementor-element-10ba41a1 .aux-widget-modern-heading .aux-widget-inner{width:100%;}.elementor-174 .elementor-element.elementor-element-10ba41a1 > .elementor-widget-container{margin:70px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-10ba41a1{position:static;}.elementor-174 .elementor-element.elementor-element-499fb69{text-align:center;}.elementor-174 .elementor-element.elementor-element-31653d30{padding:0px 100px 0px 100px;}.elementor-174 .elementor-element.elementor-element-2e14b984{margin-top:0px;margin-bottom:0px;}.elementor-174 .elementor-element.elementor-element-60a9fde3{padding:0px 100px 0px 100px;}}@media(max-width:767px){.elementor-174 .elementor-element.elementor-element-5342b8b{padding:0px 15px 0px 15px;}.elementor-174 .elementor-element.elementor-element-69221d9 .aux-modern-heading-primary{font-size:14px;}.elementor-174 .elementor-element.elementor-element-69221d9 .aux-modern-heading-secondary{font-size:40px;line-height:50px;margin:30px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-1a957b0 .aux-modern-heading-secondary{font-size:20px;}.elementor-174 .elementor-element.elementor-element-1a957b0 .aux-modern-heading-secondary .aux-head-highlight{font-size:17px;}.elementor-174 .elementor-element.elementor-element-ac2d9ac .aux-button{padding:10px 30px 10px 30px;}.elementor-174 .elementor-element.elementor-element-ac2d9ac > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-2d123193{padding:0px 15px 0px 15px;}.elementor-174 .elementor-element.elementor-element-31653d30{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-60a9fde3{padding:0px 15px 0px 15px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-69221d9 */.elementor-174 .elementor-element.elementor-element-69221d9 .aux-modern-heading-primary {
    display: inline-block;
background: -moz-linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(90deg, right top, color-stop(0%, rgba(67,67,67,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
padding: 5px 25px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-a8ba52a */@media only screen and (min-width:1200px) and (max-width:1650px) {
    .elementor-174 .elementor-element.elementor-element-a8ba52a {
        left: -270px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5342b8b */@media only screen and (min-width: 1023px) {
    .elementor-174 .elementor-element.elementor-element-5342b8b {
        width: 565px
    }
    
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-1a957b0 */@media only screen and (max-width: 1024px) {
    
    .elementor-174 .elementor-element.elementor-element-1a957b0 .aux-modern-heading-divider {
        margin: auto !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-7b9482f1 */.elementor-174 .elementor-element.elementor-element-7b9482f1 .aux-widget-inner  {
    max-width: none;
}/* End custom CSS */
/* Start custom CSS for aux_button, class: .elementor-element-55c33be5 */.elementor-174 .elementor-element.elementor-element-55c33be5 .aux-button {
    margin-bottom: 0
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-336cac0b */.elementor-174 .elementor-element.elementor-element-336cac0b .aux-widget-inner  {
    max-width: none;
}/* End custom CSS */
/* Start custom CSS for aux_button, class: .elementor-element-387ac50d */.elementor-174 .elementor-element.elementor-element-387ac50d .aux-button {
    margin-bottom: 0
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-10ba41a1 */.elementor-174 .elementor-element.elementor-element-10ba41a1 .aux-widget-inner  {
    max-width: none;
}/* End custom CSS */
/* Start custom CSS for aux_button, class: .elementor-element-499fb69 */.elementor-174 .elementor-element.elementor-element-499fb69 .aux-button {
    margin-bottom: 0
}/* End custom CSS */
/* Start custom CSS for aux_advance_recent_product, class: .elementor-element-2a91b5b5 */.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters {
    width: 40%;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-left: 0;
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters ul > li  span {
    padding: 0;
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters ul > li {
    font-size:20px;
    font-family: "Poppins", Sans-serif;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-slideup li > a {
    text-transform: none;
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-slideup .aux-selected span::before, .elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-slideup .aux-selected span::after {
    color: var(--auxin-featured-color-1);
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-slideup li:first-child > a span {
    padding-left: 0;
    
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-slideup li:last-child > a span {
    padding-right: 0;
    
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-left.aux-ajax-filters ul {
    margin-left: 30px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-sort-filter  {
    position: absolute;
    right: 0;
    top: 5px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-sort-filter ul {
    min-width: 300px;
transform: translateY(60px);
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-dropdown-filter .aux-filter-by {
    font-weight: 600;
    text-transform: none;
    font-size: 23px;
    color: var(--auxin-featured-color-2);
    padding: 10px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-dropdown-filter .aux-filter-by .aux-filter-name {
    vertical-align: middle;
    color: var(--auxin-featured-color-2);
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-recent-products-pro-wrapper {
    margin-top: 35px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-dropdown-filter li > a {
    font-size: 17px;
    text-transform: none;
    font-weight: 400;
    padding: 0;
    color: #4E4E4E;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-dropdown-filter li:hover {
    background: transparent;
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-dropdown-filter li:hover a {
    color: var(--auxin-featured-color-1);
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-dropdown-filter li {
    margin:  0 30px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-dropdown-filter > ul {
    padding: 40px 0px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters.aux-dropdown-filter > ul.aux-active {
    transform: translateY(50px);
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-widget-recent-products-pro .onsale {
    width: 75px;
    height: 75px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-info-wrapper {
    display: block;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .auxshp-loop-title {
    max-width: 100%;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .woocommerce-Price-currencySymbol {
    margin-right: 7px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 ins {
    background-color: transparent;
    padding: 0;
    margin-right: 25px;
    vertical-align: middle;
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 del {
    text-decoration: none;
    padding-right: 5px;
    position: relative;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 del:after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    background: #707070;
    left: 0;
    transform: translateY(-50%);
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 del .woocommerce-Price-amount {
    font-size: 21px;
    color:  rgba(16, 16, 16, 0.5);
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .price {
    max-width: 100%;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-meta-wrapper {
    display: block;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-meta-terms {
    display: block;
    margin-bottom: 7px;
    color: var(--auxin-featured-color-3);
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .auxshp-entry-main {
    position: relative;
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-btns-wrapper {
    background: rgb(67,67,67); /* Old browsers */
background: -moz-linear-gradient(left, rgb(67,67,67) 0%, rgb(0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgb(67,67,67) 0%,rgb(0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgb(67,67,67) 0%,rgb(0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: none;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    clip-path: inset(0 0 100% 0);
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
   
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .add_to_cart_button{
    color: #FFFFFF;
    line-height: normal;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    float: left;
     margin-top: 10px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .add_to_cart_button i {
    display: none;
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-btns-wrapper:after {
    content: "";
    display: table;
    clear: both;
}
.elementor-174 .elementor-element.elementor-element-2a91b5b5 .auxshp-wishlist-wrapper {
    display: inline-block;
    float: right;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-widget-recent-products-pro .aux-shop-btns-wrapper .auxshp-wishlist .aux-wishlist-icon{
    color: #FFF;
    font-size: 31px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5  .type-product:hover .aux-shop-btns-wrapper {
    clip-path: inset(0 0 0 0);
    transform: translateY(-100%);
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .auxshp-loop-title {
    margin-bottom: 6px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-quicklook-wrapper {
    font-size: 25px;
    color: #FFF;
    float: right;
    position: relative;
    top: 4px;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-quicklook:hover {
    color:#FFF;
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-shop-btns-wrapper a {
    max-width: 60%
}

@media only screen and (max-width:768px) {
    .elementor-174 .elementor-element.elementor-element-2a91b5b5 .aux-filters {
        width: 60%;
    }
}

.elementor-174 .elementor-element.elementor-element-2a91b5b5 .auxshp-wishlist-wrapper {
    position: relative;
    top: 9px;
}/* End custom CSS */
/* Start custom CSS for aux_latest_vendors, class: .elementor-element-54878a1e */.elementor-174 .elementor-element.elementor-element-54878a1e .aux-widget-latest-vendors .aux-vendor-address:before,
.elementor-174 .elementor-element.elementor-element-54878a1e .aux-widget-latest-vendors .aux-vendor-phone:before {
    color: #EF1E33;
}

.elementor-174 .elementor-element.elementor-element-54878a1e .aux-vendor-url {
    color: var(--auxin-featured-color-1);
}

.elementor-174 .elementor-element.elementor-element-54878a1e .aux-vendor-col:nth-child(n+4){
    display: none;
}/* End custom CSS */