.elementor-110 .elementor-element.elementor-element-182bb7b:not(.elementor-motion-effects-element-type-background), .elementor-110 .elementor-element.elementor-element-182bb7b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-accent );}.elementor-110 .elementor-element.elementor-element-182bb7b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:10px 35px 17px 35px;animation-duration:2000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-110 .elementor-element.elementor-element-182bb7b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-110 .elementor-element.elementor-element-80e4a99 .aux-widget-text .aux-text-widget-header{padding:10px 17px 0px 0px;}.elementor-110 .elementor-element.elementor-element-80e4a99 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-110 .elementor-element.elementor-element-80e4a99 .widget-content{color:var( --e-global-color-e2729a0 );font-size:16px;font-weight:500;letter-spacing:-0.32px;}.elementor-110 .elementor-element.elementor-element-80e4a99 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-110 .elementor-element.elementor-element-80e4a99 .aux-widget-advanced-text{text-align:left !important;}.elementor-110 .elementor-element.elementor-element-80e4a99{width:auto;max-width:auto;}.elementor-110 .elementor-element.elementor-element-fe97b47.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-110 .elementor-element.elementor-element-018d328 .aux-widget-text .aux-text-widget-header{padding:10px 14px 0px 0px;}.elementor-110 .elementor-element.elementor-element-018d328 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-110 .elementor-element.elementor-element-018d328 .widget-content{color:var( --e-global-color-e2729a0 );font-size:16px;font-weight:500;letter-spacing:-0.32px;}.elementor-110 .elementor-element.elementor-element-018d328 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-110 .elementor-element.elementor-element-018d328 .aux-widget-advanced-text{text-align:center !important;}.elementor-110 .elementor-element.elementor-element-018d328 > .elementor-widget-container{margin:0px 70px 0px 0px;}.elementor-110 .elementor-element.elementor-element-018d328{width:auto;max-width:auto;}.elementor-110 .elementor-element.elementor-element-f228848 .aux-widget-text .aux-text-widget-header{padding:10px 14px 0px 0px;}.elementor-110 .elementor-element.elementor-element-f228848 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-110 .elementor-element.elementor-element-f228848 .widget-content{color:var( --e-global-color-e2729a0 );font-size:16px;font-weight:500;letter-spacing:-0.32px;}.elementor-110 .elementor-element.elementor-element-f228848 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-110 .elementor-element.elementor-element-f228848 .aux-widget-advanced-text{text-align:center !important;}.elementor-110 .elementor-element.elementor-element-f228848{width:auto;max-width:auto;}.elementor-110 .elementor-element.elementor-element-147d6df > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-110 .elementor-element.elementor-element-147d6df{padding:0px 35px 0px 35px;}.elementor-110 .elementor-element.elementor-element-3f218c2 > .elementor-element-populated{border-style:solid;border-width:0px 0px 1px 0px;border-color:#70798B66;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-110 .elementor-element.elementor-element-3f218c2 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-110 .elementor-element.elementor-element-3f218c2 > .elementor-element-populated > .elementor-widget-wrap{padding:40px 0px 40px 0px;}.elementor-110 .elementor-element.elementor-element-3f218c2{animation-duration:2000ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-110 .elementor-element.elementor-element-76e0083 > .elementor-widget-container{margin:0px 65px 0px 0px;}.elementor-110 .elementor-element.elementor-element-76e0083{width:auto;max-width:auto;}.elementor-110 .elementor-element.elementor-element-3fe208a{text-align:left;width:auto;max-width:auto;align-self:center;flex-grow:1;}.elementor-110 .elementor-element.elementor-element-3fe208a .aux-vertical .aux-menu-depth-0 .aux-item-content{text-align:left;}.elementor-110 .elementor-element.elementor-element-3fe208a .aux-menu-depth-0 > .aux-item-content{color:var( --e-global-color-text );font-size:16px;font-weight:500;text-transform:capitalize;letter-spacing:-0.32px;}.elementor-110 .elementor-element.elementor-element-3fe208a .aux-menu-depth-0.aux-hover > .aux-item-content{font-weight:800;}.elementor-110 .elementor-element.elementor-element-3fe208a .aux-menu-depth-0.current-menu-item > a{font-weight:800;}.elementor-110 .elementor-element.elementor-element-3fe208a .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-110 .elementor-element.elementor-element-e812e03 .aux-widget-text .aux-text-widget-header{padding:0px 14px 0px 0px;}.elementor-110 .elementor-element.elementor-element-e812e03 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-110 .elementor-element.elementor-element-e812e03 .col-title a, .elementor-110 .elementor-element.elementor-element-e812e03 .col-title{color:var( --e-global-color-text );}.elementor-110 .elementor-element.elementor-element-e812e03 .col-title, .elementor-110 .elementor-element.elementor-element-e812e03 .col-title a{font-size:16px;font-weight:500;letter-spacing:-0.32px;}.elementor-110 .elementor-element.elementor-element-e812e03 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-110 .elementor-element.elementor-element-e812e03 .aux-widget-advanced-text{text-align:center !important;}.elementor-110 .elementor-element.elementor-element-e812e03 > .elementor-widget-container{margin:-5px 44px 0px 0px;}.elementor-110 .elementor-element.elementor-element-e812e03{width:auto;max-width:auto;align-self:center;}.elementor-110 .elementor-element.elementor-element-63b6b49 .aux-search-submit i{color:#200E32;font-size:16px;}.elementor-110 .elementor-element.elementor-element-63b6b49 .aux-search-submit{color:var( --e-global-color-text );font-size:16px;font-weight:500;text-transform:capitalize;letter-spacing:-0.32px;cursor:pointer;}.elementor-110 .elementor-element.elementor-element-63b6b49 .aux-search-popup .aux-search-input-form{border-width:2px;}.elementor-110 .elementor-element.elementor-element-63b6b49 .aux-search-popup .aux-submit-icon-container:before{font-size:30px;}.elementor-110 .elementor-element.elementor-element-63b6b49 > .elementor-widget-container{margin:0px 44px 0px 0px;}.elementor-110 .elementor-element.elementor-element-63b6b49{width:auto;max-width:auto;align-self:center;}.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-contents > span{font-size:16px;font-weight:500;letter-spacing:-0.32px;color:var( --e-global-color-text );right:-90px;}.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-dropdown{left:-60%;border-style:solid;border-width:0px 0px 0px 0px;box-shadow:10px 10px 50px 0px rgba(32, 36.000000000000014, 46, 0.1607843137254902);}.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-card-item h3{color:var( --e-global-color-text );font-size:16px;font-weight:500;letter-spacing:-0.24px;}.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-card-item span{color:var( --e-global-color-text );font-size:16px;font-weight:700;letter-spacing:-0.24px;}.elementor-110 .elementor-element.elementor-element-329af37 > .elementor-widget-container{margin:0px 10px 0px 0px;}.elementor-110 .elementor-element.elementor-element-329af37{width:auto;max-width:auto;align-self:center;}@media(max-width:1024px){.elementor-110 .elementor-element.elementor-element-80e4a99 .aux-widget-text .aux-text-widget-header{padding:10px 10px 0px 0px;}.elementor-110 .elementor-element.elementor-element-80e4a99 .widget-content{font-size:14px;}.elementor-110 .elementor-element.elementor-element-018d328 .widget-content{font-size:15px;}.elementor-110 .elementor-element.elementor-element-018d328 > .elementor-widget-container{margin:0px 30px 0px 0px;}.elementor-110 .elementor-element.elementor-element-f228848 .widget-content{font-size:15px;}.elementor-110 .elementor-element.elementor-element-76e0083 > .elementor-widget-container{margin:0px 50px 0px 0px;}.elementor-110 .elementor-element.elementor-element-3fe208a .aux-menu-depth-0 > .aux-item-content{font-size:15px;padding:0px 10px 0px 10px;}.elementor-110 .elementor-element.elementor-element-3fe208a .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:36px;padding:20px 0px 20px 0px;}.elementor-110 .elementor-element.elementor-element-e812e03 .col-title, .elementor-110 .elementor-element.elementor-element-e812e03 .col-title a{font-size:15px;}.elementor-110 .elementor-element.elementor-element-e812e03 > .elementor-widget-container{margin:-5px 35px 0px 0px;}.elementor-110 .elementor-element.elementor-element-63b6b49 .aux-search-submit i{font-size:20px;}.elementor-110 .elementor-element.elementor-element-63b6b49 .aux-search-submit{font-size:15px;}.elementor-110 .elementor-element.elementor-element-63b6b49 > .elementor-widget-container{margin:0px 35px 0px 0px;}.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-contents > span{font-size:15px;}.elementor-110 .elementor-element.elementor-element-329af37 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-110 .elementor-element.elementor-element-baaf463{width:50%;}.elementor-110 .elementor-element.elementor-element-fe97b47{width:49.932%;}}@media(max-width:1024px) and (min-width:768px){.elementor-110 .elementor-element.elementor-element-baaf463{width:52%;}.elementor-110 .elementor-element.elementor-element-fe97b47{width:48%;}}@media(max-width:767px){.elementor-110 .elementor-element.elementor-element-baaf463.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-110 .elementor-element.elementor-element-80e4a99 .aux-widget-advanced-text{text-align:center !important;}.elementor-110 .elementor-element.elementor-element-fe97b47.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-110 .elementor-element.elementor-element-fe97b47 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-110 .elementor-element.elementor-element-018d328 > .elementor-widget-container{margin:0px 30px 0px 0px;}.elementor-110 .elementor-element.elementor-element-3f218c2 > .elementor-element-populated > .elementor-widget-wrap{padding:25px 0px 25px 0px;}.elementor-110 .elementor-element.elementor-element-76e0083{flex-grow:1;}.elementor-110 .elementor-element.elementor-element-329af37 > .elementor-widget-container{margin:0px -5px 0px 0px;}.elementor-110 .elementor-element.elementor-element-329af37{flex-grow:0.4;}}/* Start custom CSS for aux_text, class: .elementor-element-80e4a99 */.elementor-110 .elementor-element.elementor-element-80e4a99 path{
    fill:var(--e-global-color-e2729a0);
}
@media screen and (max-width:400px){
    .elementor-110 .elementor-element.elementor-element-80e4a99 .aux-text-widget-header {
        padding: 0px 5px 0px 0px !important;
        margin-top: -10px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-018d328 */.elementor-110 .elementor-element.elementor-element-018d328 path{
    fill:var(--e-global-color-e2729a0);
}
.elementor-110 .elementor-element.elementor-element-018d328:after{
    content: "";
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    position: absolute;
    right: 32px;
    bottom: 2px;
}
@media screen and (max-width:900px){
    .elementor-110 .elementor-element.elementor-element-018d328:after{
        right:15px;
    }
}
@media screen and (max-width:400px){
    .elementor-110 .elementor-element.elementor-element-018d328:after{
        display:none;
    }
    .elementor-110 .elementor-element.elementor-element-018d328 .elementor-widget-container {
        margin: 0px 0px 0px 0px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-f228848 */.elementor-110 .elementor-element.elementor-element-f228848 path{
    fill:var(--e-global-color-e2729a0);
}/* End custom CSS */
/* Start custom CSS for aux_logo, class: .elementor-element-76e0083 */.elementor-110 .elementor-element.elementor-element-76e0083:after{
    content: "";
    width: 1px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    display: inline-block;
    position: absolute;
    right: 33px;
    bottom: 20px;
}
@media screen and (max-width:767px){
    .elementor-110 .elementor-element.elementor-element-76e0083:after{
        right:80px;
    }
}
@media screen and (max-width:400px){
    .elementor-110 .elementor-element.elementor-element-76e0083:after{
        right:30px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-3fe208a */@media screen and (max-width:900px){
    .elementor-110 .elementor-element.elementor-element-3fe208a{
        flex-grow:0;
        order:1;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-e812e03 */.elementor-110 .elementor-element.elementor-element-e812e03:after{
    content: "";
    width: 1px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    display: inline-block;
    position: absolute;
    right: 22px;
    bottom: 0px;
}/* End custom CSS */
/* Start custom CSS for aux_modern_search, class: .elementor-element-63b6b49 */.elementor-110 .elementor-element.elementor-element-63b6b49:after{
    content: "";
    width: 1px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    display: inline-block;
    position: absolute;
    right: 22px;
    bottom: 10px;
}
.elementor-110 .elementor-element.elementor-element-63b6b49 .auxicon{
    margin-right: 15px;
}
.elementor-110 .elementor-element.elementor-element-63b6b49 .auxicon-search-1::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg transform='translate(0 0)'%3E%3Cpath d='M18.82,19.859l-.083-.07-3.128-3.05a9.7,9.7,0,0,1-6,2.06A9.518,9.518,0,0,1,0,9.4,9.518,9.518,0,0,1,9.611,0a9.518,9.518,0,0,1,9.612,9.4,9.25,9.25,0,0,1-2.531,6.349l3.091,3.014a.714.714,0,0,1,0,1.024.753.753,0,0,1-.964.071ZM1.48,9.4a8.052,8.052,0,0,0,8.131,7.952A8.052,8.052,0,0,0,17.743,9.4,8.052,8.052,0,0,0,9.611,1.448,8.052,8.052,0,0,0,1.48,9.4Z' fill='%23200e32'/%3E%3C/g%3E%3C/svg%3E");    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}/* End custom CSS */
/* Start custom CSS for aux_shopping_cart, class: .elementor-element-329af37 */.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-shopping-title{
    color: var(--e-global-color-text);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-box{
    padding: 10px 30px;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-dropdown{
    width: 350px;
    border-radius: 10px;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-shopping-amount{
    display: none;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-cart-contents span{
    top:2px;
    background: transparent;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-cart-contents span:after{
    content: ")";
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-cart-contents span:before{
    content: "(";
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-item-details ins{
    background-color: transparent;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-item-details del , .elementor-110 .elementor-element.elementor-element-329af37 .aux-card-item-details del bdi , .elementor-110 .elementor-element.elementor-element-329af37 .aux-card-item-details del .woocommerce-Price-currencySymbol{
    color: #999999;
    font-weight: 400;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-item-img{
    border: 1px solid #70798B4D;
    border-radius: 20px;
    padding: 10px;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-button-wrapper .aux-checkout-button{
    background: linear-gradient(180deg, var( --e-global-color-primary ) 0%, var( --e-global-color-secondary ) 100%);
    border-radius: 23px;
    padding: 13px 20px 14px 20px;
    text-shadow: none;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 10px;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-final-amount{
    font-size: 16px;
    letter-spacing: -0.48px;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-final-amount .woocommerce-Price-amount{
    font-family: "Montserrat";
    font-weight: bold;
    color: var(--e-global-color-text);
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-total-items{
    display: none;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-inline-card-checkout {
    padding: 0px 30px 10px 30px;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-item{
    border-bottom: 1px solid #70798B4D;
    padding: 10px 0;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-card-box{
    border: none !important;
}
.aux-empty-cart{
    height: 320px;
    background-image: url('/shop-digital-2/wp-content/wp-content/uploads/sites/274/2021/07/Group_10137.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.4);
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 20px;
    padding-bottom: 30px;
}
.elementor-110 .elementor-element.elementor-element-329af37 .auxicon-handbag::before{
    content: "";
    width:20px;
    height:20px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.905' height='17.338' viewBox='0 0 16.905 17.338'%3E%3Cpath d='M4.341,17.338A4.344,4.344,0,0,1,0,13V8.218A4.345,4.345,0,0,1,4.341,3.879h.177A3.9,3.9,0,0,1,5.678,1.137,4.066,4.066,0,0,1,8.456,0a3.925,3.925,0,0,1,3.917,3.879h.19A4.345,4.345,0,0,1,16.9,8.218V13a4.344,4.344,0,0,1-4.342,4.338ZM1.3,8.218V13a3.042,3.042,0,0,0,3.04,3.037h8.222A3.043,3.043,0,0,0,15.6,13V8.218A3.043,3.043,0,0,0,12.563,5.18h-.19V6.551a.65.65,0,0,1-1.3,0V5.18H5.818V6.551a.65.65,0,0,1-1.3,0V5.18H4.341A3.043,3.043,0,0,0,1.3,8.218Zm9.772-4.339A2.623,2.623,0,0,0,8.454,1.3a2.727,2.727,0,0,0-1.86.759,2.6,2.6,0,0,0-.775,1.819Z' transform='translate(0 0)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-button{
    border: 1px solid #70798B4D;
    border-radius: 23px;
    padding: 13px 20px 14px 20px;
    font-weight: 400;
    color: var(--e-global-color-text);
    font-size: 15px;
    text-transform: capitalize;
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-overlay::after{
    background-color: var(--e-global-color-accent);
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-button:hover{
    color: var(--e-global-color-e2729a0);
}
.elementor-110 .elementor-element.elementor-element-329af37 .aux-button-wrapper{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 15px;
}



/*Responsive*/

.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item h3{
    color: var( --e-global-color-text ) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    letter-spacing: -0.24px !important;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item .aux-card-item-img{
    margin-right: 10px !important
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item .woocommerce-Price-amount{
    color: var( --e-global-color-text );
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.24px;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item  del .woocommerce-Price-amount bdi{
    color: #999999;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.24px;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item  del{
    color: #999999;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content .aux-button-wrapper .aux-checkout-button{
    border: 1px solid #70798B4D !important;
    border-radius: 23px;
    padding: 13px 20px 14px 20px;
    font-weight: 400;
    color: var(--e-global-color-text);
    font-size: 15px;
    text-transform: capitalize;
    background-color: var(--e-global-color-secondary) !important;
    color: var(--e-global-color-e2729a0);
    text-shadow: none;
    font-size: 16px;
    font-weight: 400;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content .aux-button-wrapper .aux-cart-button{
    border: 1px solid #70798B4D;
    border-radius: 23px;
    padding: 13px 20px 14px 20px;
    font-weight: 500;
    color: #19191B;
    font-size: 16px;
    text-transform: capitalize;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item .aux-card-item-img img{
    width: 100px;
    height: 92px;
    border: 1px solid #EDEDED;
    border-radius: 15px;
}
.aux-offcanvas-menu.aux-offcanvas-cart {
    width: 320px;
}
.aux-offcanvas-menu .aux-black.aux-button.aux-outline .aux-overlay::after , .aux-offcanvas-menu .aux-button.aux-black .aux-overlay::after{
    background-color: var(--e-global-color-accent) !important
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content .aux-button-wrapper .aux-button:hover{
    color: var(--e-global-color-e2729a0);
}
.aux-offcanvas-menu.aux-offcanvas-cart .offcanvas-header{
    color: var(--e-global-color-text);
    letter-spacing: -0.72px;
    font-weight: bold;
    font-size: 24px;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content{
    border-top: 1px solid #EDEDED;
    margin-top:30px;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-elegant-cart .aux-cart-total-items{
    display: none;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-inline-card-checkout .aux-card-final-amount{
    color: var(--e-global-color-text);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    margin-bottom: 15px;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-elegant-cart .aux-card-final-amount .woocommerce-Price-amount{
    color: var(--e-global-color-text);
    letter-spacing: -0.48px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat";
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item-details span ins{
    background-color: transparent;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content .aux-inline-card-checkout{
    border-top: 1px solid #EDEDED;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-elegant-cart .aux-card-item:not(:last-child){
    border-bottom: 1px solid #EDEDED;
}
@media screen and (max-width:1024px){
    .elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-wrapper .aux-shopping-title{
        font-size: 15px;
    }
}
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-110 .elementor-element.elementor-element-329af37{
        flex-grow:1;
    }
}
@media screen and (max-width:767px){
    .elementor-110 .elementor-element.elementor-element-329af37 .aux-cart-contents span{
        right:-14px;
    }
}
@media screen and (max-width:400px){
    .elementor-110 .elementor-element.elementor-element-329af37 .elementor-widget-container {
        margin: 0px 25px 0px 0px !important;
    }
}/* End custom CSS */