.elementor-46 .elementor-element.elementor-element-873a4e3:not(.elementor-motion-effects-element-type-background), .elementor-46 .elementor-element.elementor-element-873a4e3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-50ccadc );}.elementor-46 .elementor-element.elementor-element-873a4e3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:53px 35px 53px 35px;}.elementor-46 .elementor-element.elementor-element-873a4e3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-46 .elementor-element.elementor-element-9160f40 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-46 .elementor-element.elementor-element-9160f40 .aux-modern-heading-primary{font-size:58px;font-weight:600;color:#FFFFFF;margin:0px 0px -15px 0px;}.elementor-46 .elementor-element.elementor-element-9160f40 .aux-modern-heading-secondary .aux-head-highlight{font-size:18px;font-weight:400;color:rgba(255, 255, 255, 0.5);}.elementor-46 .elementor-element.elementor-element-c27d2f1{margin-top:100px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-46 .elementor-element.elementor-element-086e87a .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-46 .elementor-element.elementor-element-086e87a .aux-modern-heading-primary{font-size:16px;font-weight:500;text-transform:uppercase;color:var( --e-global-color-679ecb33 );margin:0px 0px 10px 0px;}.elementor-46 .elementor-element.elementor-element-086e87a .aux-modern-heading-secondary .aux-head-highlight{font-size:43px;font-weight:bold;text-transform:capitalize;line-height:1.4em;color:var( --e-global-color-679ecb33 );margin:0px 0px 0px 0px;}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters:not(.aux-slideup) li > a span, .elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters.aux-slideup li > a span:before{color:var( --e-global-color-679ecb33 );}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters li > a{font-family:"Cabin", Sans-serif;font-size:17px;font-weight:600;text-transform:capitalize;}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters:not(.aux-slideup) li:hover > a span, .elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters.aux-slideup li:hover > a span:before{color:var( --e-global-color-50ccadc );}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters li > a.aux-selected span:after, .elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters:not(.aux-slideup) li > a.aux-selected span{color:var( --e-global-color-50ccadc );}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters li > a.aux-selected{text-transform:uppercase;}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-media-image{border-radius:5px 5px 5px 5px !important;}.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-header .entry-title a{color:var( --e-global-color-50ccadc );font-size:28px;font-weight:500;text-transform:capitalize;}.elementor-46 .elementor-element.elementor-element-096d0d6  .entry-header{margin-bottom:5px;}.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-tax a{color:rgba(20, 20, 20, 0.6);}.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-tax{font-size:17px;text-transform:uppercase;font-style:italic;}.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-main{padding:0px 0px 0px 40px !important;}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-iso-item{margin-bottom:30px !important;}.elementor-46 .elementor-element.elementor-element-096d0d6 > .elementor-widget-container{margin:10px 0px 0px 0px;}@media(max-width:1024px){.elementor-46 .elementor-element.elementor-element-9160f40 .aux-modern-heading-primary{font-size:50px;}.elementor-46 .elementor-element.elementor-element-c27d2f1{margin-top:130px;margin-bottom:0px;}.elementor-46 .elementor-element.elementor-element-086e87a .aux-modern-heading-secondary .aux-head-highlight{font-size:36px;}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters li > a{font-size:15px;}.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-header .entry-title a{font-size:24px;}.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-tax{font-size:15px;}}@media(max-width:767px){.elementor-46 .elementor-element.elementor-element-873a4e3{padding:35px 35px 30px 35px;}.elementor-46 .elementor-element.elementor-element-9160f40 .aux-modern-heading-primary{font-size:46px;}.elementor-46 .elementor-element.elementor-element-9160f40 .aux-modern-heading-secondary .aux-head-highlight{font-size:15px;}.elementor-46 .elementor-element.elementor-element-c27d2f1{margin-top:90px;margin-bottom:0px;}.elementor-46 .elementor-element.elementor-element-086e87a .aux-modern-heading-primary{font-size:14px;}.elementor-46 .elementor-element.elementor-element-086e87a .aux-modern-heading-secondary .aux-head-highlight{font-size:32px;}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters li > a{font-size:14px;}.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-filters li > a > span{padding:0px 9px 0px 9px !important;}.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-header .entry-title a{font-size:20px;}.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-tax{font-size:14px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-086e87a */.elementor-46 .elementor-element.elementor-element-086e87a .aux-head-highlight span{
    background-image: linear-gradient(var(--e-global-color-3f477370), var(--e-global-color-3f477370));
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 45%;
}/* End custom CSS */
/* Start custom CSS for aux_recent_portfolios_grid, class: .elementor-element-096d0d6 */.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-media {
    margin: 0;
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-main{
    position: absolute;
    bottom: 10%;
    left: 10%;
    transition:all 250ms ease-in;
    opacity: 0;
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .entry-header{
    max-width: 100% !important;
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-media-frame a:after{
    content: '';
    width: 80%;
    height: 80%;
    background-color: var(--e-global-color-3f477370);
    box-shadow: 0px 7px 65px #0000000F;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 5px;
    opacity: 0;
    transition:all 250ms ease-in;
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .wpulike{
    display: none;
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-media-frame a:before{
    content: '+';
    width: 60px;
    height: 47px;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    background: var(--e-global-color-50ccadc);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16%;
    top:16%;
    z-index: 2;
    opacity: 0;
    transition:all 250ms ease-in;
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-col:hover .aux-media-frame a:after {
    opacity: 0.92;    
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-col:hover .aux-media-frame a:before , .elementor-46 .elementor-element.elementor-element-096d0d6 .aux-col:hover .entry-main{
    opacity: 1;
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-selected{
    position: relative;
}
.elementor-46 .elementor-element.elementor-element-096d0d6 .aux-selected:after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--e-global-color-3f477370);
    border-radius: 5px;
    position: absolute;
    bottom: 47%;
    left: 0px;
}/* End custom CSS */