.elementor-62 .elementor-element.elementor-element-091a0f8{padding:0px 35px 0px 35px;}.elementor-62 .elementor-element.elementor-element-89b3e0d:not(.elementor-motion-effects-element-type-background), .elementor-62 .elementor-element.elementor-element-89b3e0d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(253deg, #efefef 0%, #f2f1fb 100%);}.elementor-62 .elementor-element.elementor-element-89b3e0d, .elementor-62 .elementor-element.elementor-element-89b3e0d > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-62 .elementor-element.elementor-element-89b3e0d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:14%;margin-bottom:0%;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-89b3e0d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-62 .elementor-element.elementor-element-c3b06fd{position:absolute;bottom:0px;left:0px;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-3c932cc > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-62 .elementor-element.elementor-element-3c932cc > .elementor-element-populated > .elementor-widget-wrap{padding:50px 77px 52px 75px;}.elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:30px;font-weight:bold;line-height:43px;color:#000000;margin:0px 0px 5px 0px;}.elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-secondary{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;text-transform:capitalize;line-height:19px;color:rgba(0,0,0,0.6);margin:0px 0px 30px 0px;}.elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-description{color:rgba(0,0,0,0.7);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:25px;margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-9f1b422{animation-delay:150ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-item, .elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-items{justify-content:left;}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-text{color:#000000;font-family:"Poppins", Sans-serif;font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.8px;margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-text2{color:rgba(0,0,0,0.6);font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;line-height:19px;margin:3px 0px 0px 10px;}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-icon{color:#24af29;}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-item{margin:0px 0px 12px 0px;}.elementor-62 .elementor-element.elementor-element-587f706{animation-delay:300ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-d9807e1{--grid-template-columns:repeat(0, auto);--icon-size:12px;--grid-column-gap:18px;--grid-row-gap:0px;animation-delay:450ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-widget-container{text-align:left;}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon{background-color:rgba(255,255,255,0);--icon-padding:1.1em;}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon i{color:#251a94;}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon svg{fill:#251a94;}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-icon{border-radius:10px 10px 10px 10px;}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon:hover{background-color:rgba(0,0,0,0);}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon:hover i{color:#ffffff;}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon:hover svg{fill:#ffffff;}.elementor-62 .elementor-element.elementor-element-d9807e1 > .elementor-widget-container{margin:13px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-b76b390 > .elementor-container{max-width:1630px;}.elementor-62 .elementor-element.elementor-element-b76b390{margin-top:110px;margin-bottom:0px;padding:0px 15px 0px 15px;}.elementor-62 .elementor-element.elementor-element-1c7102f > .elementor-element-populated > .elementor-widget-wrap{padding:0px 20px 0px 20px;}.elementor-62 .elementor-element.elementor-element-1c7102f{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-a77e06c .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:30px;font-weight:bold;line-height:43px;letter-spacing:-0.7px;color:#000000;margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-a77e06c .aux-modern-heading-secondary{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-a77e06c .aux-modern-heading-divider{height:1px;width:100%;margin:0px 0px 0px 42px;background-color:rgba(37, 26, 148, 1);}.elementor-62 .elementor-element.elementor-element-a77e06c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-3bf5a18{color:rgba(0,0,0,0.7);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:25px;max-width:720px;}.elementor-62 .elementor-element.elementor-element-3bf5a18 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-8f382fc > .elementor-element-populated > .elementor-widget-wrap{padding:0px 20px 0px 20px;}.elementor-62 .elementor-element.elementor-element-8f382fc{animation-delay:150ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-e66c97a .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:30px;font-weight:bold;line-height:43px;letter-spacing:-0.7px;color:#000000;margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-e66c97a .aux-modern-heading-secondary{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-e66c97a .aux-modern-heading-divider{height:1px;width:100%;margin:0px 0px 0px 42px;background-color:#251a94;}.elementor-62 .elementor-element.elementor-element-e66c97a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-5de81c0 .aux-icon-list-item, .elementor-62 .elementor-element.elementor-element-5de81c0 .aux-icon-list-items{justify-content:left;}.elementor-62 .elementor-element.elementor-element-5de81c0 .aux-icon-list-text{color:rgba(0,0,0,0.7);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:19px;margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-5de81c0 .aux-icon-list-icon{color:#251a94;font-size:18px;margin:0px 10px 0px 0px;}.elementor-62 .elementor-element.elementor-element-5de81c0 .aux-icon-list-item{margin:0px 0px 15px 0px;}.elementor-62 .elementor-element.elementor-element-5de81c0 > .elementor-widget-container{margin:6px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-33a5ae4 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 20px 0px 20px;}.elementor-62 .elementor-element.elementor-element-33a5ae4{animation-delay:300ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-fe52da1 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:30px;font-weight:bold;line-height:43px;letter-spacing:-0.7px;color:#000000;margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-fe52da1 .aux-modern-heading-secondary{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-fe52da1 .aux-modern-heading-divider{height:1px;width:100%;margin:0px 0px 0px 42px;background-color:#251a94;}.elementor-62 .elementor-element.elementor-element-fe52da1 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-fc1cfe1 .aux-icon-list-item, .elementor-62 .elementor-element.elementor-element-fc1cfe1 .aux-icon-list-items{justify-content:left;}.elementor-62 .elementor-element.elementor-element-fc1cfe1 .aux-icon-list-text{color:rgba(0,0,0,0.7);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:19px;margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-fc1cfe1 .aux-icon-list-icon{color:#251a94;font-size:18px;margin:0px 10px 0px 0px;}.elementor-62 .elementor-element.elementor-element-fc1cfe1 .aux-icon-list-item{margin:0px 0px 16px 0px;}.elementor-62 .elementor-element.elementor-element-fc1cfe1 > .elementor-widget-container{margin:6px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-150492a > .elementor-container{max-width:1630px;}.elementor-62 .elementor-element.elementor-element-150492a{margin-top:60px;margin-bottom:0px;padding:0px 15px 0px 15px;}.elementor-62 .elementor-element.elementor-element-dc2b2fc.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-62 .elementor-element.elementor-element-dc2b2fc > .elementor-element-populated > .elementor-widget-wrap{padding:0px 20px 0px 20px;}.elementor-62 .elementor-element.elementor-element-dc2b2fc{animation-delay:450ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-62 .elementor-element.elementor-element-4e1c210 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:30px;font-weight:bold;line-height:43px;letter-spacing:-0.7px;color:#000000;margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-4e1c210 .aux-modern-heading-secondary{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-4e1c210 .aux-modern-heading-divider{height:1px;width:100%;margin:0px 0px 0px 42px;background-color:rgba(37, 26, 148, 1);}.elementor-62 .elementor-element.elementor-element-4e1c210 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-6881675{color:rgba(0,0,0,0.7);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:25px;width:auto;max-width:47%;}.elementor-62 .elementor-element.elementor-element-6881675 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-8c42f22{color:rgba(0,0,0,0.7);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:25px;width:auto;max-width:47%;}.elementor-62 .elementor-element.elementor-element-8c42f22 > .elementor-widget-container{margin:20px 0px 0px 0px;}@media(min-width:768px){.elementor-62 .elementor-element.elementor-element-4e2fcd7{width:45.5%;}.elementor-62 .elementor-element.elementor-element-3c932cc{width:54.5%;}.elementor-62 .elementor-element.elementor-element-1c7102f{width:50%;}.elementor-62 .elementor-element.elementor-element-8f382fc{width:25%;}.elementor-62 .elementor-element.elementor-element-33a5ae4{width:24.664%;}}@media(max-width:1024px) and (min-width:768px){.elementor-62 .elementor-element.elementor-element-1c7102f{width:100%;}.elementor-62 .elementor-element.elementor-element-8f382fc{width:50%;}.elementor-62 .elementor-element.elementor-element-33a5ae4{width:50%;}}@media(max-width:1024px){.elementor-62 .elementor-element.elementor-element-c3b06fd{left:-15%;}.elementor-62 .elementor-element.elementor-element-3c932cc > .elementor-element-populated > .elementor-widget-wrap{padding:25px 25px 25px 25px;}.elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-primary{font-size:20px;line-height:30px;}.elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-secondary{font-size:14px;line-height:16px;}.elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-description{font-size:14px;}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-item, .elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-items{justify-content:left;}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-text{font-size:15px;line-height:18px;}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-text2{font-size:14px;}.elementor-62 .elementor-element.elementor-element-a77e06c .aux-modern-heading-primary{font-size:20px;}.elementor-62 .elementor-element.elementor-element-e66c97a .aux-modern-heading-primary{font-size:20px;}.elementor-62 .elementor-element.elementor-element-fe52da1 .aux-modern-heading-primary{font-size:20px;}.elementor-62 .elementor-element.elementor-element-4e1c210 .aux-modern-heading-primary{font-size:20px;}}@media(max-width:767px){.elementor-62 .elementor-element.elementor-element-c3b06fd{position:static;}.elementor-62 .elementor-element.elementor-element-3c932cc > .elementor-element-populated > .elementor-widget-wrap{padding:35px 35px 35px 35px;}.elementor-62 .elementor-element.elementor-element-9f1b422 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-description{max-width:320px;}.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-item, .elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-items{justify-content:left;}.elementor-62 .elementor-element.elementor-element-587f706{width:auto;max-width:auto;}.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-widget-container{text-align:center;}.elementor-62 .elementor-element.elementor-element-1c7102f{width:100%;}.elementor-62 .elementor-element.elementor-element-3bf5a18 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-8f382fc{width:100%;}.elementor-62 .elementor-element.elementor-element-8f382fc > .elementor-element-populated{margin:60px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-62 .elementor-element.elementor-element-5de81c0 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-33a5ae4 > .elementor-element-populated{margin:60px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-62 .elementor-element.elementor-element-fc1cfe1 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-62 .elementor-element.elementor-element-6881675{max-width:100%;}.elementor-62 .elementor-element.elementor-element-8c42f22{max-width:100%;}}/* Start custom CSS for aux_image, class: .elementor-element-c3b06fd */@media only screen and (min-width:768px) and (max-width:1024px) {
    .elementor-62 .elementor-element.elementor-element-c3b06fd img {
        max-width: 120% !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-9f1b422 */@media only screen and (min-width:768px) and (max-width:1250px) {
    .elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-description {
        overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
    }
}

@media only screen and (max-width:768px)  {
     .elementor-62 .elementor-element.elementor-element-9f1b422 .aux-modern-heading-description {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-587f706 */.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-icon {
  display: inline-flex;
}
.elementor-62 .elementor-element.elementor-element-587f706 .aux-icon-list-text2 {
    flex: 1 !important;
}

@media only screen and (max-width:768px)  {
    .elementor-62 .elementor-element.elementor-element-587f706 {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-d9807e1 */.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon {
    box-shadow:inset 0 0 0 1px rgba(37, 26, 148, 1);
    position: relative;
    overflow: hidden;
}

.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon:hover {
    box-shadow: inset 0 0 0 0px  rgba(37, 26, 148, 1), 10px 10px 30px rgba(135, 111, 229, 0.2);
}

.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-image: linear-gradient(116deg, #876fe5 0%, #251a94 100%);
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.elementor-62 .elementor-element.elementor-element-d9807e1 .elementor-social-icon:hover:before {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-a77e06c */.elementor-62 .elementor-element.elementor-element-a77e06c .aux-widget-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

.elementor-62 .elementor-element.elementor-element-a77e06c .aux-widget-inner > * {
    width: 100%;
}

.elementor-62 .elementor-element.elementor-element-a77e06c .aux-modern-heading-primary {
    width: auto;
}

.elementor-62 .elementor-element.elementor-element-a77e06c .aux-modern-heading-divider {
    flex: 1;
}

@media only screen and (min-width:1024px) and (max-width:1368px) {
    .elementor-62 .elementor-element.elementor-element-a77e06c .aux-modern-heading-primary {
        font-size: 20px;
    }
    .elementor-62 .elementor-element.elementor-element-a77e06c .aux-modern-heading-divider {
        margin-left: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-e66c97a */.elementor-62 .elementor-element.elementor-element-e66c97a .aux-widget-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

.elementor-62 .elementor-element.elementor-element-e66c97a .aux-widget-inner > * {
    width: 100%;
}

.elementor-62 .elementor-element.elementor-element-e66c97a .aux-modern-heading-primary {
    width: auto;
}

.elementor-62 .elementor-element.elementor-element-e66c97a .aux-modern-heading-divider {
    flex: 1;
}

@media only screen and (min-width:1024px) and (max-width:1368px) {
    .elementor-62 .elementor-element.elementor-element-e66c97a .aux-modern-heading-primary {
        font-size: 20px;
    }
    .elementor-62 .elementor-element.elementor-element-e66c97a .aux-modern-heading-divider {
        margin-left: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-5de81c0 */.elementor-62 .elementor-element.elementor-element-5de81c0 ul {
    margin-top: 0 !important;
}

.elementor-62 .elementor-element.elementor-element-5de81c0 .aux-icon-list-icon {
    background-image: linear-gradient(180deg, #876fe5 0%, #251a94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-flex;
}

.elementor-62 .elementor-element.elementor-element-5de81c0 .aux-icon-list-text {
    flex: 1 !important;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-fe52da1 */.elementor-62 .elementor-element.elementor-element-fe52da1 .aux-widget-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

.elementor-62 .elementor-element.elementor-element-fe52da1 .aux-widget-inner > * {
    width: 100%;
}

.elementor-62 .elementor-element.elementor-element-fe52da1 .aux-modern-heading-primary {
    width: auto;
}

.elementor-62 .elementor-element.elementor-element-fe52da1 .aux-modern-heading-divider {
    flex: 1;
}

@media only screen and (min-width:1024px) and (max-width:1368px) {
    .elementor-62 .elementor-element.elementor-element-fe52da1 .aux-modern-heading-primary {
        font-size: 20px;
    }
    
    .elementor-62 .elementor-element.elementor-element-fe52da1 .aux-modern-heading-divider {
        margin-left: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-fc1cfe1 */.elementor-62 .elementor-element.elementor-element-fc1cfe1 ul {
    margin-top: 0 !important;
}

.elementor-62 .elementor-element.elementor-element-fc1cfe1 .aux-icon-list-icon {
    background-image: linear-gradient(180deg, #876fe5 0%, #251a94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-flex;
}

.elementor-62 .elementor-element.elementor-element-fc1cfe1 .aux-icon-list-text {
    flex: 1 !important;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-4e1c210 */.elementor-62 .elementor-element.elementor-element-4e1c210 .aux-widget-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

.elementor-62 .elementor-element.elementor-element-4e1c210 .aux-widget-inner > * {
    width: 100%;
}

.elementor-62 .elementor-element.elementor-element-4e1c210 .aux-modern-heading-primary {
    width: auto;
}

.elementor-62 .elementor-element.elementor-element-4e1c210 .aux-modern-heading-divider {
    flex: 1;
}

@media only screen and (min-width:1024px) and (max-width:1368px) {
    .elementor-62 .elementor-element.elementor-element-4e1c210 .aux-modern-heading-primary {
        font-size: 20px;
    }
    .elementor-62 .elementor-element.elementor-element-4e1c210 .aux-modern-heading-divider {
        margin-left: 20px;
    }
}/* End custom CSS */