.elementor-65 .elementor-element.elementor-element-6ea2c44c > .elementor-container{max-width:1600px;}.elementor-65 .elementor-element.elementor-element-6ea2c44c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-65 .elementor-element.elementor-element-6ea2c44c:not(.elementor-motion-effects-element-type-background), .elementor-65 .elementor-element.elementor-element-6ea2c44c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#171717;}.elementor-65 .elementor-element.elementor-element-6ea2c44c{border-style:solid;border-width:0px 0px 1px 0px;border-color:#707070;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:11px 35px 11px 35px;}.elementor-65 .elementor-element.elementor-element-6ea2c44c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-65 .elementor-element.elementor-element-78308cd3 .elementor-heading-title{color:rgba(255,255,255,0.7);font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;line-height:18px;}.elementor-65 .elementor-element.elementor-element-78308cd3 > .elementor-widget-container{margin:0px 75px 0px 0px;}.elementor-65 .elementor-element.elementor-element-78308cd3{width:auto;max-width:auto;}.elementor-65 .elementor-element.elementor-element-6e643dab .elementor-heading-title{color:rgba(255,255,255,0.7);font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;line-height:18px;}.elementor-65 .elementor-element.elementor-element-6e643dab{width:auto;max-width:auto;}.elementor-65 .elementor-element.elementor-element-6849967.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-65 .elementor-element.elementor-element-36ac520d .elementor-heading-title{color:rgba(255,255,255,0.7);font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;line-height:18px;}.elementor-65 .elementor-element.elementor-element-36ac520d{width:auto;max-width:auto;}.elementor-65 .elementor-element.elementor-element-7c696726 > .elementor-container{max-width:1600px;}.elementor-65 .elementor-element.elementor-element-7c696726 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-65 .elementor-element.elementor-element-7c696726{margin-top:28px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-65 .elementor-element.elementor-element-4c8282c > .elementor-widget-container{margin:0px 20px 0px 0px;}.elementor-65 .elementor-element.elementor-element-4c8282c{width:auto;max-width:auto;}.elementor-65 .elementor-element.elementor-element-2cfe151b{max-width:1000px;}.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-form .aux-submit-icon-container,.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-section button.aux-search-icon{background-color:transparent;}.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-icon:before, .elementor-65 .elementor-element.elementor-element-207fb474 .aux-submit-icon-container:before{font-size:16px;color:#303030;}.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-icon, .elementor-65 .elementor-element.elementor-element-207fb474 .aux-submit-icon-container{margin:0px 0px 0px 0px;}.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-form .aux-search-field{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;line-height:19px;max-width:100%;padding:20px 250px 20px 26px;border-style:solid;border-width:0px 0px 0px 0px;border-radius:15px 15px 15px 15px;overflow:hidden;}.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-form .aux-search-submit{background-color:#303030;}.elementor-65 .elementor-element.elementor-element-207fb474{width:100%;max-width:970px;}.elementor-65 .elementor-element.elementor-element-735f5744{text-align:center;width:auto;max-width:auto;}.elementor-65 .elementor-element.elementor-element-735f5744 .aux-button{padding:16px 25px 16px 25px;background-color:transparent;background-image:linear-gradient(116deg, #876fe5 0%, #251a94 100%);text-shadow:0px 0px 0px rgba(0,0,0,0.3);}.elementor-65 .elementor-element.elementor-element-735f5744 .aux-button .aux-overlay::after{background-color:transparent;background-image:linear-gradient(180deg, #ffffff 0%, #ffffff 100%);}.elementor-65 .elementor-element.elementor-element-735f5744 .aux-button:hover{box-shadow:0px 0px 0px 1px #251a94;}.elementor-65 .elementor-element.elementor-element-735f5744 .aux-text{color:#ffffff;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;text-transform:none;line-height:19px;}.elementor-65 .elementor-element.elementor-element-735f5744 .aux-button:hover .aux-text{color:rgba(37,26,148,0.35);}.elementor-65 .elementor-element.elementor-element-735f5744 > .elementor-widget-container{margin:0px 0px 0px 15px;}.elementor-65 .elementor-element.elementor-element-1bd8a87 .elementor-repeater-item-4f837a3 .aux-icon-list-text{color:rgba(37,26,148,0.35);}.elementor-65 .elementor-element.elementor-element-1bd8a87 .aux-icon-list-item, .elementor-65 .elementor-element.elementor-element-1bd8a87 .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-65 .elementor-element.elementor-element-1bd8a87 .aux-icon-list-item .aux-list-connector{border-bottom-style:dashed;}.elementor-65 .elementor-element.elementor-element-1bd8a87 .aux-icon-list-text{color:#251a94;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;line-height:19px;}.elementor-65 .elementor-element.elementor-element-1bd8a87 .aux-icon-list-icon{color:#24af29;}.elementor-65 .elementor-element.elementor-element-1bd8a87 > .elementor-widget-container{margin:0px 0px 0px 30px;}.elementor-65 .elementor-element.elementor-element-70e581fc .aux-cart-contents > span{background-color:#23a455;font-family:"Montserrat", Sans-serif;font-size:12px;font-weight:500;line-height:21px;color:#ffffff;bottom:0px;right:-5px;padding:0px 0px 0px 0px;}.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-dropdown{bottom:-28px;width:370px;padding:0px 0px 0px 0px;background-color:#ffffff;border-style:solid;border-width:0px 0px 0px 0px;box-shadow:0px 3px 40px 0px rgba(0,0,0,0.1);}.elementor-65 .elementor-element.elementor-element-70e581fc .aux-cart-wrapper .aux-card-item h3{color:#000000;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:bold;line-height:20px;}.elementor-65 .elementor-element.elementor-element-70e581fc .aux-cart-wrapper .aux-card-item span{color:rgba(0,0,0,0.5);font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:bold;line-height:20px;}.elementor-65 .elementor-element.elementor-element-70e581fc > .elementor-widget-container{margin:0px 0px 0px 30px;}.elementor-65 .elementor-element.elementor-element-70e581fc{width:auto;max-width:auto;}.elementor-65 .elementor-element.elementor-element-ca79ca5 .aux-icon-list-item, .elementor-65 .elementor-element.elementor-element-ca79ca5 .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-65 .elementor-element.elementor-element-ca79ca5 .aux-icon-list-icon{color:#000000;font-size:30px;margin:0px 0px 0px 0px;}.elementor-65 .elementor-element.elementor-element-ca79ca5 .aux-icon-list-item{padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}.elementor-65 .elementor-element.elementor-element-ca79ca5 > .elementor-widget-container{margin:0px 0px 0px 25px;}.elementor-65 .elementor-element.elementor-element-ca79ca5{width:auto;max-width:auto;}@media(max-width:1024px){.elementor-65 .elementor-element.elementor-element-4c8282c > .elementor-widget-container{margin:0px 0px 0px 0px;}}/* Start custom CSS for column, class: .elementor-element-54f7573f */.elementor-65 .elementor-element.elementor-element-54f7573f {
    width: auto;
}/* End custom CSS */
/* Start custom CSS for aux_search_box, class: .elementor-element-207fb474 */.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-form form {
    display: block;
}

.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-form .aux-search-field {
    background: linear-gradient( 273deg , rgba(239,239,239, 0.73) 0%, rgba(242,241,251,0.73) 100%);
    height: auto;
}

.elementor-65 .elementor-element.elementor-element-207fb474 .postform {
    position: absolute;
    right: 105px;
    top: 15px;
    border: none;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(0,0,0, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.01' height='5.565' viewBox='0 0 9.01 5.565'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M0,0,3.755,3.755,0,7.51' transform='translate(8.26 0.75) rotate(90)'/%3E%3C/svg%3E");
    padding-right: 15px;

}

.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-form .aux-submit-icon-container {
    width: 17px;
    position: absolute;
    top: 20px;
    right: 35px;
    height: 17px;
    
}
.elementor-65 .elementor-element.elementor-element-207fb474 .aux-search-form .aux-submit-icon-container:after {
    content: '';
    position: absolute;
    left: -28px;
    top: -4px;
    width: 1px;
    height: 28px;
    background: rgba(0, 0, 0, 1);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2cfe151b */.elementor-65 .elementor-element.elementor-element-2cfe151b {
    width: auto;
    flex: 1;
}/* End custom CSS */
/* Start custom CSS for aux_button, class: .elementor-element-735f5744 */.elementor-65 .elementor-element.elementor-element-735f5744 .aux-button {
    border-radius: 15px;
    margin-bottom: 0 !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1a66cb24 */.elementor-65 .elementor-element.elementor-element-1a66cb24 {
    width: auto;
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-1bd8a87 */.elementor-65 .elementor-element.elementor-element-1bd8a87 ul {
    margin-top: 0 !important;
}

.elementor-65 .elementor-element.elementor-element-1bd8a87 .aux-icon-list-item:first-child:after{
    content: '';
    height: 20px;
    width: 1px;
    background: #251A94;
    margin-right: 15px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-a8038b1 */.elementor-65 .elementor-element.elementor-element-a8038b1 {
    width: auto;
}/* End custom CSS */
/* Start custom CSS for aux_shopping_cart, class: .elementor-element-70e581fc */.elementor-65 .elementor-element.elementor-element-70e581fc .aux-shopping-cart-info  {
    display: none;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-cart-contents  {
    color : #000;
    -webkit-text-stroke: 0.1px;
    font-size: 33px;
    margin-top: 0;
}
.elementor-65 .elementor-element.elementor-element-70e581fc .aux-cart-contents > span {
    width: 21px; 
    height: 21px;
    background: linear-gradient(180deg, rgba(135,111,229,1) 0%, rgba(37,26,148,1) 100%);

}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-dropdown {
    right: 0;
    left: auto;
    border-radius: 20px;
    z-index: 8;
}

.elementor-65 .elementor-element.elementor-element-70e581fc img {
    width: auto !important;
    height: auto !important;
    border-radius: 10px;
    transition: box-shadow 150ms ease-out;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-item:hover img {
    box-shadow:5px 5px  60px rgba(0, 0, 0, 0.16);
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-box{
    padding: 0 0 24px 0;
    margin: 0 22px;
    border-bottom: 1px solid rgba(37, 26, 148, 1);
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-item {
    margin-bottom: 0;
    padding: 22px 0px;
    border-bottom: 1px solid rgba(207, 207, 207, 1);
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-item:last-of-type {
    border: none;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-item-details {
    align-self: center;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-item-img {
    margin-right: 32px;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-item-permalink h3 {
    margin-bottom: 11px;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-remove-cart-content    {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.689' height='10.693' viewBox='0 0 10.689 10.693'%3E%3Cg transform='translate(-27.928 -28.158)'%3E%3Cpath d='M28.137,38.637a.73.73,0,0,0,1.032,0L33.307,34.5l4.138,4.138a.73.73,0,0,0,1.017-1.025l-4.138-4.138,4.138-4.138a.73.73,0,0,0-1.025-1.025L33.3,32.449l-4.138-4.138a.73.73,0,0,0-1.025,1.025l4.138,4.138-4.138,4.138A.73.73,0,0,0,28.137,38.637Z'/%3E%3C/g%3E%3C/svg%3E");
    width: 11px;
    height: 11px;
    background-position: center;
    top: 50px;
}


.elementor-65 .elementor-element.elementor-element-70e581fc .aux-cart-total-items {
    display: none;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-final-amount {
    border: none;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    text-transform: lowercase;
    padding: 29px 22px;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-final-amount:first-letter {
    text-transform:capitalize;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-card-final-amount .amount {
    float: right;
    color: rgba(37, 26, 148, 1);
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-button-wrapper {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    padding: 0 22px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-button-wrapper .aux-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 13px 38px;
    border-radius: 10px;
    text-transform: capitalize;
    text-shadow: none;
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-button-wrapper .aux-button .aux-overlay {
    display: none;
}
.elementor-65 .elementor-element.elementor-element-70e581fc .aux-cart-button {
    box-shadow: 0 0 0 1px rgba(37, 26, 148, 1);
    color: rgba(135, 111, 229, 0.35);
}

.elementor-65 .elementor-element.elementor-element-70e581fc .aux-checkout-button {
    background: linear-gradient(108deg, rgba(135,111,229,1) 0%, rgba(37,26,148,1) 100%);
    color: #FFF;
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-ca79ca5 */.elementor-65 .elementor-element.elementor-element-ca79ca5 ul {
    margin-top: 0 !important;
}

.elementor-65 .elementor-element.elementor-element-ca79ca5 .aux-icon-list-icon:before{
    -webkit-text-stroke: 0.4px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-367f449f */.elementor-65 .elementor-element.elementor-element-367f449f {
    width: auto;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7c696726 */@media only screen and (max-width:1024px) {
    .elementor-65 .elementor-element.elementor-element-7c696726 .elementor-row {
        justify-content: space-between;
    }
}/* End custom CSS */