.elementor-82 .elementor-element.elementor-element-203d6b6 > .elementor-container{max-width:1300px;}.elementor-82 .elementor-element.elementor-element-203d6b6{margin-top:0px;margin-bottom:140px;padding:0px 35px 0px 35px;}.elementor-82 .elementor-element.elementor-element-b57b27b > .elementor-container{max-width:1300px;}.elementor-82 .elementor-element.elementor-element-b57b27b:not(.elementor-motion-effects-element-type-background), .elementor-82 .elementor-element.elementor-element-b57b27b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(113deg, var( --e-global-color-secondary ) 0%, var( --e-global-color-accent ) 100%);}.elementor-82 .elementor-element.elementor-element-b57b27b, .elementor-82 .elementor-element.elementor-element-b57b27b > .elementor-background-overlay{border-radius:50px 50px 50px 50px;}.elementor-82 .elementor-element.elementor-element-b57b27b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 0% 0% 0%;}.elementor-82 .elementor-element.elementor-element-b57b27b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-82 .elementor-element.elementor-element-c084302.elementor-column .elementor-column-wrap{align-items:center;}.elementor-82 .elementor-element.elementor-element-c084302.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-82 .elementor-element.elementor-element-c084302 > .elementor-element-populated > .elementor-widget-wrap{padding:82px 0px 82px 100px;}.elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-primary{font-size:44px;font-weight:800;line-height:1.2em;color:#FFFFFF;max-width:542px;}.elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-description{color:#FFFFFF;font-size:18px;line-height:1.4em;max-width:465px;}.elementor-82 .elementor-element.elementor-element-84b5522{animation-duration:2500ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button-wrapper{text-align:left;}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button.aux-modern-button-outline .aux-overlay:before, .elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button .aux-overlay:before{background-color:var( --e-global-color-accent );}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-overlay:before, .elementor-82 .elementor-element.elementor-element-9f89daf .aux-overlay:after{box-shadow:0px 8px 44px 0px rgba(174, 0, 18.99999999999989, 0.5019607843137255);border-radius:25.5px 25.5px 25.5px 25.5px;}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button{padding:16px 33px 15px 33px;}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button.aux-modern-button-outline .aux-overlay:after, .elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button .aux-overlay:after{background-color:#FFFFFF;}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button:hover .aux-overlay:before, .elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button:hover .aux-overlay:after{box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0);}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-text{font-size:15px;font-weight:bold;color:#FFFFFF;}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button:hover .aux-text{color:var( --e-global-color-accent );}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-icon{font-size:20px;}.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button:hover .aux-icon{color:var( --e-global-color-accent );}.elementor-82 .elementor-element.elementor-element-9f89daf{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-82 .elementor-element.elementor-element-3eab247 .aux-widget-container{text-align:center;}.elementor-82 .elementor-element.elementor-element-3eab247{position:relative;top:0px;right:-30px;}.elementor-82 .elementor-element.elementor-element-3eab247 > .elementor-widget-container{transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-82 .elementor-element.elementor-element-af045ae{width:auto;max-width:auto;position:absolute;top:-79px;right:0px;min-width:658px;}.elementor-82 .elementor-element.elementor-element-af045ae > .elementor-widget-container{transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-82 .elementor-element.elementor-element-fa74de1{width:auto;max-width:auto;position:absolute;right:310px;bottom:120px;min-width:310px;}.elementor-82 .elementor-element.elementor-element-fa74de1 > .elementor-widget-container{transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-82 .elementor-element.elementor-element-53d788a{width:auto;max-width:auto;position:absolute;right:350px;bottom:360px;min-width:118px;}.elementor-82 .elementor-element.elementor-element-53d788a > .elementor-widget-container{transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-82 .elementor-element.elementor-element-2011d6f > .elementor-container{max-width:1300px;}.elementor-82 .elementor-element.elementor-element-2011d6f{padding:0px 35px 0px 35px;}.elementor-82 .elementor-element.elementor-element-ebe8269 > .elementor-container{max-width:1200px;}.elementor-82 .elementor-element.elementor-element-ebe8269{margin-top:0px;margin-bottom:28px;}.elementor-bc-flex-widget .elementor-82 .elementor-element.elementor-element-4f7d0ab.elementor-column .elementor-column-wrap{align-items:center;}.elementor-82 .elementor-element.elementor-element-4f7d0ab.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-82 .elementor-element.elementor-element-4f7d0ab.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-82 .elementor-element.elementor-element-a677280{width:auto;max-width:auto;}.elementor-82 .elementor-element.elementor-element-5b2e8d6{text-align:left;width:auto;max-width:auto;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-vertical .aux-menu-depth-0 .aux-item-content{text-align:left;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-menu-depth-0 > .aux-item-content{color:#000000;font-family:"Baloo 2", Sans-serif;font-size:16px;font-weight:500;text-transform:capitalize;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-menu-depth-0.aux-hover > .aux-item-content {color:var( --e-global-color-secondary );}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-menu-depth-0.current-menu-item > a{color:var( --e-global-color-secondary );font-weight:bold;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-burger:before,  .elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-burger:after, .elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-burger .mid-line{border-color:var( --e-global-color-secondary );}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-fs-menu .aux-menu-item > .aux-item-content{color:#FFFFFF;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-fs-popup{background-color:var( --e-global-color-secondary );}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-fs-popup .aux-panel-close{border-color:#FFFFFF;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-fs-popup .aux-panel-close .aux-close:before{background-color:#FFFFFF;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-fs-popup .aux-panel-close .aux-close:after{background-color:#FFFFFF;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 > .elementor-widget-container{margin:0px 0px 0px 120px;}.elementor-82 .elementor-element.elementor-element-76de1b4 .elementor-repeater-item-3d77df5 .aux-icon-list-text{margin:0px 40px 0px 0px;}.elementor-82 .elementor-element.elementor-element-76de1b4 .aux-icon-list-item, .elementor-82 .elementor-element.elementor-element-76de1b4 .aux-icon-list-items{justify-content:flex-end;text-align:right;}.elementor-82 .elementor-element.elementor-element-76de1b4 .aux-direction-horizontal{align-items:center;}.elementor-82 .elementor-element.elementor-element-76de1b4 .aux-icon-list-item{align-items:center;}.elementor-82 .elementor-element.elementor-element-76de1b4 .aux-icon-list-text{color:#828282;font-size:15px;font-weight:600;}.elementor-82 .elementor-element.elementor-element-76de1b4 .aux-icon-list-item:hover .aux-icon-list-text{color:var( --e-global-color-secondary );}.elementor-82 .elementor-element.elementor-element-76de1b4 .aux-icon-list-icon{color:#24af29;}.elementor-82 .elementor-element.elementor-element-76de1b4{width:auto;max-width:auto;}.elementor-82 .elementor-element.elementor-element-af6d4af > .elementor-container{max-width:1200px;}.elementor-82 .elementor-element.elementor-element-af6d4af{margin-top:0px;margin-bottom:28px;}.elementor-bc-flex-widget .elementor-82 .elementor-element.elementor-element-b8e92de.elementor-column .elementor-column-wrap{align-items:center;}.elementor-82 .elementor-element.elementor-element-b8e92de.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-82 .elementor-element.elementor-element-b8e92de.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-82 .elementor-element.elementor-element-7efc5fc small{color:#A7ADC4;font-size:13px;}.elementor-82 .elementor-element.elementor-element-7efc5fc{width:auto;max-width:auto;}.elementor-82 .elementor-element.elementor-element-890604f{--grid-template-columns:repeat(0, auto);--icon-size:15px;--grid-column-gap:6px;--grid-row-gap:0px;width:auto;max-width:auto;}.elementor-82 .elementor-element.elementor-element-890604f .elementor-widget-container{text-align:right;}.elementor-82 .elementor-element.elementor-element-890604f .elementor-social-icon{background-color:#191E23;--icon-padding:0.5em;}.elementor-82 .elementor-element.elementor-element-890604f .elementor-social-icon i{color:#FFFFFF;}.elementor-82 .elementor-element.elementor-element-890604f .elementor-social-icon svg{fill:#FFFFFF;}.elementor-82 .elementor-element.elementor-element-890604f .elementor-icon{border-radius:50px 50px 50px 50px;}.elementor-82 .elementor-element.elementor-element-890604f .elementor-social-icon:hover{background-color:var( --e-global-color-secondary );}@media(max-width:1024px){.elementor-82 .elementor-element.elementor-element-c084302 > .elementor-element-populated > .elementor-widget-wrap{padding:50px 0px 50px 60px;}.elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-primary{font-size:30px;}.elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-description{font-size:17px;}.elementor-82 .elementor-element.elementor-element-3eab247{top:-20px;}.elementor-82 .elementor-element.elementor-element-af045ae .aux-media-image{max-width:526px;}.elementor-82 .elementor-element.elementor-element-af045ae{right:-35px;min-width:526px;}.elementor-82 .elementor-element.elementor-element-fa74de1{right:180px;bottom:75px;}.elementor-82 .elementor-element.elementor-element-53d788a{right:235px;bottom:305px;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:30px;line-height:1.5em;padding:0px 0px 40px 0px;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-fs-menu .aux-menu-item{margin:0px 0px 0px 0px;}.elementor-82 .elementor-element.elementor-element-5b2e8d6 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-82 .elementor-element.elementor-element-c084302 > .elementor-element-populated{margin:-80px 0px 50px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-c084302 > .elementor-element-populated > .elementor-widget-wrap{padding:40px 25px 0px 25px;}.elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-primary{font-size:23px;}.elementor-82 .elementor-element.elementor-element-16b8f2c > .elementor-element-populated{margin:-20px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-af045ae .aux-media-image{max-width:526px;}.elementor-82 .elementor-element.elementor-element-af045ae{max-width:526px;min-width:526px;}.elementor-82 .elementor-element.elementor-element-fa74de1{right:350px;}.elementor-82 .elementor-element.elementor-element-53d788a{right:400px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-84b5522 */@media only screen and (max-width:1250px) and (min-width:1025px){
    .elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-primary {
       font-size:30px!important;
       
    }}
@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-primary {
       font-size:23px!important;
       
    }
     .elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-description {
       font-size:16px!important;
       
    }
    .elementor-82 .elementor-element.elementor-element-84b5522 .aux-modern-heading-description p {
      margin-bottom:0px!important;
       
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_button, class: .elementor-element-9f89daf */.elementor-82 .elementor-element.elementor-element-9f89daf .aux-overlay:after{
    border:2px solid var( --e-global-color-accent );
    border-radius: 25.5px;
}
.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button .aux-overlay:after,.elementor-82 .elementor-element.elementor-element-9f89daf .aux-modern-button .aux-overlay:before{
    transition: all 300ms ease-out
}
@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-9f89daf{
       transform:scale(0.85);
       transform-origin:top left;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c084302 */@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-c084302 .elementor-element-populated {
       padding-left:40px!important;
       padding-right:20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-3eab247 */@media only screen and (max-width:1250px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-3eab247 svg{
        width:370px!important;
        height:370px!important;
    }
    
}

@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-3eab247{
        right:-15px!important;
    }
}
@media only screen and (max-width:767px){
       .elementor-82 .elementor-element.elementor-element-3eab247{
        right:unset!important;
        top:0;
    }
    .elementor-82 .elementor-element.elementor-element-3eab247 svg{
        width:370px;
        height:370px;
    }
}
@media only screen and (max-width:425px){
       .elementor-82 .elementor-element.elementor-element-3eab247{
        right:20px!important;
    }   
    }
@media only screen and (max-width:320px){
       .elementor-82 .elementor-element.elementor-element-3eab247{
        right:70px!important;
    }   
    }/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-af045ae */@media only screen and (max-width:1250px) and (min-width:1025px){
    .elementor-82 .elementor-element.elementor-element-af045ae {
       min-width:526px;
       max-width:526px;
       right:-35px;
    }
}
@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-af045ae {
       top:-90px;
       right:-90px;
    }
}
@media only screen and (max-width:767px){
    .elementor-82 .elementor-element.elementor-element-af045ae {
       right:unset!important;
    }
}
@media only screen and (max-width:425px){
    .elementor-82 .elementor-element.elementor-element-af045ae {
       right:-90px!important;
    }
}
@media only screen and (max-width:320px){
    .elementor-82 .elementor-element.elementor-element-af045ae {
       right:-140px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-fa74de1 */@media only screen and (max-width:1250px) and (min-width:1025px){
    .elementor-82 .elementor-element.elementor-element-fa74de1 {
       bottom:75px;
       right:180px;
    }
}
@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-fa74de1 {
       bottom:80px;
       right:130px;
    }
}
@media only screen and (max-width:767px){
    .elementor-82 .elementor-element.elementor-element-fa74de1 {
        right:unset!important;
    }
}
@media only screen and (max-width:425px){
    .elementor-82 .elementor-element.elementor-element-fa74de1 {
        right:110px!important;
    }
}
@media only screen and (max-width:320px){
    .elementor-82 .elementor-element.elementor-element-fa74de1 {
        right:30px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-53d788a */@media only screen and (max-width:1250px) and (min-width:1025px){
    .elementor-82 .elementor-element.elementor-element-53d788a {
       bottom:340px;
       right:230px;
    }
}
@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-53d788a {
       bottom:310px;
       right:180px;
    }
}

@media only screen and (max-width:425px){
    .elementor-82 .elementor-element.elementor-element-53d788a {
        right:170px!important;
    }
}
@media only screen and (max-width:320px){
    .elementor-82 .elementor-element.elementor-element-53d788a {
        right:90px!important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-16b8f2c */@media only screen and (max-width:800px) and (min-width:768px){
    .elementor-82 .elementor-element.elementor-element-16b8f2c {
        transform:scale(0.8);
    }
}
@media only screen and (max-width:425px){
    .elementor-82 .elementor-element.elementor-element-16b8f2c {
        transform:scale(0.8);
    }
}
@media only screen and (max-width:320px){
    .elementor-82 .elementor-element.elementor-element-16b8f2c {
        transform:scale(0.7);
        margin-top:-50px;
        margin-bottom:-50px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-203d6b6 */@media only screen and (max-width:900px){
    .elementor-82 .elementor-element.elementor-element-203d6b6{
        margin-bottom: 100px!important;
                 }}/* End custom CSS */
/* Start custom CSS for aux_logo, class: .elementor-element-a677280 */@media only screen and (max-width:900px){
    .elementor-82 .elementor-element.elementor-element-a677280{
        width:100%!important;
        margin-bottom: 20px;
        text-align:center;
           }}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-5b2e8d6 */.elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-item-content .aux-menu-label{
    transition: all 300ms ease-out;
}
@media only screen and (max-width:900px){
    .elementor-82 .elementor-element.elementor-element-5b2e8d6{
        width:100%!important;
        margin-top:20px;
        margin-bottom:20px;
            }
    .elementor-82 .elementor-element.elementor-element-5b2e8d6 ul{
        text-align:center;
    }
}
@media only screen and (max-width:320px){
   .elementor-82 .elementor-element.elementor-element-5b2e8d6 .aux-item-content{
       padding:0 8px;
   }}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-76de1b4 */.elementor-82 .elementor-element.elementor-element-76de1b4 .aux-direction-horizontal{
    margin-top: 0!important;
}
.elementor-82 .elementor-element.elementor-element-76de1b4 .aux-icon-list-text{
    transition: all 300ms ease-out;
}
@media only screen and (max-width:900px){
    .elementor-82 .elementor-element.elementor-element-76de1b4{
        width:100%!important;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .elementor-82 .elementor-element.elementor-element-76de1b4 .aux-icon-list-items{
        justify-content:center!important;
    }
}
@media only screen and (max-width:320px){
    .elementor-82 .elementor-element.elementor-element-76de1b4 li:first-child .aux-icon-list-text{
        margin-right:20px;
    }}/* End custom CSS */
/* Start custom CSS for aux_copyright, class: .elementor-element-7efc5fc */@media only screen and (max-width:900px){
    .elementor-82 .elementor-element.elementor-element-7efc5fc{
        width:100%!important;
        margin-bottom:20px!important;
            }
    .elementor-82 .elementor-element.elementor-element-7efc5fc{
        text-align:center;
    }
}
@media only screen and (max-width:320px){
    .elementor-82 .elementor-element.elementor-element-7efc5fc .elementor-widget-container{
        max-width:200px;
        margin:auto;
    }}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-890604f */@media only screen and (max-width:900px){
    .elementor-82 .elementor-element.elementor-element-890604f{
        width:100%!important;
        margin-top:20px;
        margin-bottom:20px;
            }
    .elementor-82 .elementor-element.elementor-element-890604f .elementor-social-icons-wrapper{
        text-align:center;
    }
}/* End custom CSS */