.elementor-102 .elementor-element.elementor-element-31e09446 > .elementor-container{max-width:1670px;}.elementor-102 .elementor-element.elementor-element-31e09446 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-102 .elementor-element.elementor-element-31e09446:not(.elementor-motion-effects-element-type-background), .elementor-102 .elementor-element.elementor-element-31e09446 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f3f3f3;}.elementor-102 .elementor-element.elementor-element-31e09446{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:7px 0px 7px 0px;z-index:10;}.elementor-102 .elementor-element.elementor-element-31e09446 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-102 .elementor-element.elementor-element-2f754457.elementor-column .elementor-column-wrap{align-items:center;}.elementor-102 .elementor-element.elementor-element-2f754457.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-102 .elementor-element.elementor-element-2f754457 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 35px 0px 35px;}.elementor-102 .elementor-element.elementor-element-141a3213 .aux-icon-list-item, .elementor-102 .elementor-element.elementor-element-141a3213 .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-102 .elementor-element.elementor-element-141a3213 .aux-icon-list-text{color:rgba(0,0,0,0.5);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;line-height:19px;letter-spacing:-0.4px;margin:0px 0px 0px 0px;}.elementor-102 .elementor-element.elementor-element-141a3213 .aux-icon-list-text2{margin:0px 0px 0px 0px;}.elementor-102 .elementor-element.elementor-element-141a3213 .aux-icon-list-icon{color:#000000;font-size:20px;margin:0px 15px -6px 0px;}.elementor-bc-flex-widget .elementor-102 .elementor-element.elementor-element-463306ea.elementor-column .elementor-column-wrap{align-items:center;}.elementor-102 .elementor-element.elementor-element-463306ea.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-102 .elementor-element.elementor-element-463306ea.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-102 .elementor-element.elementor-element-463306ea > .elementor-element-populated > .elementor-widget-wrap{padding:0px 35px 0px 35px;}.elementor-102 .elementor-element.elementor-element-46a350d0{text-align:right;width:auto;max-width:auto;}.elementor-102 .elementor-element.elementor-element-46a350d0 .elementor-heading-title{color:rgba(0,0,0,0.5);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;line-height:19px;letter-spacing:-0.4px;}.elementor-102 .elementor-element.elementor-element-46a350d0 > .elementor-widget-container{margin:0px 18px 0px 0px;}.elementor-102 .elementor-element.elementor-element-70b2324f .aux-search-form .aux-submit-icon-container,.elementor-102 .elementor-element.elementor-element-70b2324f .aux-search-section button.aux-search-icon{background-color:transparent;}.elementor-102 .elementor-element.elementor-element-70b2324f .aux-search-icon:before, .elementor-102 .elementor-element.elementor-element-70b2324f .aux-submit-icon-container:before{font-size:19px;color:#303030;}.elementor-102 .elementor-element.elementor-element-70b2324f .aux-search-icon, .elementor-102 .elementor-element.elementor-element-70b2324f .aux-submit-icon-container{margin:0px 0px 0px 0px;}.elementor-102 .elementor-element.elementor-element-70b2324f .aux-search-form .aux-search-field, .elementor-102 .elementor-element.elementor-element-70b2324f .aux-search-form select{background-color:#FFF;}.elementor-102 .elementor-element.elementor-element-70b2324f .aux-search-form .aux-search-submit{background-color:#303030;}.elementor-102 .elementor-element.elementor-element-70b2324f > .elementor-widget-container{padding:0px 0px 0px 12px;border-style:solid;border-width:0px 0px 0px 1px;border-color:#000000;}.elementor-102 .elementor-element.elementor-element-70b2324f{width:auto;max-width:auto;}.elementor-102 .elementor-element.elementor-element-7c1fec6e > .elementor-container{max-width:1670px;}.elementor-102 .elementor-element.elementor-element-7c1fec6e > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-102 .elementor-element.elementor-element-7c1fec6e{box-shadow:0px 3px 20px 0px rgba(0,0,0,0.07);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:16px 0px 16px 0px;z-index:10;}.elementor-102 .elementor-element.elementor-element-7c1fec6e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-102 .elementor-element.elementor-element-7bfa1299 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 35px 0px 35px;}.elementor-102 .elementor-element.elementor-element-7ad14e50 .aux-widget-image{text-align:left;}.elementor-bc-flex-widget .elementor-102 .elementor-element.elementor-element-42aa321a.elementor-column .elementor-column-wrap{align-items:center;}.elementor-102 .elementor-element.elementor-element-42aa321a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-102 .elementor-element.elementor-element-42aa321a.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-102 .elementor-element.elementor-element-42aa321a > .elementor-element-populated > .elementor-widget-wrap{padding:0px 35px 0px 35px;}.elementor-102 .elementor-element.elementor-element-1d8547df{text-align:left;width:auto;max-width:auto;}.elementor-102 .elementor-element.elementor-element-1d8547df .aux-vertical .aux-menu-depth-0 .aux-item-content{text-align:left;}.elementor-102 .elementor-element.elementor-element-1d8547df .aux-menu-depth-0 > .aux-item-content{color:#000000;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;text-transform:none;line-height:19px;letter-spacing:-0.4px;}.elementor-102 .elementor-element.elementor-element-1d8547df .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-contents > span{background-color:#000000;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;line-height:19px;letter-spacing:-0.4px;bottom:20px;right:-15px;padding:0px 0px 0px 0px;}.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-card-dropdown{bottom:-16px;width:370px;padding:0px 0px 0px 0px;background-color:#ffffff;border-style:solid;border-width:0px 0px 0px 0px;box-shadow:0px 3px 40px 0px rgba(0,0,0,0.1);}.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-wrapper .aux-card-box{padding:23px 47px 27px 27px;}.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-wrapper .aux-card-item h3{color:#000000;font-family:"Cabin", Sans-serif;font-size:16px;font-weight:bold;line-height:19px;}.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-wrapper .aux-card-item span{color:#9f9f9f;font-family:"Montserrat", Sans-serif;font-size:17px;font-weight:bold;line-height:20px;letter-spacing:-0.4px;}.elementor-102 .elementor-element.elementor-element-5bd1b84f > .elementor-widget-container{margin:0px 0px 0px 38px;}.elementor-102 .elementor-element.elementor-element-5bd1b84f{width:auto;max-width:auto;}@media(max-width:1024px){.elementor-102 .elementor-element.elementor-element-5bd1b84f > .elementor-widget-container{margin:0px 30px 0px 0px;}}@media(min-width:768px){.elementor-102 .elementor-element.elementor-element-2f754457{width:40%;}.elementor-102 .elementor-element.elementor-element-463306ea{width:60%;}.elementor-102 .elementor-element.elementor-element-7bfa1299{width:29.94%;}.elementor-102 .elementor-element.elementor-element-42aa321a{width:70.06%;}}/* Start custom CSS for aux_icon_list, class: .elementor-element-141a3213 */.elementor-102 .elementor-element.elementor-element-141a3213 .aux-icon-list-items {
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for aux_search_box, class: .elementor-element-70b2324f */.elementor-102 .elementor-element.elementor-element-70b2324f .aux-search-icon  {
    display: inline;
    width: auto;
    height: auto;
    line-height: 16px;
    
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7bfa1299 */@media only screen and (max-width:768px){ 
    .elementor-102 .elementor-element.elementor-element-7bfa1299 {
        flex: 1;
        width: auto;
    }
}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-1d8547df */.elementor-102 .elementor-element.elementor-element-1d8547df .current-menu-item .aux-item-content {
    color: #fbdc4c !important;
    font-weight: bold !important;
}
.elementor-102 .elementor-element.elementor-element-1d8547df .aux-burger:before,
.elementor-102 .elementor-element.elementor-element-1d8547df .aux-burger:after,
.elementor-102 .elementor-element.elementor-element-1d8547df .aux-burger > span {
    border-width: 2px !important;
}


.elementor-102 .elementor-element.elementor-element-1d8547df .aux-burger > span  {
    width: calc(100% + 8px);
    transform: translateX(-8px);
    margin: 5.5px 0;
}

.elementor-102 .elementor-element.elementor-element-1d8547df .aux-burger[class*="small"] {
    width: 15px;
}

.elementor-102 .elementor-element.elementor-element-1d8547df .aux-burger.aux-close::after,
.elementor-102 .elementor-element.elementor-element-1d8547df .aux-burger.aux-close::before {
    transform: none !important;
}/* End custom CSS */
/* Start custom CSS for aux_shopping_cart, class: .elementor-element-5bd1b84f */.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-wrapper .aux-cart-contents {
    margin: 0;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-shopping-cart-info{
    display: none;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-shopping-basket {
    width: 50px;
    height: 50px;
    display: flex ;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(241,197,41,1) 0%, rgba(254,226,85,1) 100%);
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-contents > span {
    width: 20px;
    height: 20px;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-card-dropdown {
    left: auto !important;
    right: 0 !important;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-wrapper .aux-card-item .aux-card-item-img{
    border: 1px solid rgba(0, 0, 0, 0.2);    
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-wrapper .aux-card-item h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 220px;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-card-item-details > span {
    display: block;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-card-item  {
    align-items: center;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f  .aux-cart-wrapper .aux-card-item .aux-remove-cart-content {
    background-position: 0px -800px;
    width: 50px;
    height: 50px;
    transform: scale(0.2);
    top: -8px;
    right: -40px;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-total-items {
    display: none;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-card-final-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.4px;
    color: rgba(0, 0, 0, 1);
    text-transform: lowercase;
    margin:auto 27px;
    padding: 23px 0;
    border-top: 1px solid #CFCFCF;
    border-bottom: none;
}


.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-card-final-amount .woocommerce-Price-amount {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #5740FF;
}
.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-button-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse wrap;
    margin: auto 27px;
    margin-bottom: 31px;
}
.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    padding: 11px 41px;
    border-radius: 0;
    margin-bottom: 0;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-button {
    box-shadow: 0 0 0 1px #CFCFCF;
    color: #000000;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-cart-button:hover {
    color: #FFF;
}

.elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-checkout-button {
    background: linear-gradient(180deg, #7400ff 0%, #5740ff 100%);
    text-shadow:  none;
}




@media only screen and (max-width: 767px) {
    .elementor-102 .elementor-element.elementor-element-5bd1b84f #shopping-basket-burger {
        display: none !important;
    }
    .elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-card-dropdown  {
        display: block !important;
    }
    
    .elementor-102 .elementor-element.elementor-element-5bd1b84f .aux-shopping-basket {
        display: flex !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-42aa321a */.elementor-102 .elementor-element.elementor-element-42aa321a > .elementor-column-wrap > .elementor-widget-wrap {
    align-items: center;
}

@media only screen and (max-width:1024px){
    .elementor-102 .elementor-element.elementor-element-42aa321a .elementor-column-wrap > .elementor-widget-wrap {
        flex-direction: row-reverse;
        justify-content: normal !important;
    }
}

@media only screen and (max-width:768px){ 
    .elementor-102 .elementor-element.elementor-element-42aa321a {
        width: auto;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7c1fec6e */@media only screen and (max-width:768px){ 
    .elementor-102 .elementor-element.elementor-element-7c1fec6e .elementor-container .elementor-row {
        flex-flow: row wrap;
    }
}/* End custom CSS */