.elementor-57 .elementor-element.elementor-element-4c1d233d{margin-top:-15px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-57 .elementor-element.elementor-element-2056f05d .entry-title a{color:#FFFFFF;}.elementor-57 .elementor-element.elementor-element-2056f05d .entry-title{font-size:22px;font-weight:bold;line-height:27px;letter-spacing:-0.3px;margin-bottom:13px;}.elementor-57 .elementor-element.elementor-element-2056f05d .entry-info a, .elementor-57 .elementor-element.elementor-element-2056f05d .entry-info{color:#CFCFCF;}.elementor-57 .elementor-element.elementor-element-2056f05d .entry-info, .elementor-57 .elementor-element.elementor-element-2056f05d .entry-info a{font-size:13px;font-weight:400;line-height:16px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-2056f05d .entry-info{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-2056f05d .entry-badge{background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-614b1db ) 0%, var( --e-global-color-614b1db ) 100%);padding:5px 15px 5px 15px;margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-2056f05d .entry-badge a{font-size:12px;font-weight:500;line-height:15px;letter-spacing:-0.2px;}.elementor-57 .elementor-element.elementor-element-37480b53{margin-top:70px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-57 .elementor-element.elementor-element-26c5e824{margin-top:70px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-57 .elementor-element.elementor-element-5231755f .entry-media img{border-radius:10px 10px 10px 10px !important;}.elementor-57 .elementor-element.elementor-element-5231755f .auxnew-big-post .entry-title, .elementor-57 .elementor-element.elementor-element-5231755f .auxnew-big-post .entry-title a{font-size:20px;font-weight:bold;line-height:30px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-5231755f .aux-small-posts .entry-title{font-size:20px;font-weight:bold;line-height:30px;letter-spacing:-0.3px;margin-bottom:14px;}.elementor-57 .elementor-element.elementor-element-5231755f .entry-info a, .elementor-57 .elementor-element.elementor-element-5231755f .entry-info{color:var( --e-global-color-df3156c );}.elementor-57 .elementor-element.elementor-element-5231755f .entry-info, .elementor-57 .elementor-element.elementor-element-5231755f .entry-info a{font-size:13px;font-weight:400;font-style:normal;line-height:16px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-5231755f .entry-info{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-5231755f .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-57 .elementor-element.elementor-element-5231755f .entry-info .entry-tax a:after{margin-right:0px;margin-left:0px;}.elementor-57 .elementor-element.elementor-element-5231755f .entry-content{color:var( --e-global-color-text );font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;margin-bottom:7px;}.elementor-57 .elementor-element.elementor-element-5231755f .entry-badge{background-color:transparent;background-image:linear-gradient(107deg, var( --e-global-color-4ec3deb ) 0%, var( --e-global-color-c2864a4 ) 100%);padding:4px 14px 4px 14px;margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-5231755f .entry-badge a{font-size:12px;font-weight:500;line-height:15px;}.elementor-57 .elementor-element.elementor-element-5231755f .aux-news-element-title{font-size:20px;font-weight:bold;line-height:27px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-5231755f .aux-filters li > a{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-4dc22048 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-4dc22048 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-media img{border-radius:10px 10px 10px 10px !important;}.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-title a{color:var( --e-global-color-text );}.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-title{font-size:20px;font-weight:bold;line-height:32px;letter-spacing:-0.3px;margin-bottom:14px;}.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-info a, .elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-info{color:var( --e-global-color-df3156c );}.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-info, .elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-info a{font-size:13px;font-weight:400;line-height:16px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-info{margin-bottom:14px;}.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-content{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-74cc895b .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-74cc895b > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-6e137c02{--grid-template-columns:repeat(0, auto);--icon-size:20px;--grid-column-gap:12px;--grid-row-gap:0px;}.elementor-57 .elementor-element.elementor-element-6e137c02 .elementor-widget-container{text-align:left;}.elementor-57 .elementor-element.elementor-element-6e137c02 .elementor-social-icon{--icon-padding:0.8em;}.elementor-57 .elementor-element.elementor-element-6e137c02 > .elementor-widget-container{margin:0px 0px 23px 0px;}.elementor-57 .elementor-element.elementor-element-37e9eb25 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-37e9eb25 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-402149d .entry-media img{border-radius:7px 7px 7px 7px !important;}.elementor-57 .elementor-element.elementor-element-402149d .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-57 .elementor-element.elementor-element-402149d .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-57 .elementor-element.elementor-element-402149d .entry-info a, .elementor-57 .elementor-element.elementor-element-402149d .entry-info{color:var( --e-global-color-df3156c );}.elementor-57 .elementor-element.elementor-element-402149d .entry-info, .elementor-57 .elementor-element.elementor-element-402149d .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-402149d .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-57 .elementor-element.elementor-element-402149d .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-57 .elementor-element.elementor-element-402149d .entry-badge{background-color:transparent;background-image:linear-gradient(105deg, var( --e-global-color-60ed90fa ) 0%, var( --e-global-color-accent ) 100%);padding:4px 11px 4px 11px;margin-bottom:9px;}.elementor-57 .elementor-element.elementor-element-402149d .entry-badge a{font-size:12px;line-height:15px;letter-spacing:-0.4px;}.elementor-57 .elementor-element.elementor-element-51b642ca > .elementor-widget-container{margin:60px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-2a26af90:not(.elementor-motion-effects-element-type-background), .elementor-57 .elementor-element.elementor-element-2a26af90 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-7504f9e );}.elementor-57 .elementor-element.elementor-element-2a26af90{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:150px;margin-bottom:0px;padding:95px 35px 95px 35px;}.elementor-57 .elementor-element.elementor-element-2a26af90 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-57 .elementor-element.elementor-element-4f238ded .elementor-heading-title{color:#FFFFFF;font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-4f238ded > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-49af452e > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 0px;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-media img{border-radius:20px 20px 20px 20px !important;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-title a{color:#FFFFFF;font-size:22px;font-weight:bold;line-height:33px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-title{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-info a, .elementor-57 .elementor-element.elementor-element-159e1b71 .entry-info{color:#CFCFCF;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-info, .elementor-57 .elementor-element.elementor-element-159e1b71 .entry-info a{font-size:13px;font-weight:400;line-height:16px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-info{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-badge{background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-614b1db ) 0%, var( --e-global-color-614b1db ) 100%);padding:4px 11px 4px 11px;margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-badge a{font-size:12px;font-weight:500;line-height:15px;letter-spacing:-0.2px;}.elementor-57 .elementor-element.elementor-element-159e1b71{text-align:left;}.elementor-57 .elementor-element.elementor-element-135ed3ad > .elementor-element-populated > .elementor-widget-wrap{padding:15px 0px 15px 15px;}.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-media img{border-radius:10px 10px 10px 10px !important;}.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-title a{color:#FFFFFF;font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-title{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-info a, .elementor-57 .elementor-element.elementor-element-672b4da4 .entry-info{color:#CFCFCF;}.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-info, .elementor-57 .elementor-element.elementor-element-672b4da4 .entry-info a{font-size:13px;font-weight:400;line-height:16px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-info{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-badge{background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-614b1db ) 0%, var( --e-global-color-614b1db ) 100%);padding:4px 11px 4px 11px;margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-badge a{font-size:12px;font-weight:500;line-height:15px;letter-spacing:-0.2px;}.elementor-57 .elementor-element.elementor-element-672b4da4{text-align:left;}.elementor-57 .elementor-element.elementor-element-dfe4aa0 .aux-modern-button-wrapper{text-align:center;}.elementor-57 .elementor-element.elementor-element-dfe4aa0 .aux-text{font-family:"Poppins", Montserrat;font-size:20px;font-weight:bold;letter-spacing:-0.6px;color:#FFFFFF;}.elementor-57 .elementor-element.elementor-element-dfe4aa0 > .elementor-widget-container{margin:80px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-dfe4aa0{animation-duration:500ms;}.elementor-57 .elementor-element.elementor-element-146af230{margin-top:100px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-57 .elementor-element.elementor-element-1d9ac937 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-1d9ac937 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-10540b49 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 15px 15px 0px;}.elementor-57 .elementor-element.elementor-element-6a5af09 .entry-media img{border-radius:20px 20px 20px 20px !important;}.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-title, .elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-title a{font-size:20px;font-weight:bold;line-height:30px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-title{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-6a5af09 .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-57 .elementor-element.elementor-element-6a5af09 .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-57 .elementor-element.elementor-element-6a5af09 .entry-info a, .elementor-57 .elementor-element.elementor-element-6a5af09 .entry-info{color:var( --e-global-color-df3156c );}.elementor-57 .elementor-element.elementor-element-6a5af09 .entry-info, .elementor-57 .elementor-element.elementor-element-6a5af09 .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-6a5af09 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-57 .elementor-element.elementor-element-6a5af09 .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-57 .elementor-element.elementor-element-6a5af09 .entry-content{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;margin-bottom:30px;}.elementor-57 .elementor-element.elementor-element-6a5af09 .entry-badge{background-color:transparent;background-image:linear-gradient(105deg, var( --e-global-color-60ed90fa ) 0%, var( --e-global-color-accent ) 100%);padding:4px 11px 4px 11px;margin-bottom:9px;}.elementor-57 .elementor-element.elementor-element-6a5af09 .entry-badge a{font-size:12px;line-height:15px;letter-spacing:-0.4px;}.elementor-57 .elementor-element.elementor-element-1cb32a4b > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 15px 15px;}.elementor-57 .elementor-element.elementor-element-55a179f5 .entry-media img{border-radius:20px 20px 20px 20px !important;}.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-title, .elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-title a{font-size:20px;font-weight:bold;line-height:30px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-title{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-55a179f5 .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-57 .elementor-element.elementor-element-55a179f5 .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-57 .elementor-element.elementor-element-55a179f5 .entry-info a, .elementor-57 .elementor-element.elementor-element-55a179f5 .entry-info{color:var( --e-global-color-df3156c );}.elementor-57 .elementor-element.elementor-element-55a179f5 .entry-info, .elementor-57 .elementor-element.elementor-element-55a179f5 .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-55a179f5 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-57 .elementor-element.elementor-element-55a179f5 .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-57 .elementor-element.elementor-element-55a179f5 .entry-content{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;margin-bottom:30px;}.elementor-57 .elementor-element.elementor-element-55a179f5 .entry-badge{background-color:transparent;background-image:linear-gradient(105deg, var( --e-global-color-60ed90fa ) 0%, var( --e-global-color-accent ) 100%);padding:4px 11px 4px 11px;margin-bottom:9px;}.elementor-57 .elementor-element.elementor-element-55a179f5 .entry-badge a{font-size:12px;line-height:15px;letter-spacing:-0.4px;}.elementor-57 .elementor-element.elementor-element-7fcf2915 > .elementor-widget-container{margin:80px 0px 80px 0px;}.elementor-57 .elementor-element.elementor-element-34bd5af4 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-34bd5af4 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-media img{border-radius:20px 20px 20px 20px !important;}.elementor-57 .elementor-element.elementor-element-4ac86223 .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-57 .elementor-element.elementor-element-4ac86223 .aux-small-posts .entry-title{font-size:20px;font-weight:bold;line-height:30px;letter-spacing:-0.3px;margin-bottom:10px;}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-info a, .elementor-57 .elementor-element.elementor-element-4ac86223 .entry-info{color:var( --e-global-color-df3156c );}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-info, .elementor-57 .elementor-element.elementor-element-4ac86223 .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-info{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-57 .elementor-element.elementor-element-4ac86223 .entry-info .entry-tax a:after{margin-right:10px;margin-left:10px;}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-content{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;margin-bottom:30px;}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-badge{background-color:transparent;background-image:linear-gradient(105deg, var( --e-global-color-4ec3deb ) 0%, var( --e-global-color-c2864a4 ) 100%);padding:4px 11px 4px 11px;margin-bottom:19px;}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-badge:hover{background-color:transparent;background-image:linear-gradient(180deg, #545454 0%, #000000 100%);}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-badge a:hover{color:#ffffff;}.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-badge a{font-size:12px;line-height:15px;letter-spacing:-0.4px;}.elementor-57 .elementor-element.elementor-element-bfa4880 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-bfa4880 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-4f6ffee4 .mc4wp-form input[type="text"],.elementor-57 .elementor-element.elementor-element-4f6ffee4 .mc4wp-form input[type="email"]{border-style:solid;border-width:1px 1px 1px 1px;border-color:#CFCFCF;border-radius:10px 10px 10px 10px;padding:16px 16px 15px 16px;transition:all ease-out 0.3s;}.elementor-57 .elementor-element.elementor-element-4f6ffee4 .mc4wp-form input[type="text"], .elementor-57 .elementor-element.elementor-element-4f6ffee4 .mc4wp-form input[type="email"]{background-color:#FFFFFF;}.elementor-57 .elementor-element.elementor-element-4f6ffee4 .mc4wp-form input[type="text"]::placeholder,.elementor-57 .elementor-element.elementor-element-4f6ffee4 .mc4wp-form input[type="email"]::placeholder{font-size:15px;font-weight:500;text-transform:capitalize;font-style:normal;letter-spacing:-0.45px;color:#B8B8B8;}.elementor-57 .elementor-element.elementor-element-4f6ffee4 .mc4wp-form input[type="submit"]{font-family:"Poppins", Montserrat;font-size:16px;font-weight:600;text-transform:capitalize;font-style:normal;border-radius:10px 10px 10px 10px;color:#FFFFFF;background-color:transparent;background-image:linear-gradient(261deg, var( --e-global-color-secondary ) 0%, var( --e-global-color-primary ) 100%);transition:all ease-out 0.3s;}.elementor-57 .elementor-element.elementor-element-4f6ffee4 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:35px 40px 30px 40px;background-color:var( --e-global-color-c3b04fe );border-radius:15px 15px 15px 15px;}.elementor-57 .elementor-element.elementor-element-5e6d4ce5 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-5e6d4ce5 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-media img{border-radius:10px 10px 10px 10px !important;}.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-title a{color:var( --e-global-color-text );}.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-title{font-size:20px;font-weight:bold;line-height:32px;letter-spacing:-0.3px;margin-bottom:14px;}.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-info a, .elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-info{color:var( --e-global-color-df3156c );}.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-info, .elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-info a{font-size:13px;font-weight:400;line-height:16px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-info{margin-bottom:16px;}.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-content{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-71f3ce1c > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-57 .elementor-element.elementor-element-1dda3da .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-1dda3da > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-57 .elementor-element.elementor-element-30ba478c .entry-title{font-size:20px;font-weight:bold;line-height:32px;letter-spacing:-0.3px;margin-bottom:12px;}.elementor-57 .elementor-element.elementor-element-30ba478c .entry-info a, .elementor-57 .elementor-element.elementor-element-30ba478c .entry-info{color:var( --e-global-color-df3156c );}.elementor-57 .elementor-element.elementor-element-30ba478c .entry-info, .elementor-57 .elementor-element.elementor-element-30ba478c .entry-info a{font-size:13px;font-weight:400;line-height:16px;letter-spacing:-0.5px;}.elementor-57 .elementor-element.elementor-element-30ba478c .entry-info{margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-30ba478c .entry-content{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-30ba478c .entry-badge{background-color:transparent;background-image:linear-gradient(107deg, var( --e-global-color-60ed90fa ) 0%, var( --e-global-color-accent ) 100%);padding:4px 11px 4px 11px;margin-bottom:0px;}.elementor-57 .elementor-element.elementor-element-30ba478c .entry-badge a{font-size:12px;font-weight:500;line-height:15px;letter-spacing:-0.3px;}.elementor-57 .elementor-element.elementor-element-5289c65a > .elementor-widget-container{margin:60px 0px 0px 0px;}@media(min-width:768px){.elementor-57 .elementor-element.elementor-element-35494ff6{width:74.666%;}.elementor-57 .elementor-element.elementor-element-65a778fe{width:25%;}.elementor-57 .elementor-element.elementor-element-49af452e{width:75%;}.elementor-57 .elementor-element.elementor-element-135ed3ad{width:25%;}.elementor-57 .elementor-element.elementor-element-6539bd11{width:74.666%;}.elementor-57 .elementor-element.elementor-element-b60c3b1{width:25%;}}@media(max-width:1024px) and (min-width:768px){.elementor-57 .elementor-element.elementor-element-35494ff6{width:60%;}.elementor-57 .elementor-element.elementor-element-65a778fe{width:40%;}.elementor-57 .elementor-element.elementor-element-49af452e{width:100%;}.elementor-57 .elementor-element.elementor-element-135ed3ad{width:100%;}.elementor-57 .elementor-element.elementor-element-6539bd11{width:60%;}.elementor-57 .elementor-element.elementor-element-10540b49{width:100%;}.elementor-57 .elementor-element.elementor-element-1cb32a4b{width:100%;}.elementor-57 .elementor-element.elementor-element-b60c3b1{width:40%;}}@media(max-width:1024px){.elementor-57 .elementor-element.elementor-element-6e137c02{--icon-size:15px;}.elementor-57 .elementor-element.elementor-element-49af452e > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-57 .elementor-element.elementor-element-135ed3ad > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-57 .elementor-element.elementor-element-10540b49 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-57 .elementor-element.elementor-element-1cb32a4b > .elementor-element-populated{margin:40px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-57 .elementor-element.elementor-element-1cb32a4b > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-57 .elementor-element.elementor-element-6e137c02{--icon-size:13px;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-title a{font-size:15px;line-height:20px;}.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-title{margin-bottom:0px;}}/* Start custom CSS for aux_recent_news_grid, class: .elementor-element-2056f05d */.elementor-57 .elementor-element.elementor-element-2056f05d .entry-media, .elementor-57 .elementor-element.elementor-element-2056f05d .entry-content, .elementor-57 .elementor-element.elementor-element-2056f05d .entry-main{
    margin-bottom: 0;
}

.elementor-57 .elementor-element.elementor-element-2056f05d .entry-main{
    position: absolute;
    bottom: 15px;
    left: 30px;
    right: 30px;
}

.elementor-57 .elementor-element.elementor-element-2056f05d .aux-media-frame{
    overflow: hidden;
    border-radius: 10px;
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-57 .elementor-element.elementor-element-2056f05d .aux-media-frame::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(212deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.55) 100%);
    border-radius: 10px;
}


.elementor-57 .elementor-element.elementor-element-2056f05d .hentry, .elementor-57 .elementor-element.elementor-element-2056f05d .hentry .aux-attachment{
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.elementor-57 .elementor-element.elementor-element-2056f05d .hentry:hover .aux-attachment{
    transform: scale(1.02);
}

.elementor-57 .elementor-element.elementor-element-2056f05d .hentry:hover .aux-media-frame{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.elementor-57 .elementor-element.elementor-element-2056f05d .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-2056f05d .widget-container .entry-badge a{
    display: block;
}
.elementor-57 .elementor-element.elementor-element-2056f05d .entry-info{
    display: inline-block;
    margin-left: 15px;
}
.elementor-57 .elementor-element.elementor-element-2056f05d .entry-title{
    margin-top: 17px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-5231755f */.elementor-57 .elementor-element.elementor-element-5231755f .entry-content, .elementor-57 .elementor-element.elementor-element-5231755f .entry-main{
    margin-bottom: 0;
}
.elementor-57 .elementor-element.elementor-element-5231755f .entry-media{
    margin-bottom: 8px;
}

.elementor-57 .elementor-element.elementor-element-5231755f .hentry{
    margin: 0;
    min-height: auto;
}

.elementor-57 .elementor-element.elementor-element-5231755f .aux-small-posts{
    display: flex;
    flex-wrap: wrap;
}

.elementor-57 .elementor-element.elementor-element-5231755f .aux-small-posts .aux-thumbnail-col{
    width: 100%;
}

.elementor-57 .elementor-element.elementor-element-5231755f .aux-small-posts .aux-entry-col{
    width: 100%;
}
.elementor-57 .elementor-element.elementor-element-5231755f .auxnew-side-posts{
    padding-left: 15px !important;
}
.elementor-57 .elementor-element.elementor-element-5231755f .auxnew-main-post {
    padding-right: 15px !important;
}

.elementor-57 .elementor-element.elementor-element-5231755f .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-5231755f .widget-container .entry-badge a{
    display: block;
}
.elementor-57 .elementor-element.elementor-element-5231755f .entry-info{
    display: inline-block;
    margin-left: 15px;
}
.elementor-57 .elementor-element.elementor-element-5231755f .entry-title{
    margin-top: 17px;
}
.elementor-57 .elementor-element.elementor-element-5231755f .auxnew-big-post, .elementor-57 .elementor-element.elementor-element-5231755f .auxnew-side-posts{
    margin-top: 0;
}

.elementor-57 .elementor-element.elementor-element-5231755f .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-57 .elementor-element.elementor-element-5231755f .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.elementor-57 .elementor-element.elementor-element-5231755f .auxin-news-header-sep{
    display: none;
}
.elementor-57 .elementor-element.elementor-element-5231755f .aux-news-element-header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;    
}
.elementor-57 .elementor-element.elementor-element-5231755f .auxnew-header-col{
    width: auto;
    margin-bottom: 25px;
}
.elementor-57 .elementor-element.elementor-element-5231755f .auxnew-header-col:first-child{
    flex-grow: 1;
}
.elementor-57 .elementor-element.elementor-element-5231755f .aux-news-element-title-wrapper{
    display: flex;
    align-items: center;    
}

.elementor-57 .elementor-element.elementor-element-5231755f .aux-news-element-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-5231755f .aux-news-element-title-wrapper::after{
    content: '';
    width: 100%;
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    margin-left: 40px;
    border-radius: 1px;
}
.elementor-57 .elementor-element.elementor-element-5231755f .aux-filters ul li > a{
    padding-top: 0;
    padding-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-4dc22048 */.elementor-57 .elementor-element.elementor-element-4dc22048 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-4dc22048 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-4dc22048 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news_grid, class: .elementor-element-2bb96ee3 */.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-media{
    margin-bottom: 40px;
}
.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-main, .elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-content{
    margin-bottom: 0;
}
.elementor-57 .elementor-element.elementor-element-2bb96ee3 .entry-header{
    margin-bottom: 0;
}
.elementor-57 .elementor-element.elementor-element-2bb96ee3 .aux-media-frame.aux-media-image{
    overflow: visible;
}
.elementor-57 .elementor-element.elementor-element-2bb96ee3 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-57 .elementor-element.elementor-element-2bb96ee3 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-74cc895b */.elementor-57 .elementor-element.elementor-element-74cc895b .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-74cc895b .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-74cc895b .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-37e9eb25 */.elementor-57 .elementor-element.elementor-element-37e9eb25 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-37e9eb25 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-37e9eb25 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-402149d */.elementor-57 .elementor-element.elementor-element-402149d .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-402149d .aux-thumbnail-col{
    width: 33%;
    margin: 0;
    padding-right: 0;
}
.elementor-57 .elementor-element.elementor-element-402149d .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-57 .elementor-element.elementor-element-402149d .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-57 .elementor-element.elementor-element-402149d .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-402149d .widget-container .entry-badge a{
    display: block;
}

.elementor-57 .elementor-element.elementor-element-402149d .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-57 .elementor-element.elementor-element-402149d .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-4f238ded */.elementor-57 .elementor-element.elementor-element-4f238ded .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-4f238ded .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-4f238ded .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts, class: .elementor-element-159e1b71 */.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-main{
    margin: 0;
    position: absolute;
    bottom: 40px;
    left: 50px;
    right: 50px;
    padding: 0;
}

.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-media{
    position: relative;
    margin: 0;
}

.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-header{
    margin-bottom: 0;
}


.elementor-57 .elementor-element.elementor-element-159e1b71 .aux-media-frame{
    overflow: hidden;
    border-radius: 20px;
}

.elementor-57 .elementor-element.elementor-element-159e1b71 .aux-media-frame::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(220deg, rgba(0, 0, 0, 0.74) 0, rgba(0, 0, 0, 0.23) 40%, rgba(0, 0, 0, 0.55) 100%);
    border-radius: 20px;
}

.elementor-57 .elementor-element.elementor-element-159e1b71 .hentry .aux-attachment{
    transition: transform  0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-57 .elementor-element.elementor-element-159e1b71 .hentry:hover .aux-attachment{
    transform: scale(1.05);
}


.elementor-57 .elementor-element.elementor-element-159e1b71 .aux-lightbox-video{
    position: absolute;
    right: 0;
    bottom: 50px;
}
.elementor-57 .elementor-element.elementor-element-159e1b71 .aux-post-format-icon > i{
    font-size: 69px;
}

.elementor-57 .elementor-element.elementor-element-159e1b71 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-159e1b71 .widget-container .entry-badge a{
    display: block;
}
.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-info{
    display: inline-block;
    margin-left: 15px;
}
.elementor-57 .elementor-element.elementor-element-159e1b71 .entry-title{
    margin-top: 17px;
}

@media (max-width: 768px){
    .elementor-57 .elementor-element.elementor-element-159e1b71 .entry-info{
        display: none;
    }
    .elementor-57 .elementor-element.elementor-element-159e1b71 .entry-main{
        bottom: 18px;
        left: 16px;
        right: 16px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts, class: .elementor-element-672b4da4 */.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-main{
    margin: 0;
    position: absolute;
    bottom: 18px;
    left: 16px;
    right: 16px;
    padding: 0;
}

.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-media{
    position: relative;
    margin: 0;
}

.elementor-57 .elementor-element.elementor-element-672b4da4 .aux-media-frame{
    overflow: hidden;
    border-radius: 10px;
}

.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-header{
    margin-bottom: 0;
}

.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-title{
    margin-top: 5px !important;   
}

.elementor-57 .elementor-element.elementor-element-672b4da4 .aux-media-frame::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(220deg, rgba(0, 0, 0, 0.74) 0, rgba(0, 0, 0, 0.23) 40%, rgba(0, 0, 0, 0.55) 100%);
    border-radius: 10px;
}

.elementor-57 .elementor-element.elementor-element-672b4da4 .hentry .aux-attachment{
    transition: transform  0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-57 .elementor-element.elementor-element-672b4da4 .hentry:hover .aux-attachment{
    transform: scale(1.05);
}


.elementor-57 .elementor-element.elementor-element-672b4da4 .aux-lightbox-video{
    position: absolute;
    right: 0;
    bottom: 16px;
}
.elementor-57 .elementor-element.elementor-element-672b4da4 .aux-post-format-icon > i{
    font-size: 26px;
}

.elementor-57 .elementor-element.elementor-element-672b4da4 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-672b4da4 .widget-container .entry-badge a{
    display: block;
}
.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-info{
    display: inline-block;
    margin-left: 15px;
}
.elementor-57 .elementor-element.elementor-element-672b4da4 .entry-title{
    margin-top: 17px;
}


@media (max-width: 768px){
    .elementor-57 .elementor-element.elementor-element-672b4da4 .entry-info{
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-184e36cf */.elementor-57 .elementor-element.elementor-element-184e36cf .aux-col{
    height: auto !important;
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for aux_modern_button, class: .elementor-element-dfe4aa0 */.elementor-57 .elementor-element.elementor-element-dfe4aa0 .aux-overlay::before , .elementor-57 .elementor-element.elementor-element-dfe4aa0 .aux-overlay::after{
    background-color: transparent;
}
.elementor-57 .elementor-element.elementor-element-dfe4aa0 .aux-text::after{
    content: "";
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    height: 2px;
    display: block;
    border-radius: 1px;
    margin-top: 7px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-1d9ac937 */.elementor-57 .elementor-element.elementor-element-1d9ac937 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-1d9ac937 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-1d9ac937 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-6a5af09 */.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post, .elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-side-posts{
    margin-top: 0;
}


.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-info{
    order: 1;
    margin-bottom: 18px;
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-header{
    order: 2;
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-content{
    order: 3;
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-badge{
    display: none;
}

.elementor-57 .elementor-element.elementor-element-6a5af09 .auxnew-big-post .entry-info{
    display: block;
    margin-left: 0;
}


.elementor-57 .elementor-element.elementor-element-6a5af09 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}


.elementor-57 .elementor-element.elementor-element-6a5af09 .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .aux-small-posts .entry-media img{
    border-radius: 7px !important;
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .aux-thumbnail-col{
    width: 23%;
    margin: 0;
    padding-right: 0;
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-57 .elementor-element.elementor-element-6a5af09 .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-6a5af09 .widget-container .entry-badge a{
    display: block;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-55a179f5 */.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post, .elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-side-posts{
    margin-top: 0;
}


.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-info{
    order: 1;
    margin-bottom: 18px;
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-header{
    order: 2;
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-content{
    order: 3;
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-badge{
    display: none;
}

.elementor-57 .elementor-element.elementor-element-55a179f5 .auxnew-big-post .entry-info{
    display: block;
    margin-left: 0;
}


.elementor-57 .elementor-element.elementor-element-55a179f5 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}


.elementor-57 .elementor-element.elementor-element-55a179f5 .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .aux-small-posts .entry-media img{
    border-radius: 7px !important;
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .aux-thumbnail-col{
    width: 23%;
    margin: 0;
    padding-right: 0;
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-57 .elementor-element.elementor-element-55a179f5 .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-55a179f5 .widget-container .entry-badge a{
    display: block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-34bd5af4 */.elementor-57 .elementor-element.elementor-element-34bd5af4 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-34bd5af4 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-34bd5af4 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-4ac86223 */.elementor-57 .elementor-element.elementor-element-4ac86223 .auxnew-big-post, .elementor-57 .elementor-element.elementor-element-4ac86223 .auxnew-side-posts{
    margin-top: 0;
}


.elementor-57 .elementor-element.elementor-element-4ac86223 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}


.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-badge{
   order: 1;
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-header{
    order: 2;
    width: 100%;
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-content{
    order: 3;
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .entry-info{
    order: 4;
}


.elementor-57 .elementor-element.elementor-element-4ac86223 .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .aux-small-posts .entry-media img{
    border-radius: 7px !important;
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .aux-thumbnail-col{
    width: 30%;
    margin: 0;
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .aux-entry-col{
    width: 65%;
    margin: 0;
}

.elementor-57 .elementor-element.elementor-element-4ac86223 .hentry{
    min-height: auto;
    margin: 0 0 40px;
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-4ac86223 .widget-container .entry-badge a{
    display: block;
}

@media (max-width: 768px){
    .elementor-57 .elementor-element.elementor-element-4ac86223 .aux-small-posts{
        flex-wrap: wrap;
    }
    .elementor-57 .elementor-element.elementor-element-4ac86223 .aux-thumbnail-col{
        width: 100%;
        margin-bottom: 25px;
    }
    .elementor-57 .elementor-element.elementor-element-4ac86223 .aux-entry-col{
        width: 100%;
    }   
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-bfa4880 */.elementor-57 .elementor-element.elementor-element-bfa4880 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-bfa4880 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-bfa4880 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_mailchimp, class: .elementor-element-4f6ffee4 */.elementor-57 .elementor-element.elementor-element-4f6ffee4 .tn-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.3px;
    text-align: center;
    margin-bottom: 13px;
    color: var(--e-global-color-text);
}

.elementor-57 .elementor-element.elementor-element-4f6ffee4 .tn-desc{
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.3px;
    text-align: center;
    margin-bottom: 32px;    
    color: var(--e-global-color-df3156c);
    
}

.elementor-57 .elementor-element.elementor-element-4f6ffee4 .tn-input{
    margin-bottom: 20px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-5e6d4ce5 */.elementor-57 .elementor-element.elementor-element-5e6d4ce5 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-5e6d4ce5 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-5e6d4ce5 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news_grid, class: .elementor-element-71f3ce1c */.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-media{
    margin-bottom: 40px;
}
.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-main, .elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-content{
    margin-bottom: 0;
}
.elementor-57 .elementor-element.elementor-element-71f3ce1c .entry-header{
    margin-bottom: 0;
}

.elementor-57 .elementor-element.elementor-element-71f3ce1c .aux-mc-controls{
    position: absolute;
    top: 0;
    right: -12px;
    transform: translateY(-127%);
    background: #fff;
    padding: 0 10px;
}
.elementor-57 .elementor-element.elementor-element-71f3ce1c .aux-arrow-nav.aux-outline {
    box-shadow: none;
    border: 1px solid #111111;
}

.elementor-57 .elementor-element.elementor-element-71f3ce1c .aux-arrow-nav{
    width: 24px;
    height: 24px;
    border-radius: 50em; 
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-1dda3da */.elementor-57 .elementor-element.elementor-element-1dda3da .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-57 .elementor-element.elementor-element-1dda3da .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-57 .elementor-element.elementor-element-1dda3da .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, var(--e-global-color-secondary) 0, var(--e-global-color-primary) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news_grid, class: .elementor-element-30ba478c */.elementor-57 .elementor-element.elementor-element-30ba478c .entry-main, .elementor-57 .elementor-element.elementor-element-30ba478c .entry-content, .elementor-57 .elementor-element.elementor-element-30ba478c .entry-header, .elementor-57 .elementor-element.elementor-element-30ba478c .hentry{
    margin-bottom: 0 !important;
}

.elementor-57 .elementor-element.elementor-element-30ba478c .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-57 .elementor-element.elementor-element-30ba478c .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-57 .elementor-element.elementor-element-30ba478c .widget-container .entry-badge a{
    display: block;
}
.elementor-57 .elementor-element.elementor-element-30ba478c .entry-info{
    display: inline-block;
    margin-left: 15px;
}
.elementor-57 .elementor-element.elementor-element-30ba478c .entry-title{
    margin-top: 10px;
}/* End custom CSS */