.elementor-93 .elementor-element.elementor-element-f6b40f5:not(.elementor-motion-effects-element-type-background), .elementor-93 .elementor-element.elementor-element-f6b40f5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-93 .elementor-element.elementor-element-f6b40f5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:15px 35px 15px 35px;}.elementor-93 .elementor-element.elementor-element-f6b40f5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-93 .elementor-element.elementor-element-4433d0d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-item{margin-right:40px;align-items:center;}.elementor-93 .elementor-element.elementor-element-f823261 .aux-direction-horizontal .aux-icon-list-item:after{right:calc(-40px/2);}.elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-item, .elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-items{justify-content:flex-start;text-align:left;}.elementor-93 .elementor-element.elementor-element-f823261 .aux-direction-horizontal{align-items:center;}.elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-text{color:#FFFFFFB3;font-size:16px;font-weight:500;text-transform:capitalize;letter-spacing:-0.45px;}.elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-item:hover .aux-icon-list-text{color:var( --e-global-color-43e0572 );}.elementor-93 .elementor-element.elementor-element-f823261 > .elementor-widget-container{margin:-5px -40px 0px 0px;}.elementor-93 .elementor-element.elementor-element-f823261{width:auto;max-width:auto;align-self:center;}.elementor-93 .elementor-element.elementor-element-a2113f3.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-93 .elementor-element.elementor-element-6b4c323 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-93 .elementor-element.elementor-element-6b4c323 .aux-ico-box{padding:5px 0px 0px 0px;color:var( --e-global-color-43e0572 );}.elementor-93 .elementor-element.elementor-element-6b4c323 .widget-content{color:#FFFFFFB3 !important;font-size:16px;font-weight:500;letter-spacing:-0.45px;}.elementor-93 .elementor-element.elementor-element-6b4c323 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 13px;}.elementor-93 .elementor-element.elementor-element-6b4c323 .aux-widget-advanced-text{text-align:center !important;}.elementor-93 .elementor-element.elementor-element-6b4c323 > .elementor-widget-container{margin:0px 40px 0px 0px;}.elementor-93 .elementor-element.elementor-element-6b4c323{width:auto;max-width:auto;}.elementor-93 .elementor-element.elementor-element-1743059 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-93 .elementor-element.elementor-element-1743059 .aux-ico-box{padding:5px 0px 0px 0px;color:var( --e-global-color-43e0572 );}.elementor-93 .elementor-element.elementor-element-1743059 .widget-content{color:#FFFFFFB3 !important;font-size:16px;font-weight:500;letter-spacing:-0.45px;}.elementor-93 .elementor-element.elementor-element-1743059 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 13px;}.elementor-93 .elementor-element.elementor-element-1743059 .aux-widget-advanced-text{text-align:center !important;}.elementor-93 .elementor-element.elementor-element-1743059{width:auto;max-width:auto;}.elementor-93 .elementor-element.elementor-element-63bdd7c{margin-top:30px;margin-bottom:30px;padding:0px 35px 0px 35px;}.elementor-93 .elementor-element.elementor-element-7d3b1f1{animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-93 .elementor-element.elementor-element-2ee3bd6 > .elementor-widget-container{margin:0px 80px 0px 0px;padding:0px 0px 0px 0px;}.elementor-93 .elementor-element.elementor-element-2ee3bd6{width:auto;max-width:auto;animation-delay:200ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-93 .elementor-element.elementor-element-ad26886{text-align:left;width:auto;max-width:auto;align-self:center;animation-delay:300ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);flex-grow:1;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-vertical .aux-menu-depth-0 .aux-item-content{text-align:left;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-menu-depth-0 > .aux-item-content{color:#000000CC;font-size:16px;font-weight:500;text-transform:capitalize;letter-spacing:-0.48px;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-menu-depth-0.aux-hover > .aux-item-content {color:var( --e-global-color-primary );}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-menu-depth-0.aux-hover > .aux-item-content{font-weight:700;letter-spacing:-0.54px;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-menu-depth-0.current-menu-item > a{color:var( --e-global-color-primary );font-size:16px;font-weight:bold;letter-spacing:-0.54px;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-fs-menu .aux-menu-item > .aux-item-content{color:var( --e-global-color-text );}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-fs-menu .aux-menu-item {background-color:#FFFFFF;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-fs-popup{background-color:#FFFFFF;}.elementor-93 .elementor-element.elementor-element-974e909 .aux-search-submit i{color:var( --e-global-color-primary );font-size:26px;}.elementor-93 .elementor-element.elementor-element-974e909 .aux-search-submit{color:var( --e-global-color-primary );font-size:16px;font-weight:bold;text-transform:capitalize;cursor:pointer;}.elementor-93 .elementor-element.elementor-element-974e909 .aux-search-popup .aux-search-input-form{border-width:2px;}.elementor-93 .elementor-element.elementor-element-974e909 .aux-search-popup .aux-submit-icon-container:before{font-size:30px;}.elementor-93 .elementor-element.elementor-element-974e909{width:auto;max-width:auto;animation-delay:600ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents > span{font-size:16px;font-weight:bold;color:var( --e-global-color-43e0572 );bottom:10px;right:30px;padding:0px 0px 0px 0px;}.elementor-93 .elementor-element.elementor-element-75591f0 .aux-card-dropdown{background-color:#FFFFFF;border-style:solid;border-width:0px 0px 0px 0px;box-shadow:10px 10px 50px 0px rgba(32, 36.000000000000014, 46, 0.1607843137254902);}.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-wrapper .aux-card-item h3{color:var( --e-global-color-text );font-size:16px;font-weight:bold;letter-spacing:-0.24px;}.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-wrapper .aux-card-item span{color:var( --e-global-color-fffbde6 );font-size:16px;font-weight:bold;letter-spacing:-0.24px;}.elementor-93 .elementor-element.elementor-element-75591f0 > .elementor-widget-container{padding:0px 15px 0px 0px;background-color:var( --e-global-color-secondary );border-radius:30px 30px 30px 30px;}.elementor-93 .elementor-element.elementor-element-75591f0{width:auto;max-width:auto;align-self:center;animation-delay:500ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}@media(max-width:1024px){.elementor-93 .elementor-element.elementor-element-ad26886 .aux-menu-depth-0 > .aux-item-content{font-size:15px;padding:0px 10px 0px 10px;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-menu-depth-0.current-menu-item > a{font-size:15px;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:36px;padding:20px 0px 20px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-93 .elementor-element.elementor-element-4433d0d{width:30%;}.elementor-93 .elementor-element.elementor-element-a2113f3{width:70%;}}@media(max-width:767px){.elementor-93 .elementor-element.elementor-element-4433d0d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-item{margin-right:20px;}.elementor-93 .elementor-element.elementor-element-f823261 .aux-direction-horizontal .aux-icon-list-item:after{right:calc(-20px/2);}.elementor-93 .elementor-element.elementor-element-f823261 > .elementor-widget-container{margin:0px -20px 0px 0px;}.elementor-93 .elementor-element.elementor-element-a2113f3.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-93 .elementor-element.elementor-element-2ee3bd6 > .elementor-widget-container{margin:0px 10px 0px 0px;}.elementor-93 .elementor-element.elementor-element-ad26886 .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:30px;}.elementor-93 .elementor-element.elementor-element-75591f0 > .elementor-widget-container{padding:0px 0px 0px 0px;}}/* Start custom CSS for aux_icon_list, class: .elementor-element-f823261 */.elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-item:first-child .aux-icon-list-text:after{
    content: "";
    width: 2px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    position: relative;
    left: 20px;
}
.elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-text{
    transition:all 250ms ease-in;
}
@media screen and (max-width:767px){
    .elementor-93 .elementor-element.elementor-element-f823261 .aux-icon-list-item:first-child .aux-icon-list-text:after{
    left: 10px;
}
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-6b4c323 */.elementor-93 .elementor-element.elementor-element-6b4c323:after{
    content: "";
    width: 2px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 0;
}
@media screen and (max-width:767px){
    .elementor-93 .elementor-element.elementor-element-6b4c323:after{
        display:none;
    }
}/* End custom CSS */
/* Start custom CSS for aux_logo, class: .elementor-element-2ee3bd6 */.elementor-93 .elementor-element.elementor-element-2ee3bd6 .aux-logo-anchor:after{
    content: "";
    width: 2px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 190px;
}
@media screen and (max-width:900px){
    .elementor-93 .elementor-element.elementor-element-2ee3bd6{
        flex-grow:1;
    }
}
@media screen and (max-width:400px){
    .elementor-93 .elementor-element.elementor-element-2ee3bd6{
        width:50%;
    }
    .elementor-93 .elementor-element.elementor-element-2ee3bd6 .aux-logo-anchor:after{
        display:none;
    }
}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-ad26886 */@media screen and (max-width:900px){
    .elementor-93 .elementor-element.elementor-element-ad26886{
        order:1;
        flex-grow:0;
        margin-left:20px;
    }
    
    .elementor-93 .elementor-element.elementor-element-ad26886 .aux-fs-popup {
        height: 100vh;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_search, class: .elementor-element-974e909 */.elementor-93 .elementor-element.elementor-element-974e909 .aux-search-submit{
    display: flex;
    flex-direction: row-reverse;
}
.elementor-93 .elementor-element.elementor-element-974e909 .auxicon{
    background-color: var(--e-global-color-accent);
    padding: 10px 11px;
    border-radius: 100%;
    margin-left: 12px;
}/* End custom CSS */
/* Start custom CSS for aux_shopping_cart, class: .elementor-element-75591f0 */.elementor-93 .elementor-element.elementor-element-75591f0 .aux-card-dropdown{
    border-radius: 10px;
    width: 370px;
    left: -170px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-wrapper .aux-card-box{
    border: none;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-card-item{
    border-bottom: 1px solid #D9E5E5;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-basket{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-cart-info{
    display: flex;
    flex-direction: row;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-basket .aux-shopping-title{
    color: var(--e-global-color-43e0572);
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-basket .auxicon-handbag::before{
    color: var(--e-global-color-43e0572);
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-amount{
    display: none;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents{
    margin-left: 35px;
    margin-top: 0;
    margin-right: 0;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents span{
    background-color: transparent;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents span:after{
    content: ")";
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents span:before{
    content: "(";
}
.elementor-93 .elementor-element.elementor-element-75591f0 del .woocommerce-Price-amount , .elementor-93 .elementor-element.elementor-element-75591f0 del .woocommerce-Price-currencySymbol{
    color: #999999 !important;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-card-item-img img{
    border-radius: 20px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-button-wrapper .aux-button:last-child{
    display: none;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-button-wrapper .aux-button{
    background-color: var(--e-global-color-secondary);
    border-radius: 23px;
    text-shadow: none;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top:15px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-total-items{
    display: none;
}
.elementor-93 .elementor-element.elementor-element-75591f0 ins{
    background: transparent;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-card-final-amount{
    font-size: 16px;
    color: var(--e-global-color-text);
    font-weight: 500;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-card-final-amount .woocommerce-Price-amount{
    font-weight: bold;
    letter-spacing: -0.48px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-wrapper .aux-inline-card-checkout{
    padding: 0 21px 25px 21px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-card-dropdown{
    margin-top: 20px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-basket{
    padding: 13px 25px 13px 28px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-wrapper .aux-card-item .aux-card-item-img img {
    width: 105px;
    height: 105px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-wrapper .aux-card-item{
    padding: 12px 15px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-wrapper .aux-card-item:last-child{
    padding-bottom: inherit;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-button-wrapper .aux-button:hover{
    background-color: var(--e-global-color-primary);
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-button.aux-black .aux-overlay::after{
    background-color: transparent;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-type-dropdown .aux-card-dropdown .aux-empty-cart{
    height: 300px;
    background-image: url('/shop-confectionery/wp-content/wp-content/uploads/sites/81/2021/05/Group_10118.jpg');
    background-position: center;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.4);
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 20px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-type-dropdown .aux-card-dropdown .aux-empty-cart img {
    display: none;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .auxicon-handbag::before{
    content: "";
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-basket{
    background-image: url("data:image/svg+xml,%3Csvg id='briefcase' xmlns='http://www.w3.org/2000/svg' width='18.642' height='18.678' viewBox='0 0 18.642 18.678'%3E%3Cg id='Group_13' data-name='Group 13' transform='translate(0 4.697)'%3E%3Cpath id='Path_12' data-name='Path 12' d='M14.772,142.981h-9.9A4.374,4.374,0,0,1,.5,138.612v-5.243A4.374,4.374,0,0,1,4.869,129h9.9a4.374,4.374,0,0,1,4.369,4.369v5.243A4.374,4.374,0,0,1,14.772,142.981Zm-9.9-12.525a2.916,2.916,0,0,0-2.913,2.913v5.243a2.916,2.916,0,0,0,2.913,2.913h9.9a2.916,2.916,0,0,0,2.913-2.913v-5.243a2.916,2.916,0,0,0-2.913-2.913Z' transform='translate(-0.5 -129)' fill='%23fff'/%3E%3C/g%3E%3Cg id='Group_15' data-name='Group 15' transform='translate(5.862)'%3E%3Cpath id='Path_14' data-name='Path 14' d='M167.69,3.24a.728.728,0,0,1-.728-.728,1.057,1.057,0,0,0-1.056-1.056h-1.893a1.057,1.057,0,0,0-1.056,1.056.728.728,0,1,1-1.456,0A2.515,2.515,0,0,1,164.012,0h1.893a2.515,2.515,0,0,1,2.512,2.512A.728.728,0,0,1,167.69,3.24Z' transform='translate(-161.5)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 130px 14px;
    background-size: auto;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents{
    top:-6px;
}
.elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-updated-animation .aux-cart-contents {
    top: 6px;
}
@media screen and (max-width:767px){
    .elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents{
        margin-left:0 !important;
    }
    .elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents span:after{
        display:none;
    }
    .elementor-93 .elementor-element.elementor-element-75591f0 .aux-cart-contents span:before{
        display:none;
    }
    .elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-basket{
        background-position:center !important;
    }
    .elementor-93 .elementor-element.elementor-element-75591f0 .aux-shopping-basket{
        padding: 25px 25px 25px 25px;
    }
}/* End custom CSS */