.elementor-90 .elementor-element.elementor-element-61aa129 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-90 .elementor-element.elementor-element-61aa129:not(.elementor-motion-effects-element-type-background), .elementor-90 .elementor-element.elementor-element-61aa129 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-90 .elementor-element.elementor-element-61aa129{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:6px 0px 6px 0px;}.elementor-90 .elementor-element.elementor-element-61aa129 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-90 .elementor-element.elementor-element-77b583fe > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 15px;}.elementor-90 .elementor-element.elementor-element-e7b79fe > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-90 .elementor-element.elementor-element-e7b79fe{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-6d1094cd > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-4e9701 .aux-weather-name{color:#ffffff;font-family:"Open Sans", Sans-serif;font-size:12px;font-weight:400;line-height:17px;}.elementor-90 .elementor-element.elementor-element-4e9701 .aux-weather-temp{color:#ffffff;font-family:"Open Sans", Sans-serif;font-size:12px;font-weight:400;line-height:17px;margin:0px 0px 0px -5px;}.elementor-90 .elementor-element.elementor-element-110e7959 .aux-current-time{color:#ffffff;font-family:"Open Sans", Sans-serif;font-size:12px;font-weight:400;line-height:17px;}.elementor-90 .elementor-element.elementor-element-14f670e0 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-2bd193dc > .elementor-element-populated > .elementor-widget-wrap{padding:0px 15px 0px 0px;}.elementor-90 .elementor-element.elementor-element-9e27bab .bdt-ss-btn{font-size:calc(0.8px * 10);height:14px;}.elementor-90 .elementor-element.elementor-element-9e27bab .bdt-ss-icon i{font-size:14px;}.elementor-90 .elementor-element.elementor-element-9e27bab.bdt-ss-btns-style-flat .bdt-ss-btn,
					 .elementor-90 .elementor-element.elementor-element-9e27bab.bdt-ss-btns-style-gradient .bdt-ss-btn,
					 .elementor-90 .elementor-element.elementor-element-9e27bab.bdt-ss-btns-style-boxed .bdt-ss-btn .bdt-ss-icon,
					 .elementor-90 .elementor-element.elementor-element-9e27bab.bdt-ss-btns-style-minimal .bdt-ss-btn .bdt-ss-icon{background-color:rgba(0,0,0,0);}.elementor-90 .elementor-element.elementor-element-9e27bab.bdt-ss-btns-style-framed .bdt-ss-btn,
					 .elementor-90 .elementor-element.elementor-element-9e27bab.bdt-ss-btns-style-minimal .bdt-ss-btn,
					 .elementor-90 .elementor-element.elementor-element-9e27bab.bdt-ss-btns-style-boxed .bdt-ss-btn{color:rgba(0,0,0,0);border-color:rgba(0,0,0,0);}.elementor-90 .elementor-element.elementor-element-74290112 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-90 .elementor-element.elementor-element-74290112{padding:5px 0px 5px 0px;}.elementor-90 .elementor-element.elementor-element-1f3c33d7 .bdt-navbar-dropdown-close.bdt-icon.bdt-close svg{color:#000000;}.elementor-90 .elementor-element.elementor-element-1f3c33d7 .bdt-search-input{border-radius:3px;}#modal-search-1f3c33d7 .bdt-search-input{border-radius:3px;}.elementor-90 .elementor-element.elementor-element-3aa1125f{margin-top:0px;margin-bottom:20px;}.elementor-90 .elementor-element.elementor-element-7a94e22f > .elementor-element-populated > .elementor-widget-wrap{padding:0px 15px 15px 15px;}.elementor-90 .elementor-element.elementor-element-d7ee0d0{display:block;text-align:center;}.elementor-90 .elementor-element.elementor-element-d7ee0d0 .aux-vertical .aux-menu-depth-0 .aux-item-content{display:block;text-align:center;}.elementor-90 .elementor-element.elementor-element-d7ee0d0 .aux-menu-depth-0 > .aux-item-content{color:#000000;font-family:"Open Sans", Sans-serif;font-size:15px;font-weight:400;text-transform:capitalize;line-height:20px;letter-spacing:0.3px;padding:5px 25px 5px 25px;}.elementor-90 .elementor-element.elementor-element-d7ee0d0 > .elementor-widget-container{padding:9px 5px 9px 5px;}.elementor-widget .tippy-tooltip .tippy-content{text-align:center;}@media(min-width:768px){.elementor-90 .elementor-element.elementor-element-77b583fe{width:70%;}.elementor-90 .elementor-element.elementor-element-6d1094cd{width:16%;}.elementor-90 .elementor-element.elementor-element-1334accd{width:18%;}.elementor-90 .elementor-element.elementor-element-14f670e0{width:65.99%;}.elementor-90 .elementor-element.elementor-element-2bd193dc{width:30%;}.elementor-90 .elementor-element.elementor-element-7f1d0590{width:31%;}.elementor-90 .elementor-element.elementor-element-6ae0d77b{width:37.664%;}.elementor-90 .elementor-element.elementor-element-795b29b{width:31%;}}/* Start custom CSS for aux_weather, class: .elementor-element-4e9701 */.elementor-90 .elementor-element.elementor-element-4e9701 .aux-weather-icon{
    position: relative;
    margin-right: 25px;
}
.elementor-90 .elementor-element.elementor-element-4e9701 .aux-weather-icon > i:before{
    color: #fff;
    position: absolute;
    left: -10px;
    font-size: 28px;
    top: 50%;
    transform: translateY(-50%);
    
}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-71671387 */.elementor-90 .elementor-element.elementor-element-71671387 ul{
    display: flex;
    margin: 0;
}

.elementor-90 .elementor-element.elementor-element-71671387 ul li{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #fff;
    margin: 0;
    padding-right: 35px;
}

.elementor-90 .elementor-element.elementor-element-71671387 ul li a{
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-61aa129 */@media (max-width: 767px)  {
    .elementor-90 .elementor-element.elementor-element-61aa129 .aux-weather-widget{
        text-align:center;
    }    
    .elementor-90 .elementor-element.elementor-element-61aa129 .menu-primary-container > ul, .elementor-90 .elementor-element.elementor-element-61aa129 .bdt-ep-grid{
        justify-content: center;
        margin: 5px 0;
    }    
    .elementor-90 .elementor-element.elementor-element-61aa129 .menu-primary-container > ul > li{
        padding: 0 15px;
    }  
}/* End custom CSS */
/* Start custom CSS for bdt-search, class: .elementor-element-1f3c33d7 */.elementor-90 .elementor-element.elementor-element-1f3c33d7 .bdt-search-icon{
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 5px;
}

.elementor-90 .elementor-element.elementor-element-1f3c33d7 .bdt-search-icon > svg{
    width: 16px;
    height: 16px;
}

.bdt-modal-dialog .bdt-close{
    right: 4%;
    top: 7%;
    border: solid 1px rgb(51, 51, 51);
    border-radius: 50%;
    color: rgb(51, 51, 51);
    padding: 6px;
}

.bdt-modal-dialog .bdt-search{
    border-bottom: 2px solid RGB(187, 187, 187);
    max-width: 780px;
    width: 100%;
}

.bdt-modal-dialog .bdt-search .bdt-search-input{
    text-align: left !important;
    padding-left: 100px !important;
    font-family: roboto;
    font-size: 28px;
}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-d7ee0d0 */.elementor-90 .elementor-element.elementor-element-d7ee0d0{
    border-bottom: 2px solid #000000;
    border-top: 1px solid rgba(0,0,0,0.15);    
}/* End custom CSS */