.elementor-121 .elementor-element.elementor-element-f215e6f{padding:0px 35px 0px 35px;}.elementor-121 .elementor-element.elementor-element-3ff157f{width:auto;max-width:auto;position:absolute;top:-15%;right:-45%;}.elementor-121 .elementor-element.elementor-element-c9d8d8a{width:auto;max-width:auto;position:absolute;top:-130px;right:150px;}.elementor-121 .elementor-element.elementor-element-8ddfa0a{width:auto;max-width:auto;position:absolute;top:-10%;left:-65%;}.elementor-121 .elementor-element.elementor-element-b06e890{width:auto;max-width:auto;position:absolute;top:-550px;left:-500px;}.elementor-121 .elementor-element.elementor-element-f7d4bd1 > .elementor-container{max-width:1400px;}.elementor-121 .elementor-element.elementor-element-f7d4bd1{margin-top:200px;margin-bottom:100px;}.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-modern-heading-primary{font-size:17px;font-weight:bold;text-transform:uppercase;letter-spacing:1.02px;color:var( --e-global-color-308c8df );background-color:var( --e-global-color-secondary );padding:5px 20px 6px 18px;border-radius:26px 26px 26px 26px;}.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-modern-heading-secondary .aux-head-highlight{font-size:53px;font-weight:bold;line-height:1.2em;color:var( --e-global-color-text );max-width:550px;}.elementor-121 .elementor-element.elementor-element-4ba7f7e > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-121 .elementor-element.elementor-element-4ba7f7e{animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-121 .elementor-element.elementor-element-a54b994 .aux-media-image{border-radius:20px 20px 20px 20px !important;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-header .entry-title a{color:var( --e-global-color-765c03a );font-size:32px;font-weight:bold;text-transform:capitalize;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-tax a{color:var( --e-global-color-308c8df );}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-tax{font-size:20px;font-weight:bold;text-transform:capitalize;font-style:normal;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-main{padding:50px 45px 40px 45px !important;background-color:#FFFFFFB5;}.elementor-121 .elementor-element.elementor-element-73b5d60 .aux-the-shape{width:30px;height:30px;background-color:var( --e-global-color-secondary );}.elementor-121 .elementor-element.elementor-element-73b5d60 .aux-widget-container{text-align:center;}.elementor-121 .elementor-element.elementor-element-73b5d60{width:auto;max-width:auto;position:absolute;top:0%;right:5%;}@media(max-width:1024px){.elementor-121 .elementor-element.elementor-element-3ff157f{top:-15%;right:-65%;}.elementor-121 .elementor-element.elementor-element-c9d8d8a{top:-150px;right:0px;}.elementor-121 .elementor-element.elementor-element-8ddfa0a{top:-5%;left:-65%;}.elementor-121 .elementor-element.elementor-element-b06e890{top:-19%;left:-55%;}.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-modern-heading-primary{font-size:16px;}.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-modern-heading-secondary .aux-head-highlight{font-size:40px;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-header .entry-title a{font-size:24px;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-tax{font-size:18px;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-main{padding:30px 30px 30px 30px !important;}}@media(max-width:767px){.elementor-121 .elementor-element.elementor-element-f215e6f{margin-top:-50px;margin-bottom:-50px;}.elementor-121 .elementor-element.elementor-element-3ff157f{top:-3%;right:-55%;}.elementor-121 .elementor-element.elementor-element-c9d8d8a{top:-50px;right:-50px;}.elementor-121 .elementor-element.elementor-element-8ddfa0a{top:-1%;}.elementor-121 .elementor-element.elementor-element-b06e890{top:-4%;}.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-modern-heading-primary{font-size:15px;}.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-modern-heading-secondary .aux-head-highlight{font-size:34px;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-header .entry-title a{font-size:20px;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-tax{font-size:16px;}.elementor-121 .elementor-element.elementor-element-a54b994 .entry-main{padding:25px 20px 25px 20px !important;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-4ba7f7e */.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-modern-heading-primary{
    display: inline-block;
}
.elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-widget-inner{
    text-align: center;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-121 .elementor-element.elementor-element-4ba7f7e .aux-head-highlight {
        font-size: 48px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_recent_portfolios_grid, class: .elementor-element-a54b994 */.elementor-121 .elementor-element.elementor-element-a54b994 .wpulike{
    display: none;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .entry-main{
    margin-bottom: 0;
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -75px;
    border-radius: 20px;
    backdrop-filter:blur(10px) brightness(3.2);
    transition:all 250ms ease-in;
    box-shadow: 0px 10px 15px #00000014;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .entry-header{
    margin-bottom: 0;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .entry-info{
    z-index: 99;
    margin-bottom: 10px;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .entry-media{
    margin-bottom: 0;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-col{
    margin-bottom: 150px !important;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-col:hover .entry-main{
    background-color: #FFFFFF;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-121 .elementor-element.elementor-element-a54b994 .entry-title a{
        font-size:28px !important;
    }
}
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-121 .elementor-element.elementor-element-a54b994 .entry-title a{
        font-size:20px !important;
    }
    .elementor-121 .elementor-element.elementor-element-a54b994 .entry-main{
        bottom:-60px !important;
    }
}
@media screen and (max-width:1024px){
    .elementor-121 .elementor-element.elementor-element-a54b994 .aux-col{
    padding-right: 40px!important
}
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-isotope-layout.aux-isotope-ready{
    margin-right: -40px!important ;
}
   .elementor-121 .elementor-element.elementor-element-a54b994 .aux-ajax-view {
    margin-bottom: 0px;
}
}
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-circle{
    display: none;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-load-more{
    height: 56px;
    width:177px;
    border-radius: 15px;
    transition: all 250ms ease-in;
    background-color: var(--e-global-color-308c8df);
    
}
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-load-more:hover{
   background-color: transparent;
    background-image: linear-gradient(102deg,var(--e-global-color-primary) 0%,var(--e-global-color-accent) 100%);
}

.elementor-121 .elementor-element.elementor-element-a54b994 .aux-label-text , .elementor-121 .elementor-element.elementor-element-a54b994  .aux-load-more .aux-loading-label{
    line-height: 55px;
    text-transform: capitalize;
    color: var(--e-global-color-aef23e3);
    font-weight: 500;
    color: #fff;
    font-family: "Quicksand"!important;
    font-size: 16px
    
}


@media screen and (max-width:414px){
        .elementor-121 .elementor-element.elementor-element-a54b994 .aux-ajax-view {
        margin-bottom:20px;
    }
} 
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-media-image a:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--e-global-color-primary);
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 250ms ease-in;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-media-image a:after{
    content: "\e1ef";
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 43%;
    color: var(--e-global-color-a187308);
    font-size: 58px;
    font-family: "auxin-front";
    line-height: 1;
    border:1px solid var(--e-global-color-a187308);
    border-radius: 100%;
    opacity: 0;
}
.elementor-121 .elementor-element.elementor-element-a54b994 .aux-col:hover .aux-media-image a:before{
    opacity: 0.8;
}

.elementor-121 .elementor-element.elementor-element-a54b994 .aux-col:hover .aux-media-image a:after{
    opacity: 1;
}/* End custom CSS */