.elementor-120 .elementor-element.elementor-element-5a91a38{margin-top:0px;margin-bottom:0px;}.elementor-120 .elementor-element.elementor-element-4dd0596{width:auto;max-width:auto;position:absolute;top:-450px;left:-500px;}.elementor-120 .elementor-element.elementor-element-4dd0596 > .elementor-widget-container{--e-transform-rotateZ:220deg;}.elementor-120 .elementor-element.elementor-element-e0aa16b{width:auto;max-width:auto;position:absolute;top:-850px;right:-600px;}.elementor-120 .elementor-element.elementor-element-21e9361{width:auto;max-width:auto;position:absolute;top:-10px;}.elementor-120 .elementor-element.elementor-element-f15fc1e > .elementor-container{max-width:1400px;}.elementor-120 .elementor-element.elementor-element-f15fc1e{margin-top:200px;margin-bottom:170px;padding:0px 35px 0px 35px;z-index:1;}.elementor-120 .elementor-element.elementor-element-34d0802 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-120 .elementor-element.elementor-element-34d0802 .aux-modern-heading-primary{font-size:17px;font-weight:bold;text-transform:uppercase;letter-spacing:1.02px;color:var( --e-global-color-308c8df );background-color:var( --e-global-color-secondary );padding:5px 20px 6px 18px;border-radius:26px 26px 26px 26px;}.elementor-120 .elementor-element.elementor-element-34d0802 .aux-modern-heading-secondary .aux-head-highlight{font-size:53px;font-weight:bold;line-height:1.2em;color:var( --e-global-color-text );max-width:550px;}.elementor-120 .elementor-element.elementor-element-34d0802 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-120 .elementor-element.elementor-element-34d0802{animation-delay:300ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-media img{border-radius:20px 20px 20px 20px !important;}.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-title a{color:var( --e-global-color-765c03a );font-size:32px;font-weight:bold;text-transform:capitalize;}.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info a, .elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info{color:var( --e-global-color-308c8df );}.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info, .elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info a{font-family:"Quicksand", Roboto;font-size:20px;font-weight:bold;}.elementor-120 .elementor-element.elementor-element-3ca8635 .type-post .entry-main{padding:54px 43px 40px 43px;}.elementor-120 .elementor-element.elementor-element-3ca8635{text-align:left;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-120 .elementor-element.elementor-element-3ca8635 > .elementor-widget-container{margin:0px -15px 0px -15px;}.elementor-120 .elementor-element.elementor-element-acdf738{margin-top:150px;margin-bottom:0px;}.elementor-120 .elementor-element.elementor-element-7d7539f{width:auto;max-width:auto;position:absolute;top:-500px;right:-500px;}.elementor-120 .elementor-element.elementor-element-0dbc942{width:auto;max-width:auto;position:absolute;top:-400px;right:-500px;}.elementor-120 .elementor-element.elementor-element-9fee337{width:auto;max-width:auto;position:absolute;top:-900px;left:-600px;}@media(max-width:1024px){.elementor-120 .elementor-element.elementor-element-4dd0596{top:-250px;left:-400px;}.elementor-120 .elementor-element.elementor-element-e0aa16b{top:-450px;right:-320px;}.elementor-120 .elementor-element.elementor-element-21e9361{top:-450px;right:-320px;}.elementor-120 .elementor-element.elementor-element-f15fc1e{margin-top:150px;margin-bottom:80px;z-index:1;}.elementor-120 .elementor-element.elementor-element-34d0802 .aux-modern-heading-primary{font-size:16px;}.elementor-120 .elementor-element.elementor-element-34d0802 .aux-modern-heading-secondary .aux-head-highlight{font-size:40px;}.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-title a{font-size:24px;}.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info, .elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info a{font-size:18px;}.elementor-120 .elementor-element.elementor-element-acdf738{margin-top:0px;margin-bottom:0px;}.elementor-120 .elementor-element.elementor-element-0dbc942{right:-600px;}.elementor-120 .elementor-element.elementor-element-9fee337{right:-600px;}}@media(max-width:767px){.elementor-120 .elementor-element.elementor-element-4dd0596{top:-200px;left:-200px;}.elementor-120 .elementor-element.elementor-element-e0aa16b{top:-300px;right:-100px;}.elementor-120 .elementor-element.elementor-element-21e9361{top:-300px;right:-100px;}.elementor-120 .elementor-element.elementor-element-34d0802 .aux-modern-heading-primary{font-size:15px;}.elementor-120 .elementor-element.elementor-element-34d0802 .aux-modern-heading-secondary .aux-head-highlight{font-size:30px;}.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-title a{font-size:20px;}.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info, .elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info a{font-size:16px;}.elementor-120 .elementor-element.elementor-element-3ca8635 .type-post .entry-main{padding:25px 20px 15px 20px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-34d0802 */.elementor-120 .elementor-element.elementor-element-34d0802 .aux-modern-heading-primary{
    display: inline-block;
}
.elementor-120 .elementor-element.elementor-element-34d0802 .aux-widget-inner{
    text-align: center;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-120 .elementor-element.elementor-element-34d0802 .aux-head-highlight {
        font-size: 48px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts, class: .elementor-element-3ca8635 */.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-col{
    padding-left: 30px;
    padding-right: 30px;
     margin-bottom: 90px;
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-main{
    margin-bottom: 0;
    width: 90%;
    margin: 0 5%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    background-color: #FFFFFF99;
    box-shadow: 0px 8px 30px #00000029;
    border-radius: 20px;
    backdrop-filter:blur(10px) brightness(3.2);
    transition:all 250ms ease-in;
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .entry-info{
    position: relative;
    z-index: 99;
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-media-image a:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--e-global-color-primary);
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 250ms ease-in;
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-media-image a:after{
    content: "\e1ef";
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 43%;
    color: var(--e-global-color-a187308);
    font-size: 58px;
    font-family: "auxin-front";
    line-height: 1;
    border:1px solid var(--e-global-color-a187308);
    border-radius: 100%;
    opacity: 0;
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-col:hover .aux-media-image a:before{
    opacity: 0.8;
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-col:hover .aux-media-image a:after{
    opacity: 1;
}
@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-120 .elementor-element.elementor-element-3ca8635 .entry-title a{
        font-size: 24px !important;
    }
    .elementor-120 .elementor-element.elementor-element-3ca8635 .aux-media-image a::after{
        width: 70px;
        height: 70px;
        font-size: 45px;
    }
}
@media screen and (max-width:899px) and (min-width:768px){
    .elementor-120 .elementor-element.elementor-element-3ca8635 .entry-main{
        bottom:-100px;
    }
    .elementor-120 .elementor-element.elementor-element-3ca8635 .aux-col{
        margin-bottom:120px;
    }
    
}
@media screen and (max-width:767px){
    .elementor-120 .elementor-element.elementor-element-3ca8635 .aux-media-image a::after{
        width: 55px;
        height: 55px;
        font-size: 35px;
    }
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-circle{
    display: none;
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-load-more{
    height: 56px;
    width:177px;
    border-radius: 15px;
    transition: all 250ms ease-in;
    background-color: var(--e-global-color-308c8df);
    
}
.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-load-more:hover{
   background-color: transparent;
    background-image: linear-gradient(102deg,var(--e-global-color-primary) 0%,var(--e-global-color-accent) 100%);
}

.elementor-120 .elementor-element.elementor-element-3ca8635 .aux-label-text , .elementor-120 .elementor-element.elementor-element-3ca8635  .aux-load-more .aux-loading-label{
    line-height: 55px;
    text-transform: capitalize;
    color: var(--e-global-color-aef23e3);
    font-weight: 500;
    color: #fff;
    font-family: "Quicksand"!important;
    font-size: 16px
    
}


@media screen and (max-width:414px){
        .elementor-120 .elementor-element.elementor-element-3ca8635 .aux-ajax-view {
        margin-bottom:20px;
    }
}/* End custom CSS */