
.depicter-revert.depicter-1{
	background-color:#E3E7EE;
}
.depicter-1:not(.depicter-ready){
	height:900px;
}
.depicter-revert.depicter-1 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-1-element-8{
	font-size:65px;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	letter-spacing:-1px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-9{
	font-size:65px;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	letter-spacing:-1px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-10{
	font-size:65px;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	letter-spacing:-1px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-11{
	font-size:65px;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	letter-spacing:-1px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-13{
	font-size:14px;
	text-align:center;
	color:#FFF;
	font-family:"Montserrat";
	font-weight:400;
	text-transform:uppercase;
	background-color:#00CD98;
	border-radius:25px;
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-1-element-14{
	border-width:2px;
	border-style:solid;
	border-color:#000;
	border-radius:50% 50% 50% 50%;
}
.depicter-1-element-14 svg{
	fill:#000;
}
.depicter-revert .depicter-1-element-7{
	background-color:#bbd8fa;
	border-radius:15px;
}
.depicter-revert .depicter-1-element-5{
	font-size:14px;
	color:#2e58ff;
	font-family:"Montserrat";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-12{
	font-size:20px;
	color:#606574;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-6{
	font-size:14px;
	color:#2e58ff;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-2{
	opacity:0.6;
	background-color:#ffffff;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-1{
	background-color:#E3E7EE;
}
.depicter-revert .depicter-1-element-16{
	opacity:0.6;
	background-color:#ffffff;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-15{
	background-color:#E3E7EE;
}
.depicter-revert .depicter-1-element-22{
	opacity:0.6;
	background-color:#ffffff;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-21{
	background-color:#E3E7EE;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-1:not(.depicter-ready){
	height:700px;
}
.depicter-revert .depicter-1-element-8{
	font-size:50px;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-9{
	font-size:50px;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-10{
	font-size:50px;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-11{
	font-size:50px;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-12{
	font-size:18px;
	color:#606574;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-1:not(.depicter-ready){
	height:740px;
}
.depicter-revert .depicter-1-element-8{
	font-size:30px;
	text-align:center;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-9{
	font-size:30px;
	text-align:center;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-10{
	font-size:30px;
	text-align:center;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-11{
	font-size:30px;
	text-align:center;
	color:#0a132a;
	font-family:"Raleway";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-1-element-7{
	border-radius:15px;
}
.depicter-revert .depicter-1-element-12{
	font-size:14px;
	text-align:center;
	color:#606574;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	text-transform:capitalize;
}

}
