.elementor-40 .elementor-element.elementor-element-5a00655 .aux-widget-testimonial .aux-testimonial-image{width:68px;}.elementor-40 .elementor-element.elementor-element-5a00655 .aux-testimonial-image img{border-radius:100% 100% 100% 100%;overflow:hidden;}.elementor-40 .elementor-element.elementor-element-5a00655 .col-title, .elementor-40 .elementor-element.elementor-element-5a00655 .col-title a{font-weight:bold;letter-spacing:-0.48px;}.elementor-40 .elementor-element.elementor-element-5a00655 .col-subtitle{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;text-transform:capitalize;line-height:1.5em;letter-spacing:-0.45px;}.elementor-40 .elementor-element.elementor-element-5a00655 .aux-testimonial-content{font-weight:300;}.elementor-40 .elementor-element.elementor-element-5a00655 .aux-testimonial-content .entry-content{padding:80px 0px 15px 0px;}.elementor-40 .elementor-element.elementor-element-5a00655 .aux-widget-testimonial{text-align:center;padding:46px 58px 58px 58px;}@media(max-width:767px){.elementor-40 .elementor-element.elementor-element-5a00655 .aux-widget-testimonial{padding:25px 25px 25px 25px;}}/* Start custom CSS for aux_testimonial, class: .elementor-element-5a00655 */.elementor-40 .elementor-element.elementor-element-5a00655 .entry-content:after {
    display: none;
}
.elementor-40 .elementor-element.elementor-element-5a00655 .aux-testimonial-content .entry-content:before {
    left: 0;
    right: 0;
    font-size: 45px;
}

.elementor-40 .elementor-element.elementor-element-5a00655 .aux-testimonial-infobox {
    margin-left: auto;
    margin-right: auto;
}

.elementor-40 .elementor-element.elementor-element-5a00655 .aux-testimonial-info {
    text-align: left;
    padding-left: 15px !important;
    padding-top: 10px !important;
}/* End custom CSS */