.elementor-99 .elementor-element.elementor-element-ce77832{margin-top:0px;margin-bottom:150px;padding:0px 35px 0px 35px;}.elementor-99 .elementor-element.elementor-element-acd826a > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-99 .elementor-element.elementor-element-d53b02a{text-align:center;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-d53b02a .elementor-heading-title{font-family:"Roboto Condensed", Sans-serif;font-size:61px;font-weight:900;}.elementor-99 .elementor-element.elementor-element-0e45c39 .aux-the-svg{width:300px;}.elementor-99 .elementor-element.elementor-element-0e45c39 .aux-widget-container{text-align:center;}.elementor-99 .elementor-element.elementor-element-0e45c39{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-547976e{margin-top:0px;margin-bottom:150px;padding:0px 35px 0px 35px;}.elementor-bc-flex-widget .elementor-99 .elementor-element.elementor-element-2df3091.elementor-column .elementor-column-wrap{align-items:center;}.elementor-99 .elementor-element.elementor-element-2df3091.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-99 .elementor-element.elementor-element-227c948 .aux-modern-heading-primary{font-size:45px;font-weight:900;line-height:1.2em;letter-spacing:-0.6px;margin:0px 0px 30px 0px;max-width:60%;}.elementor-99 .elementor-element.elementor-element-227c948 .aux-modern-heading-description{max-width:73%;}.elementor-99 .elementor-element.elementor-element-227c948{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-d3501f4 .aux-widget-container{text-align:left;}.elementor-99 .elementor-element.elementor-element-d3501f4{width:auto;max-width:auto;position:absolute;top:100px;left:-90px;}.elementor-99 .elementor-element.elementor-element-d3501f4 > .elementor-widget-container{transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-99 .elementor-element.elementor-element-4dcda41 .aux-widget-image{text-align:right;}.elementor-99 .elementor-element.elementor-element-4dcda41 .aux-media-image{border-radius:20px 20px 20px 20px;overflow:hidden;box-shadow:0px 8px 60px 0px rgba(156, 156, 156, 0.1607843137254902);}.elementor-99 .elementor-element.elementor-element-4dcda41{z-index:1;}.elementor-99 .elementor-element.elementor-element-4dcda41 > .elementor-widget-container{transition-duration:1000ms;transition-property:all;}.elementor-99 .elementor-element.elementor-element-7a40df8{position:absolute;left:60%;}.elementor-99 .elementor-element.elementor-element-7a40df8 > .elementor-widget-container{transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-99 .elementor-element.elementor-element-510f4bb > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-99 .elementor-element.elementor-element-510f4bb{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:70px;padding:0px 35px 0px 35px;z-index:3;}.elementor-99 .elementor-element.elementor-element-510f4bb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99 .elementor-element.elementor-element-0ff67a7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-99 .elementor-element.elementor-element-5dd7d9c .aux-widget-container{text-align:center;}.elementor-99 .elementor-element.elementor-element-5dd7d9c > .elementor-widget-container{margin:0px 30px 0px 0px;}.elementor-99 .elementor-element.elementor-element-5dd7d9c{width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-99 .elementor-element.elementor-element-c759522 .elementor-heading-title{letter-spacing:-0.6px;}.elementor-99 .elementor-element.elementor-element-c759522{width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-99 .elementor-element.elementor-element-f7b943c .aux-widget-container{text-align:center;}.elementor-99 .elementor-element.elementor-element-f7b943c > .elementor-widget-container{margin:0px 0px 0px 30px;}.elementor-99 .elementor-element.elementor-element-f7b943c{width:auto;max-width:auto;}.elementor-99 .elementor-element.elementor-element-f067139 > .elementor-container{max-width:1220px;}.elementor-99 .elementor-element.elementor-element-f067139{margin-top:0px;margin-bottom:0150px;padding:0px 35px 0px 35px;}.elementor-99 .elementor-element.elementor-element-ccfce61, .elementor-99 .elementor-element.elementor-element-ccfce61 > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-99 .elementor-element.elementor-element-ccfce61{box-shadow:0px 8px 60px 0px rgba(156, 156, 156, 0.16);transition:background 0.4s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:20px;}.elementor-99 .elementor-element.elementor-element-ccfce61 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99 .elementor-element.elementor-element-f3e3d5f > .elementor-element-populated{margin:0px 10px 0px 0px;--e-column-margin-right:10px;--e-column-margin-left:0px;}.elementor-99 .elementor-element.elementor-element-f3e3d5f > .elementor-element-populated > .elementor-widget-wrap{padding:60px 60px 60px 60px;}.elementor-99 .elementor-element.elementor-element-f3e3d5f{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-c2669b4 .aux-widget-container{text-align:left;}.elementor-99 .elementor-element.elementor-element-68fee64 .aux-modern-heading-primary{font-size:30px;font-weight:bold;letter-spacing:-0.4px;margin:0px 0px 15px 0px;}.elementor-99 .elementor-element.elementor-element-c5f0663, .elementor-99 .elementor-element.elementor-element-c5f0663 > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-99 .elementor-element.elementor-element-c5f0663{box-shadow:0px 8px 60px 0px rgba(156, 156, 156, 0.16);transition:background 0.4s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-99 .elementor-element.elementor-element-c5f0663 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99 .elementor-element.elementor-element-2b27f50 > .elementor-element-populated{margin:0px 10px 0px 0px;--e-column-margin-right:10px;--e-column-margin-left:0px;}.elementor-99 .elementor-element.elementor-element-2b27f50 > .elementor-element-populated > .elementor-widget-wrap{padding:60px 60px 60px 60px;}.elementor-99 .elementor-element.elementor-element-2b27f50{animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-ddeca3f .aux-widget-container{text-align:left;}.elementor-99 .elementor-element.elementor-element-0c86eab .aux-modern-heading-primary{font-size:30px;font-weight:bold;letter-spacing:-0.4px;margin:0px 0px 15px 0px;}.elementor-99 .elementor-element.elementor-element-8397590, .elementor-99 .elementor-element.elementor-element-8397590 > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-99 .elementor-element.elementor-element-8397590{box-shadow:0px 8px 60px 0px rgba(156, 156, 156, 0.16);transition:background 0.4s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:20px;}.elementor-99 .elementor-element.elementor-element-8397590 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99 .elementor-element.elementor-element-1db2e8d > .elementor-element-populated > .elementor-widget-wrap{padding:60px 60px 60px 60px;}.elementor-99 .elementor-element.elementor-element-1db2e8d{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-75db0c3 .aux-widget-container{text-align:left;}.elementor-99 .elementor-element.elementor-element-31a7394 .aux-modern-heading-primary{font-size:30px;font-weight:bold;letter-spacing:-0.4px;margin:0px 0px 15px 0px;}.elementor-99 .elementor-element.elementor-element-5475016, .elementor-99 .elementor-element.elementor-element-5475016 > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-99 .elementor-element.elementor-element-5475016{box-shadow:0px 8px 60px 0px rgba(156, 156, 156, 0.16);transition:background 0.4s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-99 .elementor-element.elementor-element-5475016 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99 .elementor-element.elementor-element-69f472a > .elementor-element-populated > .elementor-widget-wrap{padding:60px 60px 60px 60px;}.elementor-99 .elementor-element.elementor-element-69f472a{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-739c649 .aux-widget-container{text-align:left;}.elementor-99 .elementor-element.elementor-element-d6991d0 .aux-modern-heading-primary{font-size:30px;font-weight:bold;letter-spacing:-0.4px;margin:0px 0px 15px 0px;}.elementor-99 .elementor-element.elementor-element-0e672bc > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-99 .elementor-element.elementor-element-0e672bc{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:70px;padding:0px 35px 0px 35px;z-index:3;}.elementor-99 .elementor-element.elementor-element-0e672bc > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99 .elementor-element.elementor-element-cf4036e.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-99 .elementor-element.elementor-element-7514ead .aux-widget-container{text-align:center;}.elementor-99 .elementor-element.elementor-element-7514ead > .elementor-widget-container{margin:0px 30px 0px 0px;}.elementor-99 .elementor-element.elementor-element-7514ead{width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-99 .elementor-element.elementor-element-bd8a2fe .elementor-heading-title{letter-spacing:-0.6px;}.elementor-99 .elementor-element.elementor-element-bd8a2fe{width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-99 .elementor-element.elementor-element-634b1e8 .aux-widget-container{text-align:center;}.elementor-99 .elementor-element.elementor-element-634b1e8 > .elementor-widget-container{margin:0px 0px 0px 30px;}.elementor-99 .elementor-element.elementor-element-634b1e8{width:auto;max-width:auto;}.elementor-99 .elementor-element.elementor-element-b2a6ee4{margin-top:0px;margin-bottom:150px;padding:0px 35px 0px 35px;}.elementor-99 .elementor-element.elementor-element-6d35f20 .col-title, .elementor-99 .elementor-element.elementor-element-6d35f20 .col-title a{font-weight:900;}.elementor-99 .elementor-element.elementor-element-6d35f20 .aux-staff-content  .col-title{margin-bottom:0px;}.elementor-99 .elementor-element.elementor-element-6d35f20 .aux-staff-content  .col-subtitle{font-size:20px;font-style:normal;}.elementor-99 .elementor-element.elementor-element-6d35f20 > .elementor-widget-container{margin:0px 30px 0px 30px;}.elementor-99 .elementor-element.elementor-element-6d35f20{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-f35292f .col-title, .elementor-99 .elementor-element.elementor-element-f35292f .col-title a{font-weight:900;}.elementor-99 .elementor-element.elementor-element-f35292f .aux-staff-content  .col-title{margin-bottom:0px;}.elementor-99 .elementor-element.elementor-element-f35292f .aux-staff-content  .col-subtitle{font-size:20px;font-style:normal;}.elementor-99 .elementor-element.elementor-element-f35292f > .elementor-widget-container{margin:0px 30px 0px 30px;}.elementor-99 .elementor-element.elementor-element-f35292f{animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-8fcefa8 .col-title, .elementor-99 .elementor-element.elementor-element-8fcefa8 .col-title a{font-weight:900;}.elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-staff-content  .col-title{margin-bottom:0px;}.elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-staff-content  .col-subtitle{font-size:20px;font-style:normal;}.elementor-99 .elementor-element.elementor-element-8fcefa8 > .elementor-widget-container{margin:0px 30px 0px 30px;}.elementor-99 .elementor-element.elementor-element-8fcefa8{animation-delay:400ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-39b2dc3 .col-title, .elementor-99 .elementor-element.elementor-element-39b2dc3 .col-title a{font-weight:900;}.elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-staff-content  .col-title{margin-bottom:0px;}.elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-staff-content  .col-subtitle{font-size:20px;font-style:normal;}.elementor-99 .elementor-element.elementor-element-39b2dc3 > .elementor-widget-container{margin:0px 30px 0px 30px;}.elementor-99 .elementor-element.elementor-element-39b2dc3{animation-delay:600ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-99 .elementor-element.elementor-element-2a93e35 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-99 .elementor-element.elementor-element-2a93e35{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:70px;padding:0px 35px 0px 35px;z-index:3;}.elementor-99 .elementor-element.elementor-element-2a93e35 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99 .elementor-element.elementor-element-367ecf0.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-99 .elementor-element.elementor-element-87f8f53 .aux-widget-container{text-align:center;}.elementor-99 .elementor-element.elementor-element-87f8f53 > .elementor-widget-container{margin:0px 30px 0px 0px;}.elementor-99 .elementor-element.elementor-element-87f8f53{width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-99 .elementor-element.elementor-element-d8a2223 .elementor-heading-title{letter-spacing:-0.6px;}.elementor-99 .elementor-element.elementor-element-d8a2223{width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-99 .elementor-element.elementor-element-ceb1797 .aux-widget-container{text-align:center;}.elementor-99 .elementor-element.elementor-element-ceb1797 > .elementor-widget-container{margin:0px 0px 0px 30px;}.elementor-99 .elementor-element.elementor-element-ceb1797{width:auto;max-width:auto;}.elementor-99 .elementor-element.elementor-element-a8ec690{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-99 .elementor-element.elementor-element-227c948 .aux-modern-heading-description{max-width:100%;}.elementor-99 .elementor-element.elementor-element-4dcda41 .aux-widget-image{text-align:center;}}@media(min-width:768px){.elementor-99 .elementor-element.elementor-element-2df3091{width:47%;}.elementor-99 .elementor-element.elementor-element-6bc7f62{width:53%;}}@media(max-width:1024px) and (min-width:768px){.elementor-99 .elementor-element.elementor-element-2df3091{width:100%;}.elementor-99 .elementor-element.elementor-element-6bc7f62{width:100%;}.elementor-99 .elementor-element.elementor-element-a3f64f5{width:100%;}.elementor-99 .elementor-element.elementor-element-6625f06{width:100%;}.elementor-99 .elementor-element.elementor-element-36bc735{width:50%;}.elementor-99 .elementor-element.elementor-element-6ed1cfd{width:50%;}.elementor-99 .elementor-element.elementor-element-a903bbe{width:50%;}.elementor-99 .elementor-element.elementor-element-c311a60{width:50%;}}@media(max-width:767px){.elementor-99 .elementor-element.elementor-element-d53b02a .elementor-heading-title{font-size:2.5em;}.elementor-99 .elementor-element.elementor-element-0e45c39 .aux-widget-container{text-align:center;}.elementor-99 .elementor-element.elementor-element-227c948 .aux-modern-heading-primary{font-size:2.4em;max-width:100%;}.elementor-99 .elementor-element.elementor-element-227c948 .aux-modern-heading-description{max-width:100%;}.elementor-99 .elementor-element.elementor-element-c759522 .elementor-heading-title{font-size:1.5em;}.elementor-99 .elementor-element.elementor-element-f3e3d5f > .elementor-element-populated > .elementor-widget-wrap{padding:30px 30px 30px 30px;}.elementor-99 .elementor-element.elementor-element-2b27f50 > .elementor-element-populated > .elementor-widget-wrap{padding:30px 30px 30px 30px;}.elementor-99 .elementor-element.elementor-element-1db2e8d > .elementor-element-populated > .elementor-widget-wrap{padding:30px 30px 30px 30px;}.elementor-99 .elementor-element.elementor-element-69f472a > .elementor-element-populated > .elementor-widget-wrap{padding:30px 30px 30px 30px;}.elementor-99 .elementor-element.elementor-element-bd8a2fe .elementor-heading-title{font-size:1.5em;}.elementor-99 .elementor-element.elementor-element-d8a2223 .elementor-heading-title{font-size:1.5em;}}/* Start custom CSS for aux_simple_svg, class: .elementor-element-d3501f4 */.elementor-99 .elementor-element.elementor-element-d3501f4 .aux-the-svg {
    opacity: 0.5;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ccfce61 */.elementor-99 .elementor-element.elementor-element-ccfce61:hover .aux-modern-heading-primary, .elementor-99 .elementor-element.elementor-element-ccfce61:hover .aux-modern-heading-description {
    color: #ffffff;
}
.elementor-99 .elementor-element.elementor-element-ccfce61:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-image: url('https://web-aku16-2.run-us-west2.goorm.io/site152/https://web-aku16-2.run-us-west2.goorm.io/wp-content/uploads/sites/152/2020/03/bloc_hover-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -20px;
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-ccfce61:hover:before {
    opacity: 1;
}
.elementor-99 .elementor-element.elementor-element-ccfce61, .elementor-99 .elementor-element.elementor-element-ccfce61:hover,.elementor-99 .elementor-element.elementor-element-ccfce61 .aux-modern-heading-primary, .elementor-99 .elementor-element.elementor-element-ccfce61 .aux-modern-heading-description, .elementor-99 .elementor-element.elementor-element-ccfce61:before {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-c5f0663 */.elementor-99 .elementor-element.elementor-element-c5f0663:hover .aux-modern-heading-primary, .elementor-99 .elementor-element.elementor-element-c5f0663:hover .aux-modern-heading-description {
    color: #ffffff;
}
.elementor-99 .elementor-element.elementor-element-c5f0663:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-image: url('https://web-aku16-2.run-us-west2.goorm.io/site152/https://web-aku16-2.run-us-west2.goorm.io/wp-content/uploads/sites/152/2020/03/bloc_hover-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -20px;
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-c5f0663:hover:before {
    opacity: 1;
}
.elementor-99 .elementor-element.elementor-element-c5f0663, .elementor-99 .elementor-element.elementor-element-c5f0663:hover,.elementor-99 .elementor-element.elementor-element-c5f0663 .aux-modern-heading-primary, .elementor-99 .elementor-element.elementor-element-c5f0663 .aux-modern-heading-description, .elementor-99 .elementor-element.elementor-element-c5f0663:before {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8397590 */.elementor-99 .elementor-element.elementor-element-8397590:hover .aux-modern-heading-primary, .elementor-99 .elementor-element.elementor-element-8397590:hover .aux-modern-heading-description {
    color: #ffffff;
}
.elementor-99 .elementor-element.elementor-element-8397590:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-image: url('https://web-aku16-2.run-us-west2.goorm.io/site152/https://web-aku16-2.run-us-west2.goorm.io/wp-content/uploads/sites/152/2020/03/bloc_hover-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -20px;
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-8397590:hover:before {
    opacity: 1;
}
.elementor-99 .elementor-element.elementor-element-8397590, .elementor-99 .elementor-element.elementor-element-8397590:hover,.elementor-99 .elementor-element.elementor-element-8397590 .aux-modern-heading-primary, .elementor-99 .elementor-element.elementor-element-8397590 .aux-modern-heading-description, .elementor-99 .elementor-element.elementor-element-8397590:before {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5475016 */.elementor-99 .elementor-element.elementor-element-5475016:hover .aux-modern-heading-primary, .elementor-99 .elementor-element.elementor-element-5475016:hover .aux-modern-heading-description {
    color: #ffffff;
}
.elementor-99 .elementor-element.elementor-element-5475016:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-image: url('https://web-aku16-2.run-us-west2.goorm.io/site152/https://web-aku16-2.run-us-west2.goorm.io/wp-content/uploads/sites/152/2020/03/bloc_hover-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -20px;
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-5475016:hover:before {
    opacity: 1;
}
.elementor-99 .elementor-element.elementor-element-5475016, .elementor-99 .elementor-element.elementor-element-5475016:hover,.elementor-99 .elementor-element.elementor-element-5475016 .aux-modern-heading-primary, .elementor-99 .elementor-element.elementor-element-5475016 .aux-modern-heading-description, .elementor-99 .elementor-element.elementor-element-5475016:before {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-6d35f20 */.elementor-99 .elementor-element.elementor-element-6d35f20 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect img {
    border-radius: 20px;
    box-shadow: 0 8px 60px #9C9C9C29;
    width: 100%;
} 
.elementor-99 .elementor-element.elementor-element-6d35f20 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    background-color: rgba(162, 23, 153, 0.84);
    z-index: 1;
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-6d35f20 .aux-widget-staff .aux-staff-footer {
    border-top: none;
}
.elementor-99 .elementor-element.elementor-element-6d35f20 .aux-widget-staff .aux-staff-footer .aux-social-list {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.elementor-99 .elementor-element.elementor-element-6d35f20 .aux-social-list a span {
    padding: 5px;
    border-radius: 50px;
    background-color: rgba(248, 200, 67, 0.43);
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-6d35f20:hover .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before , .elementor-99 .elementor-element.elementor-element-6d35f20:hover .aux-social-list a span {
    opacity: 1;
}
.elementor-99 .elementor-element.elementor-element-6d35f20,.elementor-99 .elementor-element.elementor-element-6d35f20:hover, .elementor-99 .elementor-element.elementor-element-6d35f20 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before , .elementor-99 .elementor-element.elementor-element-6d35f20 .aux-social-list a span {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-f35292f */.elementor-99 .elementor-element.elementor-element-f35292f .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect img {
    border-radius: 20px;
    box-shadow: 0 8px 60px #9C9C9C29;
    width: 100%;
} 
.elementor-99 .elementor-element.elementor-element-f35292f .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    background-color: rgba(162, 23, 153, 0.84);
    z-index: 1;
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-f35292f .aux-widget-staff .aux-staff-footer {
    border-top: none;
}
.elementor-99 .elementor-element.elementor-element-f35292f .aux-widget-staff .aux-staff-footer .aux-social-list {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.elementor-99 .elementor-element.elementor-element-f35292f .aux-social-list a span {
    padding: 5px;
    border-radius: 50px;
    background-color: rgba(248, 200, 67, 0.43);
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-f35292f:hover .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before , .elementor-99 .elementor-element.elementor-element-f35292f:hover .aux-social-list a span {
    opacity: 1;
}
.elementor-99 .elementor-element.elementor-element-f35292f,.elementor-99 .elementor-element.elementor-element-f35292f:hover, .elementor-99 .elementor-element.elementor-element-f35292f .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before , .elementor-99 .elementor-element.elementor-element-f35292f .aux-social-list a span {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-8fcefa8 */.elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect img {
    border-radius: 20px;
    box-shadow: 0 8px 60px #9C9C9C29;
    width: 100%;
} 
.elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    background-color: rgba(162, 23, 153, 0.84);
    z-index: 1;
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-widget-staff .aux-staff-footer {
    border-top: none;
}
.elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-widget-staff .aux-staff-footer .aux-social-list {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-social-list a span {
    padding: 5px;
    border-radius: 50px;
    background-color: rgba(248, 200, 67, 0.43);
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-8fcefa8:hover .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before , .elementor-99 .elementor-element.elementor-element-8fcefa8:hover .aux-social-list a span {
    opacity: 1;
}
.elementor-99 .elementor-element.elementor-element-8fcefa8,.elementor-99 .elementor-element.elementor-element-8fcefa8:hover, .elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before , .elementor-99 .elementor-element.elementor-element-8fcefa8 .aux-social-list a span {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-39b2dc3 */.elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect img {
    border-radius: 20px;
    box-shadow: 0 8px 60px #9C9C9C29;
    width: 100%;
} 
.elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    background-color: rgba(162, 23, 153, 0.84);
    z-index: 1;
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-widget-staff .aux-staff-footer {
    border-top: none;
}
.elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-widget-staff .aux-staff-footer .aux-social-list {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-social-list a span {
    padding: 5px;
    border-radius: 50px;
    background-color: rgba(248, 200, 67, 0.43);
    opacity: 0;
}
.elementor-99 .elementor-element.elementor-element-39b2dc3:hover .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before , .elementor-99 .elementor-element.elementor-element-39b2dc3:hover .aux-social-list a span {
    opacity: 1;
}
.elementor-99 .elementor-element.elementor-element-39b2dc3,.elementor-99 .elementor-element.elementor-element-39b2dc3:hover, .elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-widget-staff .aux-staff-header.aux-staff-img-round-rect :before , .elementor-99 .elementor-element.elementor-element-39b2dc3 .aux-social-list a span {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}/* End custom CSS */
/* Start custom CSS for aux_flexible_carousel, class: .elementor-element-a8ec690 */.elementor-99 .elementor-element.elementor-element-a8ec690 .aux-side-control ~ .aux-mc-controls .aux-prev {
    left: 15%;
}
.elementor-99 .elementor-element.elementor-element-a8ec690 .aux-side-control ~ .aux-mc-controls .aux-next {
    right: 15%;
}
@media screen and (min-width:768px) and (max-width:1250px) {
    .elementor-99 .elementor-element.elementor-element-a8ec690 .aux-side-control ~ .aux-mc-controls .aux-prev {
    left: 0;
    }
    .elementor-99 .elementor-element.elementor-element-a8ec690 .aux-side-control ~ .aux-mc-controls .aux-next {
    right : 0;
    }
}
@media screen and (max-width:768px) {
    .elementor-99 .elementor-element.elementor-element-a8ec690 .aux-side-control ~ .aux-mc-controls .aux-prev {
    left: -30px;
    }
    .elementor-99 .elementor-element.elementor-element-a8ec690 .aux-side-control ~ .aux-mc-controls .aux-next {
        right : -30px;
    }
}
.elementor-99 .elementor-element.elementor-element-a8ec690 .aux-arrow-nav.aux-outline {
    box-shadow: 0 7px 30px #F8C8436E;
    background-color: #F8C843;
    border-radius: 100px;
}
.elementor-99 .elementor-element.elementor-element-a8ec690 .aux-arrow-nav .aux-hover-arrow {
    opacity: 1;
}/* End custom CSS */