.elementor-88 .elementor-element.elementor-element-81359af{padding:0px 35px 0px 35px;}.elementor-88 .elementor-element.elementor-element-48f7b20 .aux-media-image{border-radius:20px 20px 20px 20px !important;}.elementor-88 .elementor-element.elementor-element-48f7b20 .entry-header .entry-title a{color:#081420;font-size:20px;font-weight:bold;line-height:1.5em;}.elementor-88 .elementor-element.elementor-element-48f7b20  .entry-header{margin-bottom:10px;}.elementor-88 .elementor-element.elementor-element-48f7b20 .entry-tax a{color:var( --e-global-color-b47c083 );}.elementor-88 .elementor-element.elementor-element-48f7b20 .entry-tax a:hover{color:var( --e-global-color-b47c083 );}.elementor-88 .elementor-element.elementor-element-48f7b20 .entry-tax{font-size:16px;text-transform:capitalize;font-style:normal;line-height:1.5em;margin-bottom:0px;}.elementor-88 .elementor-element.elementor-element-48f7b20 .aux-iso-item{margin-bottom:30px !important;}.elementor-88 .elementor-element.elementor-element-48f7b20{animation-duration:200ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}/* Start custom CSS for aux_recent_portfolios_grid, class: .elementor-element-48f7b20 */.elementor-88 .elementor-element.elementor-element-48f7b20 .count-box{
    display: none;
}
.elementor-88 .elementor-element.elementor-element-48f7b20 .hentry .entry-info{
    margin-bottom: 0!important;
}

.elementor-88 .elementor-element.elementor-element-48f7b20 .aux-iso-item:hover .aux-media-image{
    
    box-shadow:-15px 30px 60px #70798B66;
    transition: all 300ms ease-out;
}
.elementor-88 .elementor-element.elementor-element-48f7b20 .aux-isotope-animated{
    overflow:visible;
}/* End custom CSS */