.elementor-112 .elementor-element.elementor-element-c3bda68 > .elementor-element-populated > .elementor-widget-wrap{padding:30px 13px 30px 13px;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-ico-box{padding:0px 0px 0px 0px;box-shadow:0px 5px 15px 0px rgba(38.000000000000036, 121.00000000000033, 253, 0.30196078431372547);color:#ffffff;background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-accent ) 0%, var( --e-global-color-2822c457 ) 100%);}.elementor-112 .elementor-element.elementor-element-4ba18a5:hover .aux-ico-box{background-color:transparent;background-image:linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);}.elementor-112 .elementor-element.elementor-element-4ba18a5 .col-title a, .elementor-112 .elementor-element.elementor-element-4ba18a5 .col-title{color:var( --e-global-color-5650395b );}.elementor-112 .elementor-element.elementor-element-4ba18a5:hover .col-title a, .elementor-112 .elementor-element.elementor-element-4ba18a5:hover .col-title{color:var( --e-global-color-ec63215 );}.elementor-112 .elementor-element.elementor-element-4ba18a5 .col-title, .elementor-112 .elementor-element.elementor-element-4ba18a5 .col-title a{font-size:27px;font-weight:bold;text-transform:capitalize;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .col-title{margin-bottom:20px;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .widget-content{color:var( --e-global-color-5e0e8e3f );font-size:16px;font-weight:400;}.elementor-112 .elementor-element.elementor-element-4ba18a5:hover .widget-content{color:#FFFFFF99 !important;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-widget-text .aux-text-widget-content{padding:60px 0px 0px 0px;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-widget-advanced-text{text-align:left !important;padding:45px 45px 45px 45px;background-color:#FFFFFF;}@media(max-width:1024px){.elementor-112 .elementor-element.elementor-element-4ba18a5 .col-title, .elementor-112 .elementor-element.elementor-element-4ba18a5 .col-title a{font-size:22px;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .widget-content{font-size:15px;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-widget-advanced-text{padding:35px 35px 35px 35px;}}@media(max-width:767px){.elementor-112 .elementor-element.elementor-element-4ba18a5 .widget-content{font-size:14px;}.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-widget-text .aux-text-widget-content{padding:40px 0px 0px 0px;}}/* Start custom CSS for aux_text, class: .elementor-element-4ba18a5 */.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-ico-box{
    margin: 0;
    width: 111px;
    height: 95px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-widget-advanced-text{
    background: var(--e-global-color-ec63215);
    box-shadow: 0px 4px 45px #0000000F;
    border-radius: 10px;
}
.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-widget-advanced-text:before{
    content: "";
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, var(--e-global-color-accent) 0%, var(--e-global-color-2822c457) 100%);
    box-shadow: 0px 7px 20px #2679FD4D;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 250ms ease-in;
    border-radius: 10px;
}
.elementor-112 .elementor-element.elementor-element-4ba18a5:hover .aux-widget-advanced-text:before{
    opacity: 1;
}
.elementor-112 .elementor-element.elementor-element-4ba18a5 .widget-content{
    max-width: 360px;
}
.elementor-112 .elementor-element.elementor-element-4ba18a5:hover path{
    stroke:var(--e-global-color-primary);
}
.elementor-112 .elementor-element.elementor-element-4ba18a5:hover #Path_2944 , .elementor-112 .elementor-element.elementor-element-4ba18a5:hover #Path_2945{
    stroke:var(--e-global-color-3f9462a5);
}
.elementor-112 .elementor-element.elementor-element-4ba18a5 .aux-widget-advanced-text:after{
    content:"";
    width: 156px;
    height: 168px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='215.828' height='228.762' viewBox='0 0 215.828 228.762'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23277aff'/%3E%3Cstop offset='1' stop-color='%230042a8'/%3E%3C/linearGradient%3E%3Cfilter id='Intersection_2' x='0' y='0' width='215.828' height='228.762' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='7' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='10' result='blur'/%3E%3CfeFlood flood-color='%232679fd' flood-opacity='0.302'/%3E%3CfeComposite operator='in' in2='blur'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='matrix(1, 0, 0, 1, 0, 0)' filter='url(/wp-content/uploads/sites/169/elementor/css/%23Intersection_2)'%3E%3Cpath id='Intersection_2-2' data-name='Intersection 2' d='M9248.218,8891.23a12.46,12.46,0,0,1,10.8-12.346l.117-8.726a73.99,73.99,0,0,1-54.59-28.791l-14.95,9.26a12.464,12.464,0,1,1-1.921-3.1l14.711-9.11a73.754,73.754,0,0,1-13.221-41.68l-13.723-1.979a7.848,7.848,0,1,1,.406-2.833l13.35,1.926a73.8,73.8,0,0,1,17.4-45.453l-11.657-11.1a12.459,12.459,0,0,1-17.658-2.379h20.442l11.289,10.75a74.463,74.463,0,0,1,12.491-10.75H9306q.382,0,.759.028l-.374.9a74.521,74.521,0,0,1,9.573,8.161c.027.3.041.606.041.915v103.333a74.465,74.465,0,0,1-8.85,7.649l3.166,3.881a8.933,8.933,0,0,1,5.684-.979v17.582a9.034,9.034,0,0,1-1.408.11,8.9,8.9,0,0,1-6.793-14.656l-3.314-4.066a73.784,73.784,0,0,1-41.2,12.5c-.167,0-.339,0-.506,0l-.117,8.662a12.456,12.456,0,1,1-14.442,12.3Z' transform='translate(-9130.17 -8711.92)' fill='url(/wp-content/uploads/sites/169/elementor/css/%23linear-gradient)'/%3E%3C/g%3E%3C/svg%3E");
    background-position: top right;
    background-size: contain;
    position: absolute;
    top: -16px;
    right: -21px;
    transition: all 250ms ease-in;
    opacity: 0;
}
.elementor-112 .elementor-element.elementor-element-4ba18a5:hover .aux-widget-advanced-text:after{
    opacity: 1;
}/* End custom CSS */